[2015-08-20 14:01] pwittchen opened #2 "Update version to 0.0.2 in README.md & create new GitHub release"
Update version to `0.0.2` in README.md & new create GitHub release after Maven Sync.
Archives are already uploaded to Maven Central. We're waiting for Maven Sync.

Check changes here: https://github.com/pwittchen/ReactiveNetwork/compare/v0.0.1...master

Proposed release notes:
- improved WiFi Access Points scanning
- updated documentation

[2015-08-20 16:52] pwittchen commented on #2
Done.

[2015-08-20 16:52] #2 closed

[2015-08-29 13:58] tamsir opened #3 "Execute function twice"
Hello good library.
I have a problem with the function
[code]
The " // do something with connectivityStatus" is executing twice.
Please you have a solution? Thanks

[2015-08-29 16:25] pwittchen commented on #3
Hello.

Can you describe situation in which it executes twice? Does it execute twice all the time? What are steps to reproduce?

It will be executed **every time, when connectivity changes**. For example:
- when you connect to WiFi network
- when you turn off WiFi and disconnect from WiFi network
- when you connect to mobile network
- when you disconnect from mobile network

[2015-08-29 16:42] tamsir commented on #3
Yes, the function is execute twice all the time.
Here is the activity
[code]
The function is in setUpListeners();
Thanks

[2015-08-29 16:52] tamsir commented on #3
Even if I wrote this
[code]
In the log I have twice
08-29 16:51:29.068    4486-4486/com.github.pwittchen.reactivenetwork D/onResume﹕ connected to WiFi
08-29 16:51:29.068    4486-4486/com.github.pwittchen.reactivenetwork D/onResume﹕ connected to WiFi

[2015-08-29 16:57] pwittchen commented on #3
I think, you are using this library in a wrong way. You are creating subscription, when user clicks (touches) the button and then start observing connectivity. I guess in your case, you just need to check if you have an internet connection. You can do it without any library with the following method:

[code]

Nevertheless, I'll check this issue.

[2015-08-29 17:24] tamsir commented on #3
Ok Thanks

[2015-08-30 14:38] pwittchen commented on #3
This problem should be fixed in PR #4. Thanks for reporting that issue.
Fix will be available in the next release.

[2015-08-30 14:38] #3 closed

[2015-08-30 15:27] pwittchen opened #6 "Update version to 0.0.3 in README.md after Maven Sync"
Version `0.0.3` was uploaded to Maven Central Repository.
Version number needs to be updated in `README.md` after Maven Sync.

[2015-08-30 19:59] pwittchen opened #7 "Create GitHub release for 0.0.3 after updating README.md"
Initial release notes:
- removed `WifiManager.WIFI_STATE_CHANGED_ACTION` filter from `BroadcastReceiver` for observing connectivity (now we're observing only situation when device connects to the network or disconnects from the network - not situation when user turns WiFi on or off)
- added `UNDEFINED` element for `ConnectivityStatus`
- fixed bug causing emission of the same `ConnectivityStatus` t

[2015-08-31 23:27] pwittchen commented on #6
Done.

[2015-08-31 23:27] #6 closed

[2015-08-31 23:29] pwittchen commented on #7
Done.

[2015-08-31 23:29] #7 closed

[2015-09-02 05:52] inigo-jimenez opened #8 "observeWifiAccessPoints suddenly doesn't work"
my app was being used successfully observeWifiAccessPoints and observeConnectivity and suddenly observeWifiAccessPoints has stopped working (now never goes to "call" procedure).

This is my code:

    @Override
    protected void onResume() {
        super.onResume();
        // Register interest for two different actions related to power
        registerReceiver(powerMonitor, new IntentFilter("an

[2015-09-02 10:12] pwittchen commented on #8
Thank you for reporting the issue.
Does it happen all the time? I think it may be related to bug or bad design of Android SDK. I've seen on StackOverflow that people have similar problems with WiFi scanning. I will check this out and try to fix it within library.

[2015-09-02 10:43] #8 closed

[2015-09-02 10:46] pwittchen commented on #8
It looks that problem was caused by lack of `WifiManager.SCAN_RESULTS_AVAILABLE_ACTION` filter for `BroadcastReceiver`. Now it should work fine. Moreover I've slightly updated sample app.
Fix will be available in the next release. If you want to verify it now, you can clone repository and check sample app.

[2015-09-02 10:50] pwittchen opened #11 "Bump version to 0.0.4 in README.md after Maven Sync"

[2015-09-02 10:55] pwittchen opened #12 "Create GitHub release of 0.0.4 after updating README.md"
Initial release notes:
- added `WifiManager.SCAN_RESULTS_AVAILABLE_ACTION` to BroadcastReceiver responsible for receiving WiFi access points scan results
- fixed bug connected with improper work of `observeWifiAccessPoints()` method reported in issue #8
- updated sample app

[2015-09-02 11:00] pwittchen commented on #11
Archives are uploaded to Maven Central Repository.
Now we're waiting for Maven Sync.

[2015-09-02 13:55] pwittchen commented on #11
Maven Sync is done.
README.md is updated.

[2015-09-02 13:55] #11 closed

[2015-09-02 13:59] pwittchen commented on #12
Done.

[2015-09-02 13:59] #12 closed

[2015-09-02 14:03] pwittchen commented on #8
@inigo-jimenez release of version [0.0.4](https://github.com/pwittchen/ReactiveNetwork/releases/tag/v0.0.4) is available now on Maven Central.
Please, check [download section](https://github.com/pwittchen/ReactiveNetwork#download).

[2015-09-03 04:29] inigo-jimenez commented on #8
fixed!! well done, thanks!

[2015-09-05 15:04] josias1991 opened #13 "Add other network stautuses"
Add the following to detect WIFI connectivity status, the same way you did in the NetworkingEvents Library:

    WIFI_CONNECTED("connected to WiFi"),
    WIFI_CONNECTED_HAS_INTERNET("connected to WiFi (Internet available)"),
    WIFI_CONNECTED_HAS_NO_INTERNET("connected to WiFi (Internet not available)"),

for wifi you only have
WIFI_CONNECTED("connected to WiFi")

[2015-09-06 17:00] pwittchen commented on #13
Thanks for reporting the issue. This library doesn't have these statuses, because it's simpler. I'll take a look on that and probably add mentioned statuses.

[2015-09-07 10:45] pwittchen commented on #13
Final behavior of ReactiveNetwork should be like described in the issue: https://github.com/pwittchen/NetworkEvents/issues/87
We also need to add method like `enableInternetCheck()` or something similar for users who want to activate this potential feature.

[2015-09-09 14:03] josias1991 commented on #13
Awesome man, thanks for keeping it in mind!

[2015-09-13 14:43] pwittchen opened #15 "Release v. 0.1.0"
Initial release notes:
- changed `UNDEFINED` status to `UNKNOWN`
- added `WIFI_CONNECTED_HAS_INTERNET` and `WIFI_CONNECTED_HAS_NO_INTERNET` statuses
- added `enableInternetCheck()` method to `ReactiveNetwork` object. When it's called, `WIFI_CONNECTED_HAS_INTERNET` and `WIFI_CONNECTED_HAS_NO_INTERNET` statuses can occur. Otherwise, only `WIFI_CONNECTED` can occur.

[2015-09-13 14:50] pwittchen commented on #13
Done. It will be available in the next release.

[2015-09-13 14:50] #13 closed

[2015-09-13 14:51] josias1991 commented on #13
You my friend, are awesome!

[2015-09-13 14:53] pwittchen commented on #15
Version was bumped to 0.1.0 in #16.

[2015-09-13 14:55] pwittchen commented on #13
You're welcome.
You can find more info about new feature here: https://github.com/pwittchen/ReactiveNetwork#enabling-internet-check.

Release of version 0.1.0 is on the way.

[2015-09-13 14:59] pwittchen commented on #15
Archives were uploaded to Maven Central Repository. Now, we're waiting for Maven Sync.

After Maven Sync:
- update version in README.md
- create GitHub release

[2015-09-13 16:36] #15 closed

[2015-09-17 19:09] wrparrish opened #17 "Subscription for connectivity status is not being called"
*Update*     I  neglected to call enableInternetCheck()  on the ReactiveNetworkObject.

[2015-09-17 19:38] pwittchen commented on #17
I've made some small changes. You can read about them in the latest release notes here: https://github.com/pwittchen/ReactiveNetwork/releases/tag/v0.1.0

I've checked sample app from this repository (https://github.com/pwittchen/ReactiveNetwork/tree/master/app) a moment ago and it works fine.

Moreover, in version 0.0.3 I've removed one of the BroadcastReceiver filter: `WifiManager.WIFI_STATE_CHAN

[2015-09-17 19:42] pwittchen commented on #17
`enableInternetCheck()` method is required only in the case, when you want to check if given WiFi network is connected to internet.

Is it working now in your app?

[2015-09-17 20:25] wrparrish commented on #17
I think so,

I am getting the calls now,  thank you!  The change you made makes sense,
and explains the difference in what I was seeing upon upgrade.
On Sep 17, 2015 3:42 PM, "Piotr Wittchen" <notifications@github.com> wrote:

[2015-09-17 20:34] pwittchen commented on #17
Great!

Thanks for reporting the issue and adding new comment.
I think, we can close this issue for now.

If you encounter any troubles or doubts in the future, feel free to create another issue.
Any kind of feedback is appreciated

Happy coding,

Regards,
Piotr

[2015-09-17 20:34] #17 closed

[2015-09-23 18:22] pwittchen opened #18 "Bump RxJava to 1.0.14"

[2015-09-24 09:01] pwittchen opened #19 "Release v. 0.1.1"
Initial release notes:
- bumped RxJava to v. 1.0.14
- bumped Gradle Build Tools to v. 1.3.1

[2015-09-24 12:02] #18 closed

[2015-09-24 12:09] pwittchen commented on #19
Archives are uploaded to Maven Central. Now, we're waiting for Maven Sync. After Maven Sync `README.md` file will be updated and GitHub release will be created.

[2015-09-27 07:54] pwittchen commented on #19
Done.

[2015-09-27 07:54] #19 closed

[2015-09-30 20:55] adennie opened #21 "emit current ConnectionStatus on subscription"
a feature request - could you emit the current ConnectionStatus at subscription time?

[2015-10-01 10:58] pwittchen commented on #21
Thank you for reporting this issue. Actually current `ConnectionStatus` is emitted at subscription time in the following cases:
- device is connected to WiFi network
- device is connected to mobile network

The only situation, when `ConnectionStatus` is not emitted at subscription time is when device is offline (is not connected to any network).

I've tested it a few seconds ago. If you find it us

[2015-10-01 11:58] pwittchen opened #25 "Release 0.1.2"
**Initial release notes**:
- now library is emitting `OFFLINE` status at subscription time, when device is not connected to any network
- bumped target SDK version to 23
- bumped buildToolsVersion to 23.0.1
- removed `CHANGE_NETWORK_STATE` and `INTERNET` permissions from `AndroidManifest.xml`, because they're no longer required

**Things to do**:
- [x] bump library version
- [x] upload archives to

[2015-10-01 12:17] pwittchen commented on #21
I've added emission of `OFFLINE` status when user is not connected to any network. It will be available in the next release. If something will still work in a wrong way, please create another issue or reopen this issue.

[2015-10-01 12:17] #21 closed

[2015-10-01 19:18] #25 closed

[2015-10-02 18:22] JosiasSena opened #27 "Mobile data loss and 100% loss"
Hey man, first off. Thanks for all your hard work. The library is amazing.

I was using your library and i noticed there is something missing. We cannot check mobile data loss nor can we check 100% loss.

Yes, the library detects if there is no internet (airplane mode) or if we do have internet (Wifi connected, internet available and mobile connected) but it would be nice if the following scenario

[2015-10-02 23:25] pwittchen commented on #27
Thank you for reporting that issue. This library is not designed to handle situations mentioned by you. `UNKOWN` status should be set in case if no status was set already. I think, it shouldn't occur in another situations. You can optionally test your case with `OFFLINE` status.

I'm not sure how to handle your case with mobile data loss and also how to test it properly. I'm not sure if I can repr

[2015-10-03 14:24] pwittchen commented on #27
I think, the right way to solve your problem could be usage of [TelephonyManager](http://developer.android.com/reference/android/telephony/TelephonyManager.html) and [PhoneStateListener](http://developer.android.com/reference/android/telephony/PhoneStateListener.html). It may be an idea for a new project, because this library could become to heavy if we throw everything in it.

[2015-10-03 14:59] josias1991 commented on #27
Thanks for the quick response!

Sounds good man, just thought it would be worth mentioning it.

Thanks anyways, ill keep on looking into it a bit more and finding the best way to do this in combination with your library.

[2015-10-05 21:28] carstenbaumhoegger opened #28 "Activity has leaked IntentReceiver"
I'm using ReactiveNetwork in a normal Java class and pass an Activity as the Context.
Before the Activity gets destroyed I call `mSubscription.unsubscribe`, but the error still occurs.
Maybe you can have a look at it?
[code]

[2015-10-05 21:39] pwittchen commented on #28
Can you provide code, which caused this error? It will be much more easier to reproduce this bug and fix it. Without that, it's quite hard.

In your error, we can see message `Are you missing a call to unregisterReceiver()?`, but receiver is unregistered in `unsubscribe()` method. Probably something is messed with `Context` or threads used in RxJava subscription.

[2015-10-05 21:48] carstenbaumhoegger commented on #28
Sure, here's the code, I'm using, hope this helps.

This is the method that does the subscription
[code]

And here I call `unregister`
[code]

[2015-10-05 21:56] pwittchen commented on #28
Thanks!
I have a few more questions. Where do you call `checkWifiConnection()` method and `closeConnection()` method? You've written in the first post that these methods are not located in the Activity. How to you call these methods from your Activity? I need to know more details to reproduce this bug.

[2015-10-06 18:12] carstenbaumhoegger commented on #28
`checkWifiConnection()` get's called in the Activities `onResume()` method and `closeConnection()` is called in `onPause()`.
Could be wrong lib usage, but I don't know, what mistake I'm making here :D

[2015-10-06 19:03] carstenbaumhoegger commented on #28
Okay, I rewrote a few parts of the code and re-located the method calls and now it seems to work without the error.
My fault, sorry that I bothered you with it.
Great lib, keep up the good work!

[2015-10-06 19:03] #28 closed

[2015-10-06 19:10] pwittchen commented on #28
Great! I'm glad you found source of the problem and fixed it. :-)

[2015-10-12 14:17] pwittchen opened #29 "Add static code analysis"

[2015-10-12 14:17] pwittchen opened #30 "Add sample app in Kotlin"

[2015-10-19 08:03] hcjcch opened #31 "In demo, if I click back button to quit, then it won't work next time"
I think `private static ConnectivityStatus status = ConnectivityStatus.UNKNOWN;` should be changed to `private ConnectivityStatus status = ConnectivityStatus.UNKNOWN;`

[2015-10-19 09:22] pwittchen commented on #31
Can you explain, what do you mean by "no work"? Application crashed or it wasn't reacting on connectivity changes? Do you have any LogCat output, which can help to find source of the potential problem?

In `ReactiveNetwork` class, `status` attribute is static, because I wanted to have a single instance of `ConnectivityStatus`, which could be used to verify if status changed or not after receiving

[2015-10-19 18:17] pwittchen commented on #31
I'll test it and try to reproduce this bug.

[2015-10-20 02:51] hcjcch commented on #31
[code]
The `status` is static ,if you quit the application(not kill),the `status`will keep the last time the value.If your network status not change,`newStatus != status` will false ,and `tvConnectivityStatus`will always show `Waiting for connectivity status` until your network status be changed.

[2015-10-20 07:24] pwittchen commented on #31
Thank you. This explanation is quite clear. I'll try to reproduce it. If your suggestion is right, it may be quick fix.

[2015-10-23 11:46] pwittchen opened #32 "Verify correctness of demo apps and code snippets"

[2015-10-25 14:54] #32 closed

[2015-11-02 22:30] pwittchen commented on #31
I was able to reproduce this bug. It's fixed in https://github.com/pwittchen/ReactiveNetwork/commit/f34a53c8f52256b24534b88d17cc0db0930dcfa8. I'm sorry that you had to wait so long for such simple change. Fortunately, I found a moment to take a look at this issue.

This fix will be available in the next release.

[2015-11-02 22:30] #31 closed

[2015-11-02 22:33] pwittchen opened #33 "Release v. 0.1.3"
**Note**: Consider resolving remaining open tasks before releasing new version.

**Initial release notes**:
- fixed bug with incorrect status after going back from background inside the sample app reported in issue #31
- fixed RxJava usage in sample app
- fixed RxJava usage in code snippets in `README.md`
- added static code analysis
- updated code formatting
- added sample sample app in Kotlin

*

[2015-11-03 22:07] #29 closed

[2015-11-06 17:28] #30 closed

[2015-11-06 22:53] #33 closed

[2015-12-07 15:40] pwittchen opened #37 "Update dependencies"

[2015-12-09 21:20] pwittchen commented on #37
Solved in https://github.com/pwittchen/ReactiveNetwork/commit/e0bd7e8186eb74130bd771068ca7f7faf398e6c0.

[2015-12-09 21:20] #37 closed

[2015-12-10 17:26] pwittchen opened #38 "Release 0.1.4"
**Initial release notes**:
- bumped RxJava dependency to v. 1.1.0
- bumped RxAndroid dependency to v. 1.1.0
- bumped Google Truth test dependency to v. 0.27

**Things to do**:

- [x] bump library version
- [x] upload archives to Maven Central
- [x] close and release artifact on Maven Central
- [x] update `CHANGELOG.md` after Maven Sync
- [x] bump library version in `README.md`
- [x] create new Git

[2015-12-10 23:46] pwittchen opened #39 "Bump RxAndroid version in dependency list to v. 1.1.0"

[2015-12-11 23:51] pwittchen commented on #39
Solved in https://github.com/pwittchen/ReactiveNetwork/commit/3564a59f68c013d120133d8e152d1fedcc9f6f16.

[2015-12-11 23:51] #39 closed

[2015-12-13 17:45] #38 closed

[2016-01-10 16:11] pwittchen opened #41 "add note about memory leak in WiFi manager and fix code samples"
The same issue was reported here: https://github.com/pwittchen/NetworkEvents/issues/106

[2016-01-10 16:12] pwittchen opened #42 "Fix WiFi scanning on Android 6"
Add `ACCESS_COARSE_LOCATION` permission.

Related thread on StackOverflow: http://stackoverflow.com/questions/32151603/scan-results-available-action-return-empty-list-in-android-6-0

[2016-01-10 16:13] pwittchen opened #43 "Release 0.1.5"
**Initial release notes**:

- Due to memory leak in WifiManager reported in issue [43945](https://code.google.com/p/android/issues/detail?id=43945) in Android issue tracker replaced Activity Context with Application Context in sample notes and added appropriate note in `README.md`
- added `ACCESS_COARSE_LOCATION` permission to `AndroidManifest.xml` to be able to scan WiFi access points on Android

[2016-01-10 16:39] #42 closed

[2016-01-10 16:40] #41 closed

[2016-01-10 20:37] #43 closed

[2016-02-02 14:25] pwittchen opened #46 "Make getConnectivityStatus(context) method from ReactiveNetwork class public"
Make `getConnectivityStatus(context)` method from `ReactiveNetwork` class public in case if someone would like to use it. Moreover, extract `internetConnectionCheckEnabled` boolean value to method parameter to get rid of tight coupling.

[2016-02-06 23:05] pwittchen commented on #46
Solved in https://github.com/pwittchen/ReactiveNetwork/commit/1a82547c39195980d6521669fda169b40a502e8f

[2016-02-06 23:05] #46 closed

[2016-02-06 23:06] pwittchen opened #47 "Release 0.2.0"
**Initial release notes**:

- added possibility to observe WiFi signal level with `observeWifiSignalLevel(context, numLevels)`  and `observeWifiSignalLevel(context)` method
- created `WifiSignalLevel` enum
- added internet check to parameters of `getConnectivityStatus(context, checkInternet)` method
- made `getConnectivityStatus(context, checkInternet)` method public
- changed String variable `sta

[2016-02-07 20:46] pwittchen opened #48 "Investigate Observable<WifiSignalLevel> observeWifiSignalLevel(context) method"
Investigate `Observable<WifiSignalLevel> observeWifiSignalLevel(context)` method and find optimal num levels. Current is 5 (without zero, which stands for "no signal"), but probably 4 would be better. Update `WifiSignalLevel` enum if necessary.

[2016-02-09 19:56] #48 closed

[2016-02-10 15:18] #47 closed

[2016-02-16 22:46] kdani41 opened #49 "Question: nested calling"
Hi,

First off amazing library!!!. Thanks for devoting your time :+1:
My question might not be specific to your library but I'm stuck in this small problem. I will really appreciate if you can help.

So, basically what i want to achieve is according to the internet connection I want to fire the api call and to do this I think I have to combine 2 observables (one is from your library and one is min

[2016-02-17 17:30] pwittchen commented on #49
Hi,

Thanks for your question! It's actually not related to this library, but to RxJava and Reactive Programming. I think you should use [zip()](http://reactivex.io/documentation/operators/zip.html) operator from RxJava library in order to combine two or more Observables. This will allow you to fire API call when internet connection is available without breaking a chain. When I find some time, I'l

[2016-03-11 16:27] agatti opened #50 "Is android.permission.ACCESS_COARSE_LOCATION really needed?"
Hi there,

  as per subject, is ACCESS_COARSE_LOCATION really needed to be requested by applications using ReactiveNetwork?  I've tried to remove it on a custom build of the library and it doesn't seem to cause any ill effects, but maybe I'm missing something here...

Thank you!

[2016-03-11 16:39] pwittchen commented on #50
It's needed if we want to observe WiFi access points. For just observing connectivity it's actually not needed. We can think of managing this permission in a better way or extracting WiFi monitoring functionality to a separate library.

[2016-03-11 16:42] pwittchen commented on #50
For now, you can use such solution to override this permission in your app: http://stackoverflow.com/questions/27962789/android-gradle-manifest-merger-override-uses-permission-attribute-coming-from

[2016-03-11 16:52] agatti commented on #50
I see...  Indeed I only use the library for checking the connectivity status.  Interestingly enough, the latest Android Studio lint didn't spot the problem when removing said permission (whilst complaining when removing any of the other ones).

I wonder if it would be possible to only have said permission if building for anything earlier than API23 and switch to a request-permission model otherwis

[2016-03-11 16:59] pwittchen commented on #50
I know about permission model in Android 6, but I also want to keep compatibility with Android 4 and up for now, because some people still use it. Moreover, I think that handling permission requests shouldn't be part of the library.

Thanks for your question. Feel free to ask more, if you have any doubts. :)

[2016-03-30 05:30] narendrakothamire opened #51 "How to detect if my mobile data is enabled, but don't have internet connection"
Hi

Thanks for this lib bro and for making it reactive
but I have an issue how do i detect if i have internet or not when my mobile data is enabled

[2016-03-30 14:27] pwittchen commented on #51
Hi,

I assumed that when you're connected to mobile network (mobile data transfer is activated), you already have an internet access. I don't know if it's possible that you have mobile data transfer activated and there's no internet access. Have you encountered such situation?

[2016-04-02 16:59] narendrakothamire commented on #51
Yes in some areas you might have your mobile data enabled but there may not be internet or there is no tower signal

[2016-04-02 17:07] pwittchen commented on #51
Ok, I'll take a look on that when I find some time.

[2016-04-03 21:38] wrparrish commented on #51
I run into this issue often (In subways, and other areas where there is no signal at all) and it would be great to have a bundled solution with your library.  We've been using it in production for almost a year, and it's been great.

[2016-04-04 05:19] pwittchen commented on #51
@narendrakothamire @wrparrish Ok. If it's an issue I'll work on that. Thanks for your comments!

[2016-04-19 21:35] sregg opened #52 "Is android.permission.CHANGE_WIFI_STATE really needed?"
and if so, for what purpose?

[2016-04-20 07:02] pwittchen commented on #52
Hi. I needed it to implement one of the library functionalities. To be honest, right now I don't remember, which one. Probably it's related to observing WiFi access points. I'll investigate it later and give you more concrete answer.

[2016-04-20 07:04] pwittchen commented on #52
Maybe it'll be good idea to extract observing WiFi access points functionality to a separate library, because issue #50 is similar to this one. It should reduce number of required permissions.

[2016-04-20 17:35] sregg commented on #52
Yes that would be a good idea to sepparate the features
I managed to remove the unnecessary permissions using
`<uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove"/>`

[2016-05-03 22:09] pwittchen commented on #51
Sorry that you have to wait for a long time. This is actually my side project, so I cannot work on it full time. I'm working on that issue. I had some problems with obtaining deterministic results with network monitoring merged with Internet connectivity checking via `zip()` operator from RxJava.

Moreover, I see the following scenario:
1. device is connected to mobile or WiFi network
2. given net

[2016-05-04 14:42] pwittchen commented on #51
Maybe more appropriate method names would be as follows:
- `Observable<ConnectivityStatus> observeNetworkConnectivity()` (instead of `observeConnectivity()`)
- `Observable<Boolean> observeInternetConnectivity()` (new method)

Then, names are would be explicit and meaningful.

[2016-05-04 17:51] pwittchen opened #53 "Release 0.3.0"
**Initial release notes**:

- removed `enableInternetCheck()` method
- removed  `ConnectivityStatus.WIFI_CONNECTED_HAS_INTERNET` enum value
- removed `ConnectivityStatus.WIFI_CONNECTED_HAS_NO_INTERNET` enum value
- changed method name from `Observable<ConnectivityStatus> observeConnectivity(final Context context)` to `Observable<ConnectivityStatus> observeNetworkConnectivity(final Context context)

[2016-05-04 17:52] pwittchen opened #54 "Release 0.4.0"
**General draft for the notes**:

This release will be dedicated to removing methods for observing WiFi access points and WiFi signal level from the library and reducing number of permissions in `AndroidManifest.xml` file (mentioned in #50 and #52). This functionality will be extracted to a separate library, which will be mentioned and linked in release notes and `README.md` file.

**Initial relea

[2016-05-04 20:24] wrparrish commented on #51
I like that!

the new method that does some light interval socket communication sounds perfect.  It would quickly catch a loss in connection ( IE  going underground to get into the subway ).

I do also find the wifi_connected_has_internet  and  wifi_connect_has_no_internet  very useful,  but if they need to be removed i can work around that.   Thanks for taking the time to address this request.

[2016-05-05 10:21] pwittchen commented on #51
Ok. I'm planning to add such improvements in the release of v. 0.3.0 ➡️ #53.
You'll still be able to use `WIFI_CONNECTED` and `MOBILE_CONNECTED` status.

As far as I see `WIFI_CONNECTED_HAS_INTERNET` is not checking real Internet connection what has reported some time ago in one of the issues in my GitHub projects. That's why I'm going to remove this status.

[2016-05-05 21:45] pwittchen commented on #51
Changes are now available on `internet-check-fix` branch. When CI build will pass and I will test it, then it'll be merged to the master branch. I'll appreciate any suggestions, comments and code reviews in this Pull Request.

[2016-05-06 15:59] pwittchen opened #56 "Update documentation for 0.3.0"

[2016-05-06 15:59] pwittchen opened #57 "Update documentation for 0.4.0"

[2016-05-06 23:31] pwittchen commented on #56
It's related to PR #55.

[2016-05-07 19:44] #56 closed

[2016-05-07 19:46] pwittchen commented on #51
Updates are merged to the master branch and documentation in the `README.md` file is updated. New features will be available in release 0.3.0.

[2016-05-07 19:46] #51 closed

[2016-05-07 19:48] pwittchen opened #59 "Update dependencies"
- RxJava needs to be updated to v. 1.1.5
- RxAndroid needs to be updated to v. 1.2.0
- Google Truth needs to be updated to v. 0.28

[2016-05-07 19:54] pwittchen commented on #59
Done in https://github.com/pwittchen/ReactiveNetwork/commit/2dc92c286f8cd5a5b554399778bc1b1589777c70

[2016-05-07 19:54] #59 closed

[2016-05-07 21:18] pwittchen opened #60 "Add backward compatibility for 0.3.0 and appropriate annotations"
add `observeConnectivity()` method back to keep backward compatibility in 0.3.0 and deprecate it. It will be removed in 0.4.0. Other methods like: `getConnectivityStatus(context, boolean)` and `enableInternetCheck` are obsolete and no longer valid, so they can be removed. Consider deprecating methods related to WiFi (create a separate library for them first).

[2016-05-07 21:20] pwittchen opened #61 "Extract Observing WiFi Access Points and Observing WiFi signal level to separate project"
These methods should be deprecated in 0.3.0 and removed in 0.4.0.
After extraction unused permissions can be removed in Manifest in v. 0.4.0.

[2016-05-08 17:57] Rainer-Lang commented on #49
@pwittchen I'm also interested in an example of your lib combined with retrofit.

[2016-05-08 18:00] pwittchen commented on #49
@kdani41 @Rainer-Lang I was quite busy, so I haven't published it yet. Sorry for a long delay. I'm also working on a few updates in this project. I'll try to publish this sample ASAP and then notify you in the comments in this issue.

[2016-05-30 21:08] epicstar opened #62 "Implicit Broadcast Receivers Going Away After Android N"
Apparently, Implicit Broadcast Receivers are going away in Android O. 3 of them are already gone in N, which includes the CONNECTIVITY_CHANGE broadcast.

I looked into your code and you don't seem to be using that (rather, you create an instance of a generic broadcast receiver and always call the ConnectivityManager for every broadcast received from it), but it's possible your current method of ca

[2016-05-30 22:01] pwittchen commented on #62
Thanks for creating that issue. I didn't know about that. I'll take a closer look on that update in Android N and write a more detailed answer later when I find some time in the nearest days.

[2016-05-30 22:12] pwittchen commented on #62
I quickly browsed docs and I can give you a short answer. As far as I see in the documentation, Google Developers extended `ConnectivityManager` and added some new listeners, what you can read here: https://developer.android.com/reference/android/net/ConnectivityManager.html. I think, we can create a strategy with Broadcast for "pre-N" devices (existing solution) and a new strategy for "N and high

[2016-05-30 22:18] pwittchen opened #63 "Release 0.5.0"
This release should resolve problem raised in #62.

**Initial release notes**:

- handled all connection types (including Ethernet) (issue #71)
- removed `ConnectivityStatus` enum and replaced it with `Connectivity` class.
- replaced `Observable<ConnectivityStatus> observeNetworkConnectivity(final Context context)` method with `Observable<Connectivity> observeNetworkConnectivity(final Context cont

[2016-05-30 22:21] pwittchen commented on #62
I've added this issue to the Roadmap. The plan is to implement it for release 0.5.0. I think, 0.3.0 should be released in the nearest days and 0.4.0 shortly after the previous version. I just need to find some time for this.

[2016-05-31 16:26] pwittchen commented on #62
Yeah, I was thinking about `NetworkCallback` as it's part of new `ConnectivityManager`. I think new strategy can be implemented for Android L (API 21) and higher because a new implementation is available there. Pull Requests and new issues are always welcome :). I just need to release latest updates, which I have in mind and then this issue can be resolved (when v. 0.4.0 will be released).

[2016-06-05 19:52] pwittchen commented on #61
New library was already created: https://github.com/pwittchen/ReactiveWiFi
It needs to be uploaded to Maven Central Repository.

In v. 0.4.0 the following permission can be removed from ReactiveNetwork:
- `android.permission.ACCESS_WIFI_STATE`
- `android.permission.CHANGE_WIFI_STATE`
- `android.permission.ACCESS_COARSE_LOCATION`

[2016-06-05 21:16] pwittchen opened #65 "Add link to ReactiveWiFi project to README.md"
Here is the project: https://github.com/pwittchen/ReactiveWiFi

Do it after merging PR #64 to the master branch.

Add appropriate comment.

[2016-06-06 20:52] pwittchen commented on #60
Done.

[2016-06-06 20:52] #60 closed

[2016-06-06 20:58] pwittchen commented on #65
Done.

[2016-06-06 20:58] #65 closed

[2016-06-06 22:31] #53 closed

[2016-06-07 16:32] pwittchen opened #66 "Remove deprecated methods and not necessary permissions"
For more details see issue #61.

[2016-06-07 20:47] pwittchen commented on #52
After merging PR #67, this permission can be removed from the Manifest of the library.
In release 0.4.0 this permission will be no longer needed.

[2016-06-07 20:48] pwittchen commented on #50
After merging PR #67 to the master branch, this permission can be removed from the Manifest of the library. In release v. 0.4.0, this permission will be no longer needed.

[2016-06-09 15:40] #66 closed

[2016-06-09 15:41] pwittchen commented on #50
Removed by PR #67.

[2016-06-09 15:41] #50 closed

[2016-06-09 15:42] pwittchen commented on #52
Permission removed by PR #67.

[2016-06-09 15:42] #52 closed

[2016-06-09 15:43] #61 closed

[2016-06-09 15:50] pwittchen opened #68 "Add example of library usage with Retrofit"
Add example of library usage with Retrofit and update documentation.

It's related to issue #49.

[2016-06-11 13:47] #57 closed

[2016-06-11 14:43] #54 closed

[2016-06-19 02:58] YuriHeupa commented on #68
Also waiting for this!

[2016-06-19 17:36] jaychang0917 opened #69 "Make ReactiveNetwork class singleton?"
This is a great library. But I have a question about the design of `ReactiveNetwork` class.
Is there any concerns that does not make `ReactiveNetwork` class singleton?

[2016-06-24 13:02] pwittchen commented on #69
Hi,

First of all, thank you for asking the question.
I think, in this case, we should avoid Singleton. It's not only my opinion. Here's the quote, which explains this well:

Source: http://stackoverflow.com/a/138012/1150795

I wouldn't avoid Singletons at all. There may be cases when they're useful, but I think, we shouldn't use them too much and try to avoid this pattern when possible.

In the c

[2016-06-24 15:02] jaychang0917 commented on #69
I get your points. But to me, I prefer to use static factory method like `create()` or `newInstance()` according `Effective Java - Item 1: Consider static factory methods instead of constructors`. Just my two cents.

[2016-06-25 19:47] pwittchen opened #70 "Bump library dependencies"
- RxJava
- RxAndroid

[2016-06-25 19:51] pwittchen commented on #69
Yeah. In some cases, it may be good option, but I'd rather leave classical constructor without any singleton here. If you want or need to have a static factory method, you can optionally create additional wrapper object (facade) and create a static factory method for this library there.

[2016-06-25 19:55] pwittchen commented on #70
Done in https://github.com/pwittchen/ReactiveNetwork/commit/5cdf98de13625d8e392acd5d1cd6ad9e6371c3c2.

[2016-06-25 19:55] #70 closed

[2016-06-29 15:24] epicstar commented on #69
Why not make the ReactiveNetwork methods static like the normal rxjava.Observable classes?

[2016-06-29 17:00] pwittchen commented on #69
Creating additional static methods could be a good idea. It's definitely better than making the whole class a Singleton.

[2016-07-01 17:36] epicstar commented on #69
Shall I make an issue to do this? I think this should be a high priority since it would add some nice syntax parity to the rxjava project.

[2016-07-06 12:15] Rainer-Lang commented on #68
Me too.

[2016-07-11 10:48] orbitbot opened #71 "Library does not work with Ethernet and other connection types"
Thanks for a nice library, it looks very useful! We were about to take this into use, but discovered that because of the implementation our app cannot react to ethernet connections. This makes it unsuitable for use on f.e. Android TV which has a ethernet port and is likely to be connected using this, which is our use case.

One solution might be to add ethernet to the available ConnectivityStatus

[2016-07-11 11:31] pwittchen commented on #71
Hi,

Thanks for reporting that issue. I haven't taken into consideration ethernet connection because I focused only on mobile devices. Your idea with monitoring state is good. We can improve existing solution and refactor  code to make it more flexible, so users can monitor network state and type separately if they want to. I will take a closer look on that and if it will be possible, I'll improve

[2016-07-17 17:44] pwittchen opened #72 "Update documentation in README.md after API updates"

[2016-07-17 19:03] pwittchen commented on #71
I've added support for all network types in PR #73. Now it should work with Ethernet connection and actually any connection type. Unfortunately, this update will break library API a little bit, but this change is a real improvement for this project. @orbitbot if you have some time, you can check code and test it on a feature branch to check is everything is ok for you. If there will be any issues,

[2016-07-19 11:23] pwittchen commented on #71
It was merged to 'develop' branch. Now I need to perform other tasks on 'develop' branch. Before release 'develop' will be merged to the 'master' branch.

[2016-07-24 11:58] pwittchen commented on #62
Done. Right now, it's in 'develop' branch. Before next release 'develop' branch is going to be merged into 'master' branch and it will be available.

[2016-07-24 12:08] #72 closed

[2016-07-24 12:09] pwittchen commented on #71
Branch 'develop' was merged into 'master' branch. Update will be available in the release of v. 0.5.0.

[2016-07-24 12:09] #71 closed

[2016-07-24 12:09] pwittchen commented on #62
Branch 'develop' was merged into 'master' branch. An update will be available in the release of v. 0.5.0.

[2016-07-24 12:09] #62 closed

[2016-07-24 12:18] pwittchen opened #77 "Make ReactiveNetwork Observables static like in RxJava library"
An issue mentioned in discussion in #69.
Methods responsible for creating Observables in original RxJava library are static. We are going to apply the same approach here.

[2016-07-24 16:25] pwittchen commented on #77
Done.

[2016-07-24 16:25] #77 closed

[2016-07-24 16:25] pwittchen commented on #69
Static methods are added in the similar manner like in RxJava library. They'll be available in the next release.

[2016-07-24 16:25] #69 closed

[2016-07-24 18:48] #63 closed

[2016-07-24 22:19] pwittchen commented on #68
I remember about that. I just need to find some time for this. Recently, I've bumped library version and added new updates like support for Android N and better network monitoring, which are crucial enhancements in this project. Providing this example will be next on my list. :)

[2016-07-30 17:04] pwittchen opened #79 "Release 0.5.1"
**Initial release notes**:
- bumped RxJava to v. 1.1.8

**Things to do**:
- [x] bump library version to 0.5.1
- [x] upload Archives to Maven Central Repository
- [x] close and release artifact on Nexus
- [x] update `CHANGELOG.md` after Maven Sync
- [x] bump library version in `README.md` after Maven Sync
- [x] create new GitHub release

[2016-07-30 19:07] #79 closed

[2016-08-11 02:18] epicstar commented on #68
I'm currently using this library with Retrofit + RxJava using `Observable#retryWhen()` using one of the older versions of ReactiveNetwork: https://github.com/rectangle-dbmi/Realtime-Port-Authority/blob/7.0.2/app/src/main/java/rectangledbmi/com/pittsburghrealtimetracker/BusMapFragment.java#L555

This will work based on two criteria:

1. the restish API cannot be reached (the retrofit observable thr

[2016-08-26 01:58] epicstar opened #80 "Update to RxJava 2.0.0"
I think it may be time to update ReactiveNetwork to use RxJava 2.x.

RxJava 2.0.0 RC1 is now out: https://github.com/ReactiveX/RxJava/releases/tag/v2.0.0-RC1

In addition, RxAndroid 2.0.0 RC1 is also out: https://github.com/ReactiveX/RxAndroid/releases/tag/2.0.0-RC1

I haven't looked at the new version, but how much effort is it to update ReactiveNetwork to use RxJava 2.0.0?

[2016-08-26 09:04] pwittchen commented on #80
I know about RC release of RxJava 2.0.0, but I haven't taken a look on that and its release notes. I'll check it out and write more detailed information about the future upgrade.

[2016-08-26 09:35] pwittchen commented on #80
Resources, which may be useful during library migration to RxJava 2.0:
- https://github.com/ReactiveX/RxJava/wiki/What's-different-in-2.0
- https://github.com/akarnokd/RxJava2Interop

I think, we can work on migration on a separate git branch, but new release of the library, when RxJava will be officially released and will be no longer RC.

[2016-08-26 19:18] pwittchen commented on #80
I've created branch `update-to-rxjava2`. I'll be working on this branch in order to prepare the library for RxJava 2.0.0.

[2016-08-27 12:29] pwittchen commented on #80
We need to upgrade RxAndroid at the same time as well: https://github.com/ReactiveX/RxAndroid/releases/tag/2.0.0-RC1.

[2016-08-30 20:05] pwittchen commented on #80
As far as I see, it won't be that easy to rewrite library code to RxJava2. They removed and renamed a lot of methods and classes in the public API, so I need to dig deep into code and documentation, to migrate library correctly. I started migration locally today, but it's not going as smoothly as I expected, so it may take some time. It also needs to be tested afterwards.

[2016-08-31 04:07] Rainer-Lang commented on #80
Maybe this helps
https://medium.com/@amitshekhar/migrating-from-rxjava1-to-rxjava2-5dac0a94b4aa

[2016-08-31 17:18] pwittchen commented on #80
Hello again everyone,

I migrated library code and sample apps to RxJava 2.0.0-RC1 and RxAndroid 2.0.0-RC1.
Currently, this is experimental code as both RxJava and RxAndroid released their Release Candidates.
If you want to test it or check it out, see [RxJava2.x](https://github.com/pwittchen/ReactiveNetwork/tree/RxJava2.x) branch in this repository.

[2016-08-31 17:45] pwittchen opened #81 "Update documentation for RxJava 2.x"
Update documentation and samples in `README.md` file for RxJava 2.x related to migration from issue #80. Currently, it should be done on `RxJava2.x` branch.

[2016-08-31 19:59] pwittchen opened #82 "Update dependencies for RxJava 1.x"

[2016-09-01 17:30] pwittchen opened #83 "Release 0.5.2"
**Initial release notes**:
- bumped RxJava to 1.1.9
- bumped Gradle Build Tools to 2.1.3

**Things to do**:

- [x] bump library version to 0.5.2
- [x] upload Archives to Maven Central Repository
- [x] close and release artifact on Nexus
- [x] update `CHANGELOG.md` after Maven Sync
- [x] bump library version in `README.md` after Maven Sync
- [x] merge master branch to RxJava1.x branch
- [x] create

[2016-09-01 17:31] pwittchen commented on #82
Done in https://github.com/pwittchen/ReactiveNetwork/commit/ea9c875c3d0bc195bb768b0133197c8ccdd9cedc

[2016-09-01 17:31] #82 closed

[2016-09-03 12:43] pwittchen opened #84 "Idea: Releasing two separate artifacts (library modules) for RxJava 1.x and RxJava 2.x"
Hello,

I'm creating this issue for the record. It's related to issue #80. RxJava 2.x is in now in RC and its API was massively changed comparing to RxJava 1.x. I want to keep compatibility in this library with RxJava 2.x, but I know a lot of developers will use RxJava 1.x for some time because migration is not that easy and is related to external dependencies. Some apps may use reactive libraries

[2016-09-03 15:53] #83 closed

[2016-09-09 22:43] pwittchen opened #85 "Update external dependencies"
Update dependencies for RxJava 1.x (1.1.10) and RxJava 2.x (RC2) on appropriate branches.

[2016-09-27 09:56] renegens opened #86 "Issue with fragments"
Hello,

Great work on this lib. I am using it in onResume with observeInternetConnectivity() and are creating my subscriptions in onStart. This creates although a problem that even if I have internet the boolean callback is triggered and is showing that the user has internet. Is there any other way except with an another boolean to track the state?

[2016-09-27 15:57] pwittchen commented on #86
Actually, this problem is related to Activity and Fragment lifecycle. When Activity or Fragment are created or resumed, the subscription is started and then you'll get a notification. If you don't want to be notified every time when Activity or Fragment is resumed I see two solutions for now:
- Save information about connectivity somewhere (e.g. to SharedPreferences) and notify the user whenever i

[2016-09-28 09:15] renegens commented on #86
Thanks for the reply. I went ahead and did it the second solution. I think it's more robust in case I need in the future to add something which has a scope of the whole app.

[2016-09-28 09:15] #86 closed

[2016-09-29 10:39] Kisty opened #87 "Unregister receiver crash for Pre-Lollipop devices"
Got a crash on an Asus Transformer (API 16) when rotating the device. I unsubscribe in `onPause` and subscribe in `onResume` but I think there's a problem unregistering the receiver if it's not attached.

I have a subscription from it to a `BehaviourSubject` and multiple subscriptions from the `BehaviourSubject` to other subscribers.

[code]

[2016-09-29 16:10] pwittchen commented on #87
Hi,

Thanks for reporting this issue.

StackTrace says that `Receiver not registered`. Actually, the receiver should be registered when observable is subscribed and unregistered when observable is unsubscribed in UI thread. It may be a concurrency issue. How do you unsubscribe your Observable? I think the safest method is to do it in the following way:

[code]

Remember, that subscription can be n

[2016-09-30 09:02] Kisty commented on #87
Hey thanks for getting back to me.

I must admit I am new to RxJava, but I hae followed that pattern where you subscribe in `onResume` and unsubscribe in `onPause`. I do unsubscribe safely in the way you have outlined but I still got a crash. As I have multiple subscriptions, I add them to a `CompositeSubscription`.

I think there's just a small window where this crash can happen as the unsubscrib

[2016-09-30 16:36] pwittchen opened #89 "Release 0.5.3"
**Initial release notes**:

TBD.

**Things to do**:

TBD.

[2016-10-07 16:17] Kisty opened #91 "Close the socket in the internet check"
I think the socket should be closed here, else isn't it leaking memory?

https://github.com/pwittchen/ReactiveNetwork/blob/master/library/src/main/java/com/github/pwittchen/reactivenetwork/library/ReactiveNetwork.java#L131

[2016-10-08 14:14] pwittchen commented on #91
It can be a good idea. Nevertheless, in this case, we are constantly checking this socket connection in a given interval, so I think it's better to leave it open while the subscription is active. Socket connection can be closed while unsubscribing the Observable. Then, it would be the right improvement.

[2016-10-08 16:28] Kisty commented on #91
OK. But surely it's opening a new socket every ping and leaving the connection open per ping is only going to accumulate sockets open or do they not work in that way?

[2016-10-11 04:24] epicstar opened #92 "Create Observables with Observable.fromEmitter() instead of Observable.create()"
I've noticed that the source code uses `Observable.create()`  methods to either create observables on:
- Broadcast receivers for broadcasted network events (pre-lollipop)
- network callbacks (lollipop+)

I've been following talks on RxJava, and one of the biggest sins today is the use of `Observable.create()`. Using this operator to create observables means that you know that you are creating an o

[2016-10-11 04:30] epicstar commented on #92
As an addendum to the description, I would consider this a bit of a high priority. The library will greatly benefit from using the newer operators.

[2016-10-11 21:49] pwittchen commented on #92
Thanks for creating this issue. I'll take a look on that. Any ideas for improvements are welcome.

[2016-10-11 21:52] pwittchen commented on #91
I need to investigate or debug it to be sure about exact behavior. After an investigation, we can apply correct improvement. E.g. closing socket on unsubscribe or add finally block for doing that.

[2016-10-15 11:30] pwittchen opened #93 "Review project and do cleanups"
Review project after last merges and do a few cleanups if necessary.

[2016-10-15 11:53] pwittchen opened #94 "Handle an exception in PreLollipopNetworkObservingStrategy"

[2016-10-15 12:08] pwittchen commented on #89
There were bigger changes, so probably we'll release 0.6.0 instead of 0.5.3.

[2016-10-15 12:08] #89 closed

[2016-10-16 18:08] #93 closed

[2016-10-16 18:22] pwittchen opened #97 "Release 0.6.0"
**Initial release notes**:

- fixed bug with the crash during unregister receiver for Pre-Lollipop devices #87
- extended `NetworkObservingStrategy` with `void onError(String message, Exception exception)` method, which allows handling errors in network observing strategies
- closed the socket in the Internet connection check #91
- added `SocketErrorHandler` with a default implementation in `Defau

[2016-10-16 20:13] #94 closed

[2016-10-16 21:11] #91 closed

[2016-10-16 21:42] pwittchen commented on #85
For now solved in #99 and https://github.com/pwittchen/ReactiveNetwork/commit/47fa753002737c74fa574a6ff4e2cc8fdff10ac5.

[2016-10-16 21:42] #85 closed

[2016-10-16 21:45] pwittchen opened #100 "Include latest changes from 'master' branch in 'RxJava2.x' branch"

[2016-10-17 17:26] pwittchen opened #101 "Migrate unit tests to Robolectric"

[2016-10-17 17:27] pwittchen opened #102 "Run unit tests on Travis CI"
Depends on #101.

We need to enable codecov.io for this project.

Initial `.travis.yml` file:

[code]

[2016-10-17 17:28] pwittchen opened #103 "Write unit tests for checking library behavior during connectivity changes"
Reference: http://stackoverflow.com/questions/30625378/shadownetworkinfo-is-always-type-mobile-when-testing-wifi-connectivity-with-robo

Depends on #101 and #102.

[2016-10-19 22:37] #97 closed

[2016-10-21 19:23] #102 closed

[2016-10-21 19:26] pwittchen opened #107 "Increase general unit test coverage"
Now, we can measure unit test coverage. It's 54%, so it's not bad, but it could be better and we need to increase it. Optimal value will be around ~%70-75% or higher.

[2016-10-21 22:58] #107 closed

[2016-10-22 19:35] pwittchen commented on #103
It was partially done. Further improvements will be done in the next PRs.

[2016-10-22 19:35] #103 closed

[2016-10-23 21:08] pwittchen opened #114 "Release 0.7.0"
**Initial release notes**:
- added `isConnected(final String host, final int port, final int timeoutInMs,
    ErrorHandler errorHandler)` method to `DefaultInternetObservingStrategy` class
- added `isConnected(final Socket socket, final String host, final int port, final int timeoutInMs,
    final ErrorHandler errorHandler)` method to `DefaultInternetObservingStrategy` class
- renamed `SocketError

[2016-10-25 13:22] aperfilyev opened #115 "Doze mode"
Right now it doesn't take doze mode into account. You could add a receiver with a https://developer.android.com/reference/android/os/PowerManager.html#ACTION_DEVICE_IDLE_MODE_CHANGED intent filter. And check doze status via PowerManager.isDeviceIdleMode() method.

[2016-10-25 13:36] pwittchen commented on #115
Thanks for reporting this issue! I'll take a look on that. Moreover, PR with this improvement is also welcome.

[2016-10-25 13:46] aperfilyev commented on #115
Okay, I will take a look into it. Should I create a new strategy like for M and above?

[2016-10-25 13:58] pwittchen commented on #115
I think, in this case, there is no need for additional strategy. Strategies are for different Android versions because in different versions network monitoring should be implemented in a different way.

I think, there should be a new method like:

[code]

and

[code]

If user would like to, he or she can activate or explicitly deactivate library in doze mode.

[2016-10-25 14:53] aperfilyev commented on #115
I think we have a misunderstanding.
There might be no internet connection in Doze mode, so ReactiveNetwork should trigger connectivity change because ConnectionManager may return that we are connected when in fact we are not because of idle mode.

[2016-10-25 15:43] pwittchen commented on #115
Now, I understand your point better. Is it possible to trigger connectivity change in idle mode?
Proposal with the additional receiver will trigger a change when device idle mode will change. This behavior is independent of connectivity change.

[2016-10-25 15:59] pwittchen commented on #115
I googled more about this issue. I'm not sure if it's possible to trigger network change in a doze (idle) mode and it may be an Android bug or intended behavior. I've found the following thread on StackOverflow: http://stackoverflow.com/a/34380449/1150795.

[2016-10-25 16:06] aperfilyev commented on #115
What's wrong with it? We can't make a network call in Doze mode, so we can report that we are offline no matter what ConnectivityManager says.

[2016-10-25 17:42] epicstar opened #116 "DefaultInternetObservingStrategy Does not Correctly Observe "Internet Walled Garden" State When it Should"
DefaultInternetObservingStrategy currently doesn't account for the case that:
1. cell phone data is off
2. wifi is connected to a hotspot that "asks you to sign in" (airport wifi or coffee shops, etc.)
# Steps to Reproduce
1. Turn off data on phone
2. Go to a place that has a "walled garden internet". For example..
   a. go to Starbucks
   b. Connect to their wifi but don't sign in
   c. ensure th

[2016-10-25 20:46] pwittchen commented on #115
That sounds more reasonable if we know for sure that network call cannot be done in Doze mode. In such case, the additional broadcast receiver makes sense. Nevertheless, I would create an additional setting for that in the case someone doesn't care about Doze mode. Such feature would be useful for apps using background services and should be configurable.

[2016-10-25 21:04] pwittchen commented on #116
Thank you for reporting this issue with such detailed description. Internet Walled Garden is an interesting use case and I haven't taken it into consideration.

PR with improvements is welcome of course.

You can also add a few unit tests as you mentioned. ReactiveNetwork now uses Robolectric for unit testing, so creating new tests would be more convenient than before. You can also find exemplary

[2016-10-25 21:10] pwittchen opened #118 "Make SocketErrorHandler "more general""
`SocketErrorHandler` should be a more general class (e.g. `InternetErrorHandler` or just `ErrorHandler`) without things related to the `Socket`.

[2016-10-25 21:37] pwittchen opened #119 "Configure codecov.yml"
Configure `.codecov.yml` file especially to avoid failing PR, when code coverage drops a little.

References:
- https://github.com/codecov/support/issues/135
- https://gist.github.com/stevepeak/53bee7b2c326b24a9b4a#file-codecov-yml-L86

[2016-10-26 15:38] pwittchen opened #120 "Create contribution guidelines"
Create contribution guidelines and put it to `CONTRIBUTING.md` file.

[2016-10-28 08:56] agatti opened #121 "Errors when using Proguard"
Hello,

  after updating from 0.5.2 to 0.6.0, my application cannot have Proguard applied to it anymore:

[code]

  I can work around that by adding `-dontwarn io.reactivex.functions.Function` and `-dontwarn com.github.pwittchen.reactivenetwork.library.ReactiveNetwork` to `proguard.pro`, but I'm not sure whether this is a symptom of something else.

[2016-10-28 09:20] pwittchen commented on #121
Thanks for reporting this issue. It may be related to RxJava update because I bumped it from `1.1.9` to `1.2.1`. These warnings are related to `io.reactivex.functions.Function` and `io.reactivex.Observable`, which are elements of RxJava library.

[2016-10-28 14:32] Sigvent commented on #121
any solution ?

[2016-10-28 14:43] pwittchen commented on #121
Are you using the same version of RxJava dependency as the ReactiveNetwork library (`1.2.1`) in your main project?

[2016-10-28 14:51] Sigvent commented on #121
@pwittchen : Yes and I added in my proguard to keep class in io.reactivex.functions.** + io.reactivex.Observable

[2016-10-28 15:01] pwittchen commented on #121
I've noticed that here: https://github.com/requery/requery/issues/293 they have the same problem and they're using the same version of RxJava, so I guess for now the solution will be to configure `-dontwarn` statements for ProGuard on the library level. A quick fix is ProGuard configuration on the application level. I don't know if there's any better solution out there right now.

[2016-10-28 15:04] Sigvent commented on #121
Alright !
Thank you for the fast answer.

[2016-11-02 21:46] pwittchen opened #122 "Add permissions annotations"
Reference:
https://developer.android.com/studio/write/annotations.html

The current state of the Manifest:
https://github.com/pwittchen/ReactiveNetwork/blob/master/library/src/main/AndroidManifest.xml

Reference for using permission requests:
https://github.com/pwittchen/ReactiveWiFi/blob/master/app/src/main/java/com/github/pwittchen/reactivewifi/app/MainActivity.java

Update:
We don't have to ask

[2016-11-04 17:19] pwittchen opened #124 "Improve unit tests, which use Mockito"
Replace `mock(...)` methods with annotations, add proper `setUp()` and `tearDown()` methods.
Reference: http://stackoverflow.com/questions/36082370/i-need-both-robolectric-and-mockito-in-my-test-each-one-proposes-their-own-test

[2016-11-05 23:40] pwittchen opened #125 "Create MarshmallowNetworkObservingStrategy"
It should be done after reviewing and merging #117.

[2016-11-07 09:34] Kisty commented on #124
I think from the SO post, you can either use the `MockitoRule` or use the manual `setUp()` and `tearDown()` methods. You don't have to use both. So using just a `MockitoRule` should suffice.

That is, unless I've missed something with what you want to do in `setUp()` and `tearDown()`.

[2016-11-12 18:00] Wanimal opened #126 "RxJava 2.0"
Can you speed up the development of RxJava 2.0 Version?

[2016-11-12 18:12] pwittchen commented on #126
It's being done within #80. Currently, experimental version of the library with RxJava is available on `RxJava2.x` branch and you can play with it if you want to. I'm going to release separate artifact with RxJava 2 (issue #84).

Please note, I'm not developing this project full-time. It's my side-project and I'm developing it in my free time. That's why sometimes I'm not able to publish an update

[2016-11-12 19:04] aperfilyev commented on #126
@Wanimal meanwhile you can use [this](https://github.com/akarnokd/RxJava2Interop)

[2016-11-13 17:02] Wanimal commented on #126
Yes, thank you, good job.

[2016-11-13 17:02] #126 closed

[2016-11-13 22:43] #125 closed

[2016-11-13 23:02] pwittchen commented on #124
I wanted to add `@Spy` and `@Mock` annotations instead of manually calling `mock(...)` and `spy(...)` methods. You can take a look at PR.

[2016-11-13 23:21] #124 closed

[2016-11-14 14:15] aperfilyev opened #129 "Error in preconditions"
Hey! You have an error [there](https://github.com/pwittchen/ReactiveNetwork/blob/master/library/src/main/java/com/github/pwittchen/reactivenetwork/library/Preconditions.java#L74)

[2016-11-14 14:30] pwittchen commented on #129
Thanks for pointing this out!

[2016-11-14 14:36] pwittchen commented on #129
We need to add unit tests for concrete API versions via `@Config` annotation to avoid regression of this bug in the future and for better testing of the strategies.

Reference: http://stackoverflow.com/questions/20541630/does-robolectric-support-api-level

[2016-11-14 16:49] Kisty commented on #124
What I meant is that by using a [`MockitoRule`](http://site.mockito.org/mockito/docs/current/org/mockito/junit/MockitoRule.html), you don't need the call to `initAnnotations()` in `setUp()`. Also the rule does a call to `validateMockitoUsage()` in `tearDown()`. It'll be fine as is though.

[2016-11-14 17:32] pwittchen commented on #129
Fixed! :star2:

[2016-11-14 17:32] #129 closed

[2016-11-14 18:12] pwittchen commented on #124
@Kisty I've somehow missed feature with `@Rule` annotation. It's added in PR #131. I think it's a better approach than manually calling `MockitoAnnotations.initMocks(this)` method.

Thanks!

[2016-11-14 22:35] #119 closed

[2016-12-01 12:30] pwittchen opened #132 "Use Java 8 language features in sample apps"
Use Java 8 language features in sample apps. Especially lambdas with RxJava code.
Reference: https://developer.android.com/guide/platform/j8-jack.html

[2016-12-02 21:04] epicstar commented on #132
Another recommendation is to use retrolambda since jack isn't "production ready" yet: https://github.com/orfjackal/retrolambda

[2016-12-02 21:22] Kisty commented on #132
That is true, however it's only for the demo app, so wouldn't be part of the library. However, it would be a template on how to use the library. Retrolambda seems pretty solid and an industry standard by many at present.

[2016-12-02 22:42] pwittchen commented on #132
I don't want to include jack or retrolamba in the library. Developers can make their own choice. I just want to upgrade sample app. :-)

I don't know the current state of the retrolambda, but I had some problems with it some time ago. E.g. after changing code including retrolambda I needed to perform clean before the application build because I was receiving runtime exceptions and my apps were cra

[2016-12-04 16:42] pwittchen commented on #118
Done.

[2016-12-04 16:42] #118 closed

[2016-12-04 21:49] pwittchen commented on #121
I've tried to configure ProGuard, but it threw errors during compilation of sample Kotlin app:

[code]

I'm not an expert with using ProGuard tool, so if anyone knows, how to configure it right, to avoid warnings and compilation errors in this case, please, let me know.

Here is a configuration I tried to use:

[code]

[2016-12-05 15:22] lman commented on #121
**fix:**

[code]

[2016-12-08 00:18] pwittchen commented on #121
Okay. Done. I've added section [ProGuard configuration](https://github.com/pwittchen/ReactiveNetwork#proguard-configuration) in README.md and updated ProGuard and Gradle configuration for the sample apps to verify it on CI.

[2016-12-08 00:18] #121 closed

[2016-12-08 00:31] pwittchen opened #140 "Add observeInternetConnectivity(final InternetObservingStrategy strategy) method to ReactiveNetwork class"
Add `observeInternetConnectivity(final InternetObservingStrategy strategy)` method to `ReactiveNetwork` class. This method will have all values default except for `InternetObservingStrategy`, which should be provided as parameter and cannot be `null`.

[2016-12-10 23:53] #114 closed

[2016-12-13 23:50] pwittchen opened #141 "Create releasing guidelines"
Create releasing guidelines in `RELEASING.md` file.

[2016-12-15 20:47] epicstar commented on #141
I would recommend to use a Wiki page for guidelines instead. That way, you don't have to do commits for each change to the release process.

[2016-12-16 10:58] pwittchen commented on #141
Thanks for the suggestion, but I'd like to keep this information inside Git repository and keep tracking of changes. Moreover, I don't think that this process will change a lot. I just want to have it documented somewhere (not only in my head ;)). Maybe it will change if we manage to automate it in few parts or move this process to CI.

[2016-12-16 13:53] pwittchen opened #142 "Add "Getting help" section to README.md"
Add "Getting help" section to `README.md` with a link to SO and info about GitHub issues, to help new users resolve their issues and clarify doubts.

exemplary links:
- http://stackoverflow.com/questions/ask?tags=reactivenetwork
- https://github.com/pwittchen/ReactiveNetwork/issues/new

[2016-12-17 12:42] pwittchen commented on #142
Done.

[2016-12-17 12:42] #142 closed

[2016-12-17 19:11] pwittchen commented on #141
Done.

[2016-12-17 19:11] #141 closed

[2016-12-19 20:12] pwittchen commented on #120
Done.

[2016-12-19 20:12] #120 closed

[2016-12-21 23:15] pwittchen commented on #132
I tried to make it work, but it does not work out of the box and it's not usable for now. I'm closing this issue and we can get back to this topic, when Jack will be stable.

[2016-12-21 23:15] #132 closed

[2016-12-27 23:35] #140 closed

[2016-12-28 15:00] pwittchen opened #144 "Remove DefaultInternetObservingStrategy#ON_CLOSE_SOCKET_ERROR_MSG static field"
Remove `DefaultInternetObservingStrategy#ON_CLOSE_SOCKET_ERROR_MSG` static field and move the error message to `errorHandler.handleError(...)` method call.
There's no need to keep this field and it's inconsistent with the rest of the library code.

[2016-12-28 15:20] pwittchen opened #145 "Rename DefaultInternetObservingStrategy to SocketInternetObservingStrategy class"
It will make class behavior and implementation purpose clearer in the case of adding more strategies there.

[2016-12-28 15:51] pwittchen opened #146 "Release 0.8.0"
**Initial release notes**:
- renamed `DefaultInternetObservingStrategy` to `SocketInternetObservingStrategy` class
- added `observeInternetConnectivity(InternetObservingStrategy)` method to `ReactiveNetwork` class
- removed `DefaultInternetObservingStrategy#ON_CLOSE_SOCKET_ERROR_MSG` static field
- added permission annotations
- updated `Connectivity` class. Now it contains the following fields wi

[2016-12-28 22:47] #145 closed

[2016-12-28 22:47] #144 closed

[2017-01-01 13:23] #122 closed

[2017-01-01 14:57] Rainer-Lang opened #149 "Happy new year!"
And thanks for your hard work on this great lib.

[2017-01-01 16:53] pwittchen commented on #149
Thanks and Happy New Year to you too! :tada:

[2017-01-02 17:51] #149 closed

[2017-01-04 21:25] consp1racy opened #150 "Feature request: Observe Airplane Mode"
And deliver it as part of the `Connectivity` bundle.

[2017-01-04 21:37] pwittchen commented on #150
Hi,

Thanks for creating that issue! To be honest, I already thought about that. I wondered that it may be a good idea for a separate library. Airplane mode is not related to networking issues and user needs to enable it explicitly. Moreover, it's possible to connect to WiFi network when airplane mode is on.

Regards,
Piotr

[2017-01-05 12:55] consp1racy commented on #150
Hi,
now come to think of it, airplane mode does affect network but not only network. It makes sense not just making it another flowable but releasing it as a separate artifact as well (in case there isn't an existing implementation.)

`concatLatest` could be a friend if you need to observe network and airplane mode, what do you think?

[2017-01-05 13:07] pwittchen commented on #150
When we have a separate Observable or Flowable, we can later combine it with existing Observables responsible for observing network or Internet connection (e.g. with `concat(...)` operator) in the concrete solution, so we'll be able to monitor both airplane mode and network connectivity. That's the approach, which leverages the power of RxJava and its basic concept of composition of streams.

[2017-01-05 13:50] consp1racy commented on #150
Let's say I wanted to show a Snackbar when
 * connectivity is on (Connected.)
 * airplane mode is enabled (Turn off Airplane mode.)
 * network is down (No connection available.)

In such case I'd need both outputs at the same time. The flowable should be built with `combineLatest` in mind and use a `startWith` operator. ReactiveNetwork already does it.

[2017-01-05 14:15] pwittchen commented on #150
I see, the only thing, which is missing is monitoring of airplane mode and combining it with existing Observables. Remaining functionality is already available and ready to use.

[2017-01-09 10:28] Kisty commented on #150
I agree that this should probably be its own library or an easy way to switch off. Although, I won't say it won't be useful to know if the user is in airplane mode so to offer a quick fix for user to get connection.

[2017-01-11 10:31] probepark opened #151 "Feature request: Adding NetworkInfo in Connectivity"
Can i get NetworkInfo's typeName and subtypeName like WIFI?

[2017-01-11 13:23] pwittchen commented on #151
Hi,

Thanks for reporting this issue.
Right now it's not possible, but we can add such feature. It could be useful.

Regards,
Piotr

[2017-01-12 02:34] probepark commented on #151
@pwittchen
Thank you.

[2017-01-17 22:25] pwittchen commented on #151
I took a look at [NetworkInfo](https://developer.android.com/reference/android/net/NetworkInfo.html) class and current implementation of `Connectivity` class. I think, I'd rather create additional methods like `getSubtype()`, `getSubtypeName()`, etc. which will wrap NetworkInfo methods instead of exposing `getNetworkInfo(context)` method. Android SDK allows `NetworkInfo` to be `null` and I don't w

[2017-02-01 07:06] Mauin opened #152 "Android 'Topic' misspelled"
The topics in the description of the repository contain `andriod` which I suppose should be: `android`

[2017-02-01 09:36] pwittchen commented on #152
Thanks! Fixed.

[2017-02-01 09:36] #152 closed

[2017-02-02 02:17] probepark commented on #151
@pwittchen
I think so. wrapped class of NetworkInfo is great idea.
It will be safe.

[2017-02-05 23:47] pwittchen commented on #151
Change is pushed to branch `issue-151`. I'll leave this PR for a while and browse it later once again before the merge. Maybe someone will perform a code review, so I'll be sure that everything is fine. After that, this change will be merged into the `master` branch.

[2017-02-06 23:21] Kisty commented on #151
LGTM. Can't see any problems. 👍

[2017-02-07 17:19] pwittchen commented on #151
Thanks for your review @Kisty!

[2017-02-07 17:20] probepark commented on #151
LGTM!

[2017-02-07 19:28] pwittchen commented on #151
Changes are merge to `master` branch. They'll be available in the next release.

[2017-02-07 19:28] #151 closed

[2017-02-12 00:03] pwittchen opened #154 "Update Gradle & Travis config & dependencies"
Check this project as a reference: https://github.com/pwittchen/ReactiveWiFi

[2017-02-12 18:27] pwittchen commented on #154
Only Robolectric wasn't updated due to the problems with running tests and generating coverage report on Travis CI. On my local machine it works fine with the newest version.

[2017-02-12 18:27] #154 closed

[2017-02-12 21:45] #146 closed

[2017-03-06 05:18] wujianv5 opened #159 "observer for WIFI disconnected state doesn't work"
[code]

With above code, when I switched off wifi, onWifiDisconnected() wasn't called.
And then I tried to remove .filter(ConnectivityPredicate.hasType(ConnectivityManager.TYPE_WIFI)), and onWifiDisconnected() was called with connectivity.getTypeName() == null, it's supposed to be WIFI.

[2017-03-06 07:43] pwittchen commented on #159
Tkanks for reporting that issue. I'll investigate that. I suppose we cannot
filter the network type if we want to detect the state when device is
disconnected, because in that case type probably will be always null. I
mean, when we're offline there's no network type to read.

06.03.2017 6:18 AM "wujian" <notifications@github.com> napisał(a):

ReactiveNetwork.observeNetworkConnectivity(context)
.su

[2017-03-06 10:58] pwittchen commented on #159
I took a quick look at the code. We can try to keep information about the last network device was connected to and then pass it to `Connectivity` object. This will allow obtaining the desired result.

[2017-03-06 11:21] pwittchen opened #160 "Add new Observables related to NetworkCallback for API 21 (Lollipop) and higher"
Reference:
https://developer.android.com/reference/android/net/ConnectivityManager.NetworkCallback.html

We can create new observables for the following methods:
- `onCapabilitiesChanged(Network network, NetworkCapabilities networkCapabilities)`
- `onLinkPropertiesChanged(Network network, LinkProperties linkProperties)`
- `onLosing(Network network, int maxMsToLive)`

General thoughts:
- Optionally

[2017-03-07 03:13] wuasiam commented on #159
I'm not familiar with network state changing things, but I think when I switch off wifi, I'm not in an offline mode, since I still have mobile network connection, and maybe I could also have bluetooth connection. In that cases I guess the disconnection type can be detected ??

BTW, it's a really good work and a very easy tool to use. Thanks!

[2017-03-07 11:19] pwittchen commented on #159
You're right. Android SDK works in such way and behavior with filtering Observable mentioned by you may be confusing. It can be fixed within the library code. I have some sort of idea how to do that and I will notify you about the updates in this issue.

[2017-03-07 22:37] jackmalpo commented on #84
What's the status on this?

[2017-03-07 22:47] pwittchen commented on #84
Hi, @jackmalpo. I'm planning, to do it soon (hopefully this month) right after resolving two bugs/improvements waiting in "to do" list.

[2017-03-15 19:32] pwittchen opened #163 "Add Retrolambda to sample Java app"
Add [Retrolambda](https://github.com/evant/gradle-retrolambda) to sample Java app.

[2017-03-31 03:29] tushar-acharya commented on #100
@pwittchen I've worked on some changes regarding this. Would you accept a Pull Request?

[2017-03-31 04:24] tushar-acharya commented on #100
#164

[2017-03-31 07:36] tushar-acharya commented on #84
@pwittchen I've raised a pull request with latest changes at #164 Let me know if you want any changes there.

[2017-03-31 07:36] tushar-acharya commented on #80
@pwittchen I've raised a pull request with latest changes at #164 Let me know if you want any changes there.

[2017-03-31 08:46] pwittchen commented on #84
Hi,

Thanks for the comment. I wrote the response in your PR.

[2017-03-31 08:46] pwittchen commented on #100
Hi,

Thanks for the comment. I wrote the response in your PR.

[2017-03-31 08:53] pwittchen commented on #80
Hi @tushar-acharya,

Thanks for the comment. I wrote a response in your PR.

[2017-04-09 22:13] #81 closed

[2017-04-09 22:15] pwittchen commented on #80
It's done. ReactiveNetwork with support for RxJava2.x will be available in the next release as a separate artifact `reactivenetwork-rx2`. Now it's available on `RxJava2.x` branch.

[2017-04-09 22:15] #80 closed

[2017-04-09 22:15] #100 closed

[2017-04-09 22:16] pwittchen commented on #84
Separate artifact for RxJava2.x will be available in the next release.

[2017-04-09 22:16] #84 closed

[2017-04-09 22:18] pwittchen opened #165 "Release v. 0.9.0"
**Initial release notes**:
- migrated library to RxJava2.x on RxJava2.x branch and released it as `reactivenetwork-rx2` artifact
- updated dependencies
- updated documentation
- updated sample apps

**Things to be done**:

- [x] Testing
  - [x] perform short manual smoke tests before the release on both branches
- [x] RxJava1.x branch:
  - [x] bump library version
  - [x] upload archives to Maven

[2017-04-10 18:31] pwittchen commented on #159
@wujianv5 Can you provide details of your device and Android version? I've performed a test on Nexus 6 with Android 7.0 and it works fine. I mean, bug reported by you does not occur. When I apply filter: `ConnectivityPredicate.hasType(ConnectivityManager.TYPE_WIFI)`, `connectivity.getTypeName()` is never `null`. It does not matter if it's in `CONNECTED` or `DISCONNECTED` state. It returns `WIFI` a

[2017-04-11 05:03] pwittchen commented on #165
Done!

[2017-04-11 05:03] #165 closed, assigned to pwittchen

[2017-04-11 07:09] pwittchen opened #166 "Consider adding Observable for NetworkInfo.DetailedState"
Consider adding Observable for NetworkInfo.DetailedState.

Reference:
https://developer.android.com/reference/android/net/NetworkInfo.DetailedState.html

[2017-04-11 07:57] akarnokd commented on #92
FYI, `Observable.fromEmitter` is deprecated and is scheduled for removal in 1.3. Use the `Observable.create(Action<Emitter<T>>, Emitter.BackpressureMode)` instead.

[2017-04-11 09:14] pwittchen commented on #92
@akarnokd Thanks for the information! Right now, this library is not using `Observable.fromEmmiter`, so it's good to know to avoid using it in the future.

[2017-04-11 20:04] pwittchen opened #167 "Use Observable.create(Action<Emitter<T>>, Emitter.BackpressureMode) while creating observables when possible"
as mentioned in #92

[2017-04-11 20:05] pwittchen commented on #92
Due to the last comments, I'm closing this issue. I created a new one for possible refactoring.

[2017-04-11 20:05] #92 closed

[2017-04-17 09:31] wujianv5 commented on #159
My phone is MI 5s, and Android version is 6.0.1 MXB48T. I think because it's a customized version of Android, the manufacturer might have changed something.

[2017-04-26 13:01] nksaroj opened #169 "[Question] How would you filter only the network state change"
1. With the ReactiveNetwork Library. It's starts firing on resume if network is available.
That's what I can see in your sample. But I am interested only when there is a state change.
ON--> OFF or OFF--> ON not interested in if there is no state change.

2. I am getting the attached error for the following line of code in the filter.

   <img width="1135" alt="screen shot 2017-04-26 at 10 58 43 pm

[2017-04-26 13:04] nksaroj commented on #169
I hope PR #168 should fix  the 2nd issue. If you are happy can you able to merge quickly

[2017-04-26 15:41] pwittchen commented on #169
Thanks for reporting this issue. I'm going to merge #168 soon if there won't be any issues with that.

[2017-04-26 16:43] Bombo opened #170 "Switching off Wifi yields false positive DISCONNECTED"
First of all I think this is a really great library and I'd really want to use it in our app. Unfortunately I've found an issue while playing around with it on my Sony Xperia Z2 running Android 6.0.1. The issue is also reproducible for me with the supplied java test app:
![screenshot](https://cloud.githubusercontent.com/assets/224092/25445896/f7fc16d2-2aaf-11e7-8487-16f3d8d13a52.jpg)

There have a

[2017-04-26 17:09] pwittchen commented on #170
Hi,

Thanks for reporting this issue. Can you provide exact steps to reproduce that problem?

[2017-04-26 17:23] Bombo commented on #170
Sure.

1. Built and deployed app module on my device
2. Open the app while connected via wifi.
3. Pull down notification area and switch off wifi
4. Close notification area
5. Result is as in screenshot

I'm afraid that's all I have. I just now noticed when there is a small delay between losing wifi and connecting to the mobile network it seems to recover. Of course there is a short time where it'

[2017-04-26 17:28] pwittchen commented on #170
It looks like the app is switching from one type of the connection (wifi) to another (mobile). Maybe this situation happens in short period of time during such switch. I'll take a look on that, but it may be an issue, which is not exactly related to the library itself, but the system behavior.

[2017-04-26 19:39] nksaroj commented on #169
Would you please help with question:1

With the ReactiveNetwork Library. It's starts firing on resume if network is available.
That's what I can see in your sample. But I am interested only when there is a state change.
ON--> OFF or OFF--> ON not interested in if there is no state change.

[2017-04-27 09:41] pwittchen commented on #169
@nksaroj Currently, by design library creates an observable, which starts with the initial connectivity state - connected or disconnected depending on the state of the device. It's done in all network observing strategies. In most of the apps, it's useful to know, if we're connected or not when activity or service starts. Moreover, users may see the false result if we eliminate this functionality

[2017-04-28 08:46] pwittchen commented on #169
I checked RxJava documentation. You can also skip first, default item, with [skip](http://reactivex.io/documentation/operators/skip.html) operator from RxJava. With `skip(1)`, you should achieve your goal and the app will be notified about connectivity change only, when it really changes without the initial connectivity value.

[2017-04-28 08:58] Bombo commented on #170
Yes, that's what I was thinking. I will look into this myself, if I get the time. Thanks!

[2017-04-28 09:45] nksaroj commented on #169
Thanks @pwittchen . I will give go 🥇

[2017-04-28 09:46] #169 closed, assigned to nobody

[2017-04-29 10:34] pwittchen opened #171 "Release 0.9.1"
**Initial release notes**:

*RxJava1.x*:
- bumped RxJava1.x to 1.2.10

*RxJava2.x*:
- updated `ConnectivityPredicate` and replaced `io.reactivex.functions.Function` with `io.reactivex.functions.Predicate` to make it compatible with RxJava2 filtering methods #168
- bumped RxJava2.x version to 2.1.0

**Things to do**:

- [x] RxJava1.x branch:
  - [x] bump library version
  - [x] upload archives to M

[2017-04-30 10:23] #171 closed, assigned to pwittchen

[2017-05-08 09:44] ghost opened #172 "missing a call to unregisterReceiver()"
[code]

[2017-05-08 11:41] pwittchen commented on #172
Hi,

Thanks for reporting that issue.

Have you disposed subscription in onPause() method in your activity? When
you missed it, such problem may occur.

08.05.2017 11:44 AM "CentForever" <notifications@github.com> napisał(a):

[2017-05-09 07:11] pwittchen commented on #172
Please let me know if that suggestion helped you. If not, please provide steps to reproduce this problem and your code snippet, so I could verify this issue.

[2017-05-09 09:22] Bhavdip commented on #172
I think he forgot to unregister or should clear the subscriber from listening to the update in activity.

[2017-05-09 13:52] pwittchen commented on #172
@Bhavdip probably you're right. That's what I wrote in my first reply to this issue.

[2017-05-17 10:58] lion4ik opened #173 "Possible bug"
Look at

[code]
from ```Connectivity``` class
getActiveNetworkInfo() can return null, so this code will crash with NullPointerException

What do you think about this?

[2017-05-17 23:23] pwittchen commented on #173
Hi,

Thanks for reporting this issue. I'm away from home without a laptop right
now and I cannot check it immediately. I'm replying from my phone. I'm
aware of this problem and it should be handled by the library gracefully as
far as I know. I'll take a look on details later.

17.05.2017 12:58 PM "Alexey" <notifications@github.com> napisał(a):

[2017-05-22 09:05] pwittchen commented on #173
@lion4ik Take a look at this line:
https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/Connectivity.java#L45

Whole method looks like that:

[code]

When we're using `NetworkInfo` class from Android SDK inside `Connectivity` class from the library, `NullPointerException` will not occur, because the library code and fact

[2017-05-22 09:05] #173 closed, assigned to nobody

[2017-05-22 13:57] Kisty commented on #173
OK, so perhaps add a `@NonNull` annotation to the `Connectivity#create(Context)` method?

[2017-05-22 14:24] pwittchen commented on #173
It's related to different thing than this issue, but we can add it.

22.05.2017 3:57 PM "Timothy Kist" <notifications@github.com> napisał(a):

[2017-05-23 20:07] pwittchen opened #174 "Review library code and add @NonNull annotations where it's necessary"
Mentioned by @Kisty in #173.

Review code and add `@NonNull` [annotations](https://developer.android.com/studio/write/annotations.html) when necessary.

First candidate: `Connectivity#create(Context)`

[2017-05-25 16:41] lion4ik commented on #173
Yeah, probably there is no problem in this code. It just confused me a bit. Now, I clarified it, thanks.

[2017-05-25 16:43] pwittchen commented on #173
Ok, thanks for the reply.

[2017-06-06 15:28] pwittchen opened #175 "Verify & bump deps for RxJava1.x and RxJava2.x version"

[2017-06-08 08:37] IonutNegru87 commented on #159
I encounter the same issue and I think it is because of the `Connectivity.create(context)` in the `NetworkCallback#onLost(Network)`.
From what I noticed, this will create an Connectivity object which has the type == -1 (ConnectivityManager.NONE)

Changing `.filter(ConnectivityPredicate.hasType(ConnectivityManager.TYPE_WIFI))` to `.filter(ConnectivityPredicate.hasType(ConnectivityManager.TYPE_WIFI,

[2017-06-08 13:20] pwittchen commented on #159
If the solution provided by @IonutNegru87 works, we can add this type (unknown), to the list of initial types by default inside `ConnectivityPredicate.hasType(...)` method. This should fix problems for all types of connections in the described situation because when we are disconnected from the network, the type is unknown. It's correct behavior but may be misleading in the case of reactive progra

[2017-06-13 08:24] chihung93 opened #176 "Crash OnErrorNotImplementedException"
[code]

[code]

Tks .

[2017-06-13 10:46] pwittchen commented on #176
Hi,

Thanks for reporting this issue. You're getting that error because you haven't implemented an error handling in your subscription and pinging `www.google.com` fails (error occurs).

In order to handle this error, you should use `Observer` interface instead of `Consumer` interface as follows:

[code]

Both `Consumer` and `Observer` are RxJava2 operators.

Regards,
Piotr

[2017-06-13 10:57] chihung93 commented on #176
I don't think so.
I think that issue is a bug.
accept just return true or false for the network.
Why I must handle error while I just know network state.
Tks.

[2017-06-13 11:13] Bhavdip commented on #176
If you want to observe the network connectivity is true or false then you should use default implementation But If you have your own custom details for checking Internet connectivity then you should Subscribe an Observer as @pwittchen mentioned. Using that way you can listen true and false in onNext method simply ignore other methods.

[code]

[2017-06-13 11:14] pwittchen commented on #176
There may occur another error not related with the boolean state of the connection. For example, connection timeout, local network problem or something like that. In such cases, you'll receive an error.

When I was testing this, I haven't encountered such issues and it worked fine with just `Consumer`, but I can imagine that in particular cases error may be thrown and in real apps, it's good to ha

[2017-06-13 15:01] pwittchen opened #177 "Add Single<Boolean> observeInternetConnectivity(...) to InernetObservingStrategy interface"
Add `Single<Boolean> observeInternetConnectivity(...)` to `InernetObservingStrategy` interface and create its initial implementation. Such implementation should not ping remote server within any interval like it's done now. It should just ping a remote server once. Already existing Observable should stay as it is right now.

[2017-06-13 16:42] pwittchen opened #178 "Investigate possibility of integrating library with lifecycle handling features from Android Architecture Components"
Mentioned features were announced during the last Google I/O 2017.

References:
https://developer.android.com/topic/libraries/architecture/lifecycle.html

[2017-06-13 16:50] chihung93 commented on #176
thank you so much @pwittchen @Bhavdip.

[2017-06-18 10:47] pwittchen commented on #176
We discussed this issue, so I'm considering it as clarified and resolved. In the case of further problems, you can re-open this issue or create a new one.

[2017-06-18 10:47] #176 closed, assigned to nobody

[2017-06-26 16:35] pwittchen commented on #175
Done for now.

[2017-06-26 16:35] #175 closed, assigned to nobody

[2017-06-26 17:01] pwittchen commented on #172
There was no response for a longer time, so I assume it's incorrect library usage. For further issues, please re-open this one or create a new one.

[2017-06-26 17:01] #172 closed, assigned to nobody

[2017-06-26 17:06] pwittchen commented on #167
According to the current RxJava2 API, there's no such method. It can be done for `Flowable` type. For now, we're using `Observable`. We may consider switching from `Observable` to `Flowable` if there will be a concrete reason behind that.

[2017-06-26 17:06] #167 closed, assigned to nobody

[2017-06-26 17:08] pwittchen commented on #178
This is a project specific issue, so it should not be resolved by the library. Currently, we are using `Observable`, not `LiveData`, so we're not resolving this now.

[2017-06-26 17:08] #178 closed, assigned to nobody

[2017-06-26 17:25] #177 closed, assigned to nobody

[2017-06-26 17:46] pwittchen commented on #174
I've added this annotation in https://github.com/pwittchen/ReactiveNetwork/commit/78d616a5fda14bc1772e04a91e44eb8a7141f3ef in `com.github.pwittchen.reactivenetwork.library.rx2.Connectivity#create(android.content.Context)` method. I don't want to put it everywhere right now because I'm considering passing `null` as generally bad practice and code smell, so I'd have to put this everywhere.

[2017-06-26 17:46] #174 closed, assigned to nobody

[2017-06-26 19:08] pwittchen opened #182 "Expose InternetObservingStrategy#Single<Boolean>checkInternetConnectivity(...) in the library API"

[2017-06-26 21:46] pwittchen commented on #182
Partially done in https://github.com/pwittchen/ReactiveNetwork/commit/84854089f8668faf914f6926d39adc6d51a9771c :arrow_right:  branch [issue-182](https://github.com/pwittchen/ReactiveNetwork/tree/issue-182)

[2017-06-27 19:55] pwittchen opened #184 "Add documentation for Single<Boolean> checkInternetConnectivity(...)"
Relates to #182.

[2017-06-27 20:31] pwittchen opened #185 "Release 0.10.0"
**Initial release notes**:

**RxJava1.x** branch:
- bumped RxJava1 version to 1.3.0
- bumped test dependencies
- created Code of Conduct
- updated Kotlin version in sample apps
- added retrolambda to the sample Java app - issue #163
- fixed behavior of network observing in disconnected state - issue #159

**RxJava2.x** branch:
- bumped RxJava2 version to 2.1.1
- bumped test dependencies
- created

[2017-06-27 20:42] #184 closed, assigned to pwittchen

[2017-06-27 20:43] #182 closed, assigned to pwittchen

[2017-07-07 11:37] pwittchen commented on #159
I've created an initial fix in PR #186. Now, it's tested only via unit tests. I'll perform a few manual tests before a merge. You can also test it on a feature branch on your own if you would like to. Any feedback is welcome. This PR is for `RxJava2.x` branch, but we can add it to `RxJava1.x` branch as well (e.g. via git cherry-pick).

[2017-07-07 16:04] #159 closed

[2017-07-07 16:05] pwittchen commented on #159
Fix will be available in the next release.

[2017-07-07 17:38] #163 closed

[2017-07-17 21:46] juanmendez opened #190 "Should I be concerned (could not unregister receiver)"
First and foremost thanks for creating this library. It makes the job a lot easier having less code to write.

As I have one subscription unregistering, I get to see this stack error:

`could not unregister receiver java.lang.IllegalArgumentException: Receiver not registered: com.github.pwittchen.reactivenetwork.library.network.observing.strategy.MarshmallowNetworkObservingStrategy$2@a8fbe88`

I k

[2017-07-17 22:21] pwittchen commented on #190
Hi,

Thanks for reporting this issue. Can you provide steps to reproduce this problem?
This may happen, when you forget to unsubscribe (for rx2: dispose) your subscription. If you're using this library in the `Activity`, call `unsubscribe()`  method on your `Subscription` object in `onPause()` method. In the case of `Service`, you should call it in `onDestroy()` method.

Regards,
Piotr

[2017-07-17 22:23] pwittchen opened #191 "Improve error messages"
This issue is related to issue #190.
We can tell users, they might forgot to unsubscribe/dispose the Observable/Disposable.

[2017-07-18 06:41] juanmendez commented on #190
Sure, this is a class I wrote and whose connect and disconnect are called by onStart() and onPause() handlers of a fragment. I noticed the error occurs once I call onDisconnect() right when I unsubscribe. I am using RxJava 1.x. I am making use of a singleton, and possibly that is what could be wrong, rather than recreate the observable each time. (I'm using Dagger that's why I left it as a singlet

[2017-07-18 10:30] pwittchen commented on #190
Please note, Android Fragments have more complicated LifeCycle than Activities. I haven't tested this library with Fragments and to be honest, I avoid using them due to their design, which makes them hard to use. In the case of Fragments, it may be required to subscribe and unsubscribe Observables in different methods than Activity. Check out this post: https://stackoverflow.com/a/40804923/1150795

[2017-07-18 19:05] #185 closed, assigned to pwittchen

[2017-07-18 19:18] pwittchen opened #192 "Automate generating and publishing HTML pages with JavaDocs on gh-pages"
The manual process looks as follows right now:
1. checkout to `RxJava1.x` branch
2. call `./gradlew androidJavadocs`
3. copy `ReactiveNetwork/library/build/docs/javadoc` directory to some temporary location outside the git repository
4. checkout to `gh-pages` branch
5. remove contents of RxJava1.x directory
6. copy contents of temporary directory to `RxJava1.x` directory
7. remove temporary direct

[2017-07-18 20:48] juanmendez commented on #190
hi, I tried it like that and still got the same error. But like you said this is to do with fragments lifecycle than any issue with your library. If I find a solution I will reopen the case with the solution. Thanks.

[2017-07-18 21:59] juanmendez commented on #190
I fixed it. What did I do?
I removed the singleton from the dagger module.

[code]

And everything on that class remained the same.  I still do unsubscribe for preventing memory leak. Thanks a lot :)

[2017-07-18 21:59] #190 closed, assigned to nobody

[2017-07-18 22:00] pwittchen commented on #190
Great to hear you solved it!

Kind Regards,
Piotr

[2017-07-21 21:53] pwittchen opened #193 "Consider making library less static again"
At some point, users suggested making methods for creating Observables static, what may be handy and allow to have only one instance of the main `ReactiveNetwork` object. Nevertheless, the user is forced to follow that approach. The goal of this issue is to consider bringing back the previous approach without static methods. If the user wants utility class or Singleton, he or she may wrap this lib

[2017-07-23 22:34] pwittchen commented on #193
I'm closing this issue for now. Many libraries including original RxJava library have a similar approach for creating Observables. Optionally, we can re-open it in the future if necessary.

[2017-07-23 22:34] #193 closed, assigned to nobody

[2017-07-23 22:35] pwittchen opened #194 "Release 0.11.0"
**Initial release notes**:

- `RxJava1.x` branch:
  - added `WalledGardenInternetObservingStrategy` - fixes #116
  - made `WalledGardenInternetObservingStrategy` a default strategy for checking Internet connectivity
  - added documentation for NetworkObservingStrategy - solves #197
  - added documentation for InternetObservingStrategy - solves #198
  - bumped Kotlin version to 1.1.3-2
  - bumped G

[2017-07-26 08:01] yshrsmz opened #195 "Duplicate entry: com/github/pwittchen/reactivenetwork/library/BuildConfig.class"
I encountered this error while migrating my app to RxJava2.
I imported both ReactiveNetwork & ReactiveNetwork2(just because I was in migration process), and got this.

It seems like you forgot to update package name in AndroidManifest.xml?

[2017-07-26 08:29] pwittchen commented on #195
Hi,

In the RxJava2.x version I've changed package from `com.github.pwittchen.library` to `com.github.pwittchen.library.rx2` to distinguish classes from different artifacts. I think you shouldn't keep both library versions in the application at the same time because it may cause code conflicts like yours. It's better to remove RxJava1.x version and then add RxJava2.x version, update imports and ad

[2017-07-26 08:40] yshrsmz commented on #195
Thanks for your quick response.

Yes I'm going to use v2 and remove v1.

I just wanted to report that this line should be updated as well.
https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/AndroidManifest.xml#L2

[2017-07-26 08:44] pwittchen commented on #195
Ok, thanks. We'll update it.

[2017-07-26 20:58] #195 closed, assigned to nobody

[2017-07-26 21:05] pwittchen commented on #191
For now, I won't update these messages because they're quite precise and other error messages mentioned in another task are thrown from Android SDK and it's necessary to update it (at least now).

[2017-07-26 21:05] #191 closed, assigned to nobody

[2017-08-01 21:00] pwittchen opened #197 "Add documentation regarding NetworkObservingStrategy"
The title is descriptive enough.

[2017-08-01 21:01] pwittchen opened #198 "Add documentation regarding InternetObservingStrategy"
The title is descriptive enough.

Related PRs with new Walled Garden Strategy:
- Rx1: #199
- Rx2: #196

[2017-08-01 21:18] #116 closed

[2017-08-01 21:20] pwittchen commented on #116
Bug fixed and will be available in the next release both RxJava1.x and RxJava2.x version.

PS. Better late than never ;-).

[2017-08-04 11:17] #197 closed, assigned to pwittchen

[2017-08-04 11:18] pwittchen commented on #198
It's done.

[2017-08-04 11:18] #198 closed, assigned to pwittchen

[2017-08-04 13:15] pwittchen opened #202 "Travis CI build does not pass with Robolectric 3.4.2"
Travis CI build does not pass with Robolectric 3.4.2. I had to downgrade dependency to 3.1.2 to make it work. It should be investigated and monitored in the future.

It was reported in Robolectric backlog here: https://github.com/robolectric/robolectric/issues/3310.

[2017-08-05 21:43] pwittchen commented on #194
The new version is officially released!

[2017-08-05 21:43] #194 closed, assigned to pwittchen

[2017-08-09 19:06] emitchel opened #203 "Overriding host always returns false for isConnected"
I'm trying to verify my "internet" connection by attempting to connect to an internal site `http://{company name}.org`. Using the default values that `observerInternetConnectivity()` would use (besides the host) it always returns `false` for `isConnected`.

Is it because this site isn't returning 204 like what the default `"http://clients3.google.com/generate_204"` would? Or am I missing something

[2017-08-09 19:32] pwittchen commented on #203
Hi,

Thanks for reporting this issue. If you're using the custom host for checking the Internet connection, I suggest using `SocketInternetObservingStrategy` instead of `WalledGardenInternetObservingStrategy`, which was added in the latest release and applied as the default. `WalledGardenInternetObservingStrategy` marks server response as valid, when the response code is `204`. You can customize l

[2017-08-09 19:41] pwittchen opened #204 "Add to documentation comment about monitoring Internet connectivity with custom host"
Update documentation to avoid confusion like in the issue #203.

[2017-08-09 19:43] pwittchen opened #205 "Add new methods to the API for checking Internet connectivity"
Add new methods to the public API
- `Observable<Boolean> observeInternetConnectivity(strategy, host)`
- `Single<Boolean> checkInternetConnectivity(strategy, host)`

It could help to solve use cases mentioned in #203 easier.

[2017-08-09 20:13] emitchel commented on #203
Thanks @pwittchen this worked, but I also figured out that if I prepend my host with `http://` it doesn't work. Looking through the source code, I dont know why it would cause a problem. Either way, once I went with `mycompany.org` instead of `http://mycompany.org` I was good to go (along with using `SocketInternetObservingStrategy()`)

[2017-08-10 16:55] pwittchen commented on #203
The issue with `http://` may be caused by [`java.net.InetSocketAddress`](https://docs.oracle.com/javase/7/docs/api/java/net/InetSocketAddress.html) class. Nevertheless, it may be a good idea to handle both cases (with and without `http://`).

[2017-08-10 16:58] pwittchen opened #206 "Classes which implement InternetObservingStrategy should handle custom hosts with and without http:// prefix gracefully"
It's related to #203.

The fix should be implemented in all classes implementing `InternetObservingStrategy`.

[2017-08-10 17:02] emitchel commented on #203
Sounds good, consider this issue closed.

[2017-08-10 18:08] #203 closed, assigned to nobody

[2017-08-16 08:04] PitipongXYZ opened #207 "Problem on Android 4.4.2"
I've used this code on Android API 4.4.2

[code]

It's force close and show this error in logcat

[code]

Thank in advance

[2017-08-16 08:23] pwittchen commented on #207
Hi,

It looks like problem with Gradle, ProGuard or MultiDex. Try to add RxJava2 dependency explicitly to your project:

[code]

and then compile it.

Reference: https://realm.io/docs/java/latest/#jackson-databind

It also may be an issue with MultiDex and `rx.Observable` class may not be included in the primary `*.dex` file.

You can multidex support by adding the following dependency to your `bu

[2017-08-16 10:04] PitipongXYZ commented on #207
Thank you for your answer, But it doesn't work. T-T

[2017-08-16 11:21] pwittchen commented on #207
@PitipongXYZ I checked StackOverflow. See this solution: https://stackoverflow.com/a/37632531/1150795

After adding:

[code]

to your `build.gradle` file, you also need to define your own instance of an `Application`, which needs to extend `MultiDexApplication` like here:

`AndroidManifest.xml`:

[code]

`YouAppName.java` source:

[code]

[2017-08-17 02:38] PitipongXYZ commented on #207
**Wow, it's working now, You're the man, Thanks!**

[2017-08-17 07:05] pwittchen commented on #207
Great! I think we can treat this issue as resolved.
Maybe later I'll add your use case to the documentation if someone else will have a similar problem.

[2017-08-18 09:26] prokash-sarkar opened #208 "Repeating task with repeatWhen()"
From the following setup I'm unable to repeat a task,

[code]
Seems like the `.repeatWhen()` is unable to return the observable?

[2017-08-18 11:55] pwittchen commented on #208
Hi,

Thanks for reporting this issue. I'll have to take a look at your use case.

I see one problem here. You are trying to repeat the observation of network connectivity. Please note, that this Observable is using Android BroadcastReceiver under the hood and subscriber will get notification only when connectivity changes. Only in this case, an event will be emitted. There's no polling or immediat

[2017-08-19 10:56] #207 closed, assigned to nobody

[2017-08-19 11:33] pwittchen commented on #150
@consp1racy @Kisty
I've made a separate library for observing Airplane Mode with RxJava2. I think it resolves this feature request.

Link to this project: https://github.com/pwittchen/ReactiveAirplaneMode

Regards,
Piotr

[2017-08-19 11:34] #150 closed

[2017-08-20 23:38] AllanWang opened #209 "NPE in `observeNetworkConnectivity`"
I'm getting the error:

`Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()' on a null object reference`

To make things simple, [here](http://crashes.to/s/c41455d77fc) is the crashlytics log

and [here](https://github.com/AllanWang/Frost-for-Facebook/blob/master/app/src/main/kotlin/com/pitchedapps/frost/activities/BaseActivity.kt) is my base activity.

All that is ha

[2017-08-21 07:42] pwittchen commented on #209
There are null checks for `NetworkInfo`. It looks like `Context` or `ConnectivityManager` is null for some reason. I don't know if it possible for the `ConnectivityManager`, but we can add a null check for this object. `Context` may be null only in the case when you pass null as a `Context` to the library.

[2017-08-21 17:41] AllanWang commented on #209
I'm passing `applicationContext` like the sample so that should be fine. It does look like `ConnectivityManager` is null in this case. I'm not sure if this is a physical device or an emulated one given that there's no information on RAM, but perhaps it will be worthwhile to add a null check there?

[2017-08-21 17:50] pwittchen commented on #209
I'm not sure if it may happen that `ConnectivityManager` becomes `null`, but according to this discussion that's the only possible source of this NPE here. Due to this fact, we can add a null check for it.

[2017-08-21 17:57] AllanWang commented on #209
For `getSystemService`:

`@return The service or null if the name does not exist.`

So I guess it is possible. Thanks

[2017-08-22 18:11] pwittchen opened #212 "Release 0.12.0"
**Initial release notes**:

RxJava1.x:
- Fixed NPE occuring when `ConnectivityManager` is `null` in `ReactiveNetwork.observeNetworkConnectivity()` method - issue #209
- Added new method to the API for checking Internet connectivity - issue #205
  - `Observable<Boolean> observeInternetConnectivity(strategy, host)`
- Added to documentation comment about monitoring Internet connectivity with custom h

[2017-08-22 18:13] #209 closed, assigned to nobody

[2017-08-22 18:14] pwittchen commented on #209
Fixed. Bug fix will be available in the next release.

[2017-08-24 08:32] AbdullahUsmani opened #215 "Getting call for connectivity changes periodically on Samsung Note3 Neo"
I have the following code in my app::

[code]

It is working fine on most of the devices I tested (Oneplus X, Samsung J5 etc). The 'call' method of 'Action1' gets called once whenever internet connection is lost or retained. But on **Samsung Note3 Neo**, **Android v5.1.1**, it gets called again and again.

[2017-08-24 09:01] pwittchen commented on #215
Hi,

Thanks for reporting this issue.

If this problem occurs only on the mentioned device, it may be device specific problem. What do you mean by "gets called again and again"? Does it get called continuously in an endless loop? This may be related to Android version customized by Samsung. To be honest, I tested this library only on "pure" Android OS on Nexus 5 & 6 and I haven't checked it on Sam

[2017-08-24 16:23] #205 closed, assigned to pwittchen

[2017-08-24 17:05] #204 closed, assigned to pwittchen

[2017-08-27 17:09] pwittchen commented on #206
Done.

[2017-08-27 17:09] #206 closed, assigned to pwittchen

[2017-08-30 01:54] TonyTangAndroid opened #218 "Connected to Wifi with invalid Proxy shows the Internet Status to true"
the Internet Status will be **true** even if I connected to a wifi with invalid Proxy.  Is there expected? I reckon it should be false as the device could not access any Internet.

[2017-08-30 07:46] pwittchen commented on #218
It should be false if device doesn't have access to the Internet. Can you
provide more details about your case?

30.08.2017 3:55 AM "TonyTang" <notifications@github.com> napisał(a):

[2017-08-30 08:45] AbdullahUsmani commented on #215
Thanks for your response.
Yes, it gets called continuously. Ideally, I should get a callback whenever a change in connectivity happens, i.e, when internet gets connected or disconnected. But I am getting this callback in an endless loop.

Like, it keeps on logging "Connected" every 4-5 seconds. Then when I disconnect the internet, it keeps logging "Connection lost" every 4-5 seconds.

[2017-08-30 08:50] pwittchen commented on #215
Are you sure, you're using library correctly? Have you tried to run the
sample app and got the same results? If yes, I think it's may be a problem
with this concrete device or its custom Android OS.

On Wed, Aug 30, 2017 at 10:45 AM, Abdullah Usmani <notifications@github.com>
wrote:

--
Piotr Wittchen
http://wittchen.biz.pl

[2017-08-30 10:02] AbdullahUsmani commented on #215
I think I am using the library correctly. Because I am getting the correct results on all other devices. This must be a device/OS specific issue.
I haven't tried the sample app though. I'll check it and let you know soon.

[2017-08-30 10:11] pwittchen commented on #215
If it works on all other devices except for this one, it's definitely
device or OS specific issue and probably cannot be fixed within library
code. It can be reported to the device manufacturer.

On Wed, Aug 30, 2017 at 12:02 PM, Abdullah Usmani <notifications@github.com>
wrote:

--
Piotr Wittchen
http://wittchen.biz.pl

[2017-08-30 16:35] pwittchen commented on #212
Done.

[2017-08-30 16:35] #212 closed, assigned to pwittchen

[2017-08-31 09:58] lion4ik opened #219 "Possible memory leak"
https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/network/observing/strategy/PreLollipopNetworkObservingStrategy.java#L70

unregisterReceiver never be called. So, BroadcastReceiver will be leaked. I've tried to set up break point on this line and this was not called, howerer I disposed my Disposable.

[2017-08-31 11:31] pwittchen commented on #219
Thanks for reporting this issue.

Are you sure PreLollipopNetworkObservingStrategy was used in your case?
Maybe different strategy was used and that may be the reason, this method
wasn't called.

On Thu, Aug 31, 2017 at 11:58 AM, Alexey <notifications@github.com> wrote:

--
Piotr Wittchen
http://wittchen.biz.pl

[2017-08-31 11:52] lion4ik commented on #219
Yes, I am sure because I've tested it on api 19

[2017-08-31 11:57] pwittchen commented on #219
Ok, I'll investigate that issue.

[2017-08-31 13:07] lion4ik commented on #219
I've done pull request with fix https://github.com/pwittchen/ReactiveNetwork/pull/220

[2017-08-31 14:18] pwittchen commented on #219
Ok, thanks.

[2017-09-01 13:58] TonyTangAndroid commented on #218
I am using Pixel running Android 7.1.2. I randomly configured a invalid proxy like 192.168.1.112.Then I tried to test it out.

[2017-09-02 08:57] pwittchen commented on #218
I haven't tested it with a proxy. We can investigate that issue.

[2017-09-02 10:23] pwittchen commented on #219
PR merged. Fix will be available in the next release.

[2017-09-02 10:23] #219 closed, assigned to nobody

[2017-09-02 10:26] pwittchen opened #221 "Relase 0.12.1 (RxJava2.x only)"
**Initial release notes**:

Fixed memory leak in `PreLollipopNetworkObservingStrategy` during disposing of an `Observable` - issue #219.

**Things to do**:

- [x] RxJava2.x branch:
  - [x] update JavaDoc on `gh-pages`
  - [x] bump library version
  - [x] upload archives to Maven Central
  - [x] close and release artifact on Maven Central
  - [x] update `CHANGELOG.md` after Maven Sync
  - [x] bump

[2017-09-02 10:43] pwittchen opened #222 "Try to increase unit test coverage"

[2017-09-02 10:58] lion4ik commented on #219
thanks, when do you plan next release?

[2017-09-02 11:00] pwittchen commented on #219
I think I'll release it today. There's not much effort to do it. Later, we just need to wait for Maven Sync, so the new version should be available on Maven Central Repository in 48 hours or earlier.

If you want to be up to date with the upcoming release, you can track issue #221.

[2017-09-02 16:30] pwittchen commented on #221
Done.

[2017-09-02 16:30] #221 closed, assigned to pwittchen

[2017-09-02 16:31] pwittchen commented on #219
@lion4ik new release is already there: https://github.com/pwittchen/ReactiveNetwork#download

enjoy :)

[2017-09-04 20:57] #222 closed, assigned to nobody

[2017-09-04 21:01] lion4ik commented on #219
@pwittchen thank you very much! I've already done with update version

[2017-09-07 13:32] pwittchen opened #225 "Integrate NullAway with the library"
See details here: https://github.com/uber/NullAway
This library satisfies clean code principles and avoids passing null as a method parameter.

[2017-09-07 20:56] pwittchen commented on #225
I followed instructions in `README.md` and couldn't make it work quickly, so I decided to abandon this idea for now. We can consider that solution when it'll be more stable and working OOTB.

[2017-09-12 18:46] msridhar commented on #225
@pwittchen I'm a maintainer of NullAway.  Is there a specific problem you ran into?  Please feel free to file an issue if something didn't work as you expected; we can fix or try to clear up the docs

[2017-09-12 20:06] pwittchen commented on #225
Hi, @msridhar. I simply followed the instructions in the NullAway project.

In my [build.gradle](https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/build.gradle) I've added the following code:

[code]

Then, I've updated [library/build.gradle](https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/build.gradle) file as follows:

[code]
Next, I've executed `./gradlew clean bui

[2017-09-12 23:17] msridhar commented on #225
Hi, yeah, we need to clarify our README for your configuration a bit.  One thing I notice is that you probably can't combine the `apply plugin` syntax (older style) with the `plugins` block (newer style).  Also you don't need the `id "java"` line for an Android library.

We are working on giving a better example for Android code.  Once that's done, I'll ping back and we'll see if things work bette

[2017-09-13 11:00] pwittchen commented on #225
Thanks, @msridhar. I tried to replace plugins sections with the apply syntax for your configurations, but I also received some errors. When you'll have some news, I'll be happy to see them.

[2017-09-13 19:40] pwittchen commented on #225
PR with this update is in #226.

[2017-09-13 21:31] pwittchen commented on #225
The code was updated and PR is merged.

[2017-09-13 21:31] #225 closed, assigned to nobody

[2017-09-25 14:44] pwittchen opened #227 "Automate generating and publishing release notes & changelog"

[2017-09-25 14:57] Kisty commented on #227
Would be very interesting in how you achieve this! I guess take it from `git log`? I think some manual tidying would be needed if that's the case.

[2017-09-25 15:02] pwittchen commented on #227
Right now, it's just an idea, but I'd like to take commits between tag from the latest release and now (via git log) and then generate an update in `CHANGELOG.md` file and push it to the repository. In the future, I'd like to use GitHub API to create the same update in the GitHub releases. I think I can create a bash or python script (or scripts) for that.

[2017-09-26 08:17] sevar83 opened #228 "Error: Could not establish connection with WalledGardenStrategy"
Hi, I am flooded with this exception the entire time:

[code]

My code is very simple:

[code]

[2017-09-26 10:02] pwittchen commented on #228
Hi,

Thanks for reporting the issue.

Message says:

[code]

so your device couldn't establish socket connection and connection timeout occurred. Are you sure this issue is not related to your device or network you have been connected to? Maybe you were behind a proxy, connected via VPN or something like that?

I don't think this code in the very basic version is not working because it was already

[2017-09-26 13:28] sevar83 commented on #228
That's on API26 on the emulator. It happens from time to time not always.
It's strange because I have a connection and all the data in the app loads
up. Even the connectivity observable is emitting properly. And google.com
opens up in Chrome. My connection is laggy, maybe the socket connection
timeout runs out. I'm going to ignore this for awhile.

On Tue, 26 Sep 2017 at 13:04 Piotr Wittchen <noti

[2017-09-28 08:36] chihung93 opened #230 "Connectivity return incorrect results ?"
OS: Android 7.0
Emulator: Nexus S - Nougat API 24

When I turn off wifi on my phone, I return the result:
connectivity.isAvailable() == true

It happens when turn on/off Wifi on phone several times.

[code]

[2017-09-28 08:37] chihung93 commented on #218
I think it relates my issue #230

[2017-09-28 12:04] pwittchen commented on #230
Thanks for reporting this issue.

This issue may be related to proxy or emulator configuration. I've tested it on real devices with a regular network connection and it worked fine. We can investigate proxy and emulator issue, but it may be system related thing.

[2017-09-28 16:49] chihung93 commented on #230
it happens on this real device :

OS: Android 5.0
Real Device: Jacs - ANDROID PoE TOUCH DEVICES

[2017-09-28 17:31] pwittchen commented on #230
I've analyzed your code once again. Please note, you're using [NetworkInfo#isAvailable()](https://developer.android.com/reference/android/net/NetworkInfo.html#isAvailable()) method. According to the documentation it "Indicates whether network connectivity is possible". Connectivity is possible, so the value is `true`. It's correct behavior. If you want to check if you're connected to the network o

[2017-09-28 18:26] chihung93 commented on #230
And this lib so cool.
Thank you so much @pwittchen.

[2017-09-29 12:44] pwittchen commented on #230
Ok. When everything is clear, then we can close this issue :).

[2017-09-30 09:32] pwittchen opened #231 "Release 0.12.2-rx2"
**Initial release notes** (RxJava2.x):
- updated API of `MarshmallowNetworkObservingStrategy`
  - made `void registerIdleReceiver(context)` `protected`
  - made `boolean isIdleMode(context)` `protected`
  - made `tryToUnregisterCallback(ConnectivityManager)` `protected`
  - made `tryToUnregisterReceiver(context)` `protected`
  - made `NetworkCallback createNetworkCallback(context)` `protected`
  -

[2017-10-07 08:24] maher640 opened #232 "possible typo in Observing Internet connectivity example"
The following example yields this error
_**Class 'Anonymous class derived from Consumer' must either be declared abstract or implement abstract method accept(T) in 'Consumer'**_
[code]

when I change the code to the following, it works:
[code]

[2017-10-07 10:28] pwittchen commented on #232
Hi @maher640!

Yeah. You're right. There's a mistake in the documentation. `Connectivity` is used for observing network connectivity, but for observing Internet connectivity, we have a `Boolean` type.

[2017-10-07 10:30] pwittchen commented on #232
`README.md` fixed. Thanks!

[2017-10-07 10:30] #232 closed, assigned to nobody

[2017-10-25 21:42] consp1racy commented on #209
@AllanWang The stacktrace is great help.

@AllanWang @pwittchen Guys, I just dug in AOSP a bit and there's no way ConnectionManager is null. See `android.app.ContextImpl:289` in SDK 15 and `android.app.SystemServiceRegistry:790` in SDK 25. Whatever happens, there always is a non-null object.

If you take a look at the exception

    ...
    android.net.IConnectivityManager$Stub$Proxy.getActiveNetw

[2017-10-25 22:50] AllanWang commented on #209
@consp1racy
1. Do you have links to the lines in question?
2. Are you still getting this error?

What you say may be true, but you'd be surprised how many core features seem to crash on specific devices. Hopefully a null check for a system service, even though it _should_ exist, may prevent some of the errors.

[2017-10-25 23:14] consp1racy commented on #209
**TL;DR:** I've definitely gone off topic. The point is `ConnectivityManager` was not null so a null check did not resolve the error.

---

@AllanWang

Sure, here are the links:

+ [`android.app.ContextImpl:289` in SDK 15](https://github.com/aosp-mirror/platform_frameworks_base/blob/df331873c8576e0ae34ae1ee3cc258beed373535/core/java/android/app/ContextImpl.java#L289)
+ [`android.app.SystemServiceR

[2017-10-26 09:15] mohamadalhoussein opened #234 "Unsubscription"
Unable to unsubscribe when internet switches on, so the observable still works when it is not needed

[2017-10-26 20:20] pwittchen commented on #209
I think, that problems mentioned by you guys are related to Android itself - not the library. Unfortunately, we cannot fix Android within this or another library. It may be good idea to post such issue to the Android issue tracker, so the source of the problem could be fixed.

[2017-10-26 20:22] pwittchen commented on #234
Thanks for reporting this issue. Can you provide more details or code snippets? Unsubscription should work. I'll check it again later.

[2017-10-26 20:44] AllanWang commented on #209
@consp1racy even though I distribute through Play Store, I still can't guarantee the source of my app. I've had users build themselves and run on emulators. Others can also download an apk externally and copy it to a device. It doesn't look like any of this happened in this particular case, but it is certainly possible.

Given that this is not an issue within the library, I would recommend not imp

[2017-10-29 21:34] pwittchen opened #235 "Update gradle version and syntax"
Update gradle version and syntax

References:
- https://docs.gradle.org/current/release-notes.html
- https://stackoverflow.com/questions/44413952/gradle-implementation-vs-api-configuration

[2017-10-30 14:13] #235 closed, assigned to nobody

[2017-11-03 21:52] aperfilyev commented on #115
@pwittchen so it seems there is another one broadcast being sent about light idle mode `android.os.PowerManager#ACTION_LIGHT_DEVICE_IDLE_MODE_CHANGED`. Can I submit a PR to fix this?

[2017-11-03 22:01] pwittchen commented on #115
Hi,

It should be already fixed for the latest Android version.

Regards

03.11.2017 10:53 PM "Alexander Perfilyev" <notifications@github.com>
napisał(a):

[2017-11-03 22:07] aperfilyev commented on #115
@pwittchen As I see in the [source](https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/network/observing/strategy/MarshmallowNetworkObservingStrategy.java#L82), it listens only for `PowerManager.ACTION_DEVICE_IDLE_MODE_CHANGED` which is deep doze mode.

[2017-11-06 22:28] pwittchen opened #239 "Consider adding guava-beta-checker for static code analysis"
https://github.com/google/guava-beta-checker

[2017-11-11 20:07] #231 closed, assigned to nobody

[2017-11-11 20:12] pwittchen opened #240 "RxJava1.x: update dependencies"
Update dependencies on `RxJava1.x` branch for the next release.

[2017-11-12 10:44] pwittchen commented on #240
Done in https://github.com/pwittchen/ReactiveNetwork/commit/7c521453075ca4637b120c8cd989b33460ef1bd8

[2017-11-12 10:44] #240 closed, assigned to nobody

[2017-11-12 10:48] pwittchen opened #241 "RxJava1.x: release 0.12.2"
**Initial realese notes**:
- updated project dependencies
- updated Gradle to 3.0.0

**Things to do**:

- [x] RxJava1.x branch:
  - [x] bump library version
  - [x] upload archives to Maven Central
  - [x] close and release artifact on Maven Central
  - [x] update `CHANGELOG.md` after Maven Sync
  - [x] bump library version in `README.md`
  - [x] create new GitHub release

[2017-11-12 16:30] #241 closed, assigned to pwittchen

[2017-11-13 18:34] pwittchen opened #242 "Consider creating library website on gh-pages with generated docs"
Assumptions:
- we can move JavaDocs to `javadoc` dir
- docs should be generated only for RxJava2.x version (RxJava1.x is in maintenance mode now)

Reference: https://github.com/apex/static

[2017-11-20 05:47] maweilong commented on #230
Hi foreign beauty

[2017-11-27 11:13] pwittchen opened #243 "add isActiveNetworkMetered() method to Connectivity class"
Reference: https://developer.android.com/reference/android/net/ConnectivityManager.html#isActiveNetworkMetered()

[2017-11-27 11:15] pwittchen opened #244 "add getNetworkCapabilities(android.net.Network) to Connectivity class"
References:
- https://developer.android.com/reference/android/net/ConnectivityManager.html#getNetworkCapabilities(android.net.Network)
- https://stackoverflow.com/questions/29224026/how-to-get-networkcapabilities-object-on-android

[2017-11-30 12:36] pwittchen commented on #68
I've added a simple example here: https://github.com/pwittchen/ReactiveNetwork#integration-with-retrofit.
It's valid for RxJava2.x version.

[2017-11-30 12:36] #68 closed

[2017-11-30 12:38] pwittchen commented on #49
I've added simple examples with nested calling with OkHttp and Retrofit here:
https://github.com/pwittchen/ReactiveNetwork#integration-with-other-libraries

If you're using other libraries, they can be integrated in the similar manner.

[2017-11-30 12:38] #49 closed

[2017-12-04 06:53] PitipongXYZ opened #245 "How to unregisterReceiver with com.github.pwittchen:reactivenetwork-rx2:0.9.1 version?"
Hi there, I got this error message

My app not crash but how to call unregisterReceiver() for fix this?

Thank in advance.

[2017-12-04 09:37] pwittchen commented on #245
To unregister receiver, you should dispose an Observable. E.g. in the case of the Activity, when you create an Observable somewhere (let's say in `onResume()` method), you should dispose it in `onPause()` method. It's a general rule regarding working with reactive data types on Android.

If you are looking for examples, take a look at the sample app here: https://github.com/pwittchen/ReactiveNetwo

[2017-12-05 04:50] PitipongXYZ commented on #245
Thanks, It very helpful for me.

[2017-12-05 04:50] #245 closed, assigned to nobody

[2017-12-12 08:16] kmalmur commented on #170
the same on my side. @Bombo how did you deal with that?

[2017-12-12 08:22] Bombo commented on #170
@kmalmur I haven't, yet. I switched to a [different library](https://github.com/novoda/merlin) for now.

[2017-12-12 15:51] timrijckaert opened #246 "Feature Request: Initial state when subscribing?"
Hi,

Maybe I have not stumbled upon this in the documentation, but I can't seem to figure out how to get the initial state of the network info when subscribing on the stream.

It seems quite obvious to me the flow looks like this when subscribing:
1. Initial state
2. Changes

Or is there any equivalent to the `ReactiveNetwork.checkInternetConnectivity()` for `NetworkInfo`?

Thanks in advance.

[2017-12-12 16:21] pwittchen commented on #246
Hi,

I don't really understand the question. When you call:

[code]

then you'll get an initial network state when subscribing and you'll be updated whenever connectivity changes.

Do you need to check network connectivity once without being updated later when connectivity will change? `ReactiveNetwork.checkInternetConnectivity()` returns RxJava2 `Single` type and then finishes emission of the dat

[2017-12-12 17:23] timrijckaert commented on #246
Ok my bad :)

[2017-12-12 17:23] #246 closed, assigned to nobody

[2017-12-12 17:24] pwittchen commented on #246
No problem. I just wasn't sure about your use case and I thought maybe you needed something what the library does not offer :-).

[2017-12-17 13:57] waniolka commented on #170
Same error on Xiaomi Mi6.

[2017-12-17 16:12] pwittchen commented on #170
@Bombo @kmalmur @waniolka Can you provide any concrete steps, details or conditions to reproduce this bug? I'm using Motorola Nexus 6 with clean Android 7.1.1 and I cannot reproduce it, so I cannot figure out the source of that bug. Now it looks like it's device specific or related to the concrete Android OS version.

[2017-12-17 16:18] kmalmur commented on #170
It happens right after I turn off the WiFi, and the phone switches to
Mobile data.

17.12.2017 5:12 PM "Piotr Wittchen" <notifications@github.com> napisał(a):

[2017-12-18 14:49] toe-pyae-sone-oo commented on #176
add second parameter in `.subscribe(new Consumer<>(), new Consumer<Throwable>() {})`
like that.

[2017-12-28 16:14] pwittchen opened #247 "add project dependency analysis to Gradle configuration"
Consider using this Gradle Plugin: https://github.com/wfhartford/gradle-dependency-analyze

[2017-12-28 19:06] marcoRS opened #248 "RxJava2 Migration Issues"
Hello we previously had the following code when using the RxJava 1 version:

[code]
But with the Api change for RxJava2 we cannot find the equivalent.

[2017-12-28 22:21] pwittchen commented on #248
Hi @marcoRS.

According to my docs, you were using version 0.2.0 or earlier, which was released 2 years ago. A lot of code was changed since that time.

In the latest version of the library, you can observe network connectivity (e.g. Wifi, mobile, etc.) with method:

[code]

It doesn't check Internet connectivity. Just network connectivity (network can be disconnected from the Internet).

If you w

[2018-01-03 09:06] pwittchen commented on #247
I couldn't make it work with library for now.

[2018-01-03 09:06] #247 closed, assigned to nobody

[2018-01-03 09:17] pwittchen opened #250 "Release 0.12.3-rx2"
**Release notes**:
- updated project dependencies -> see: https://github.com/pwittchen/ReactiveNetwork/commit/abc1fd5e7f18e3fa504e071f000ae5067946c68f
- updated gradle configuration in `config/quality.gradle` (replaced deprecated invocations with new ones)

**Things to do**:
- [x] update JavaDoc on `gh-pages` (not needed this time)
- [x] update release notes
- [x] bump library version
- [x] upload

[2018-01-03 18:16] #250 closed, assigned to pwittchen

[2018-01-09 14:10] pwittchen opened #251 "Add static code analysis to the Kotlin sample app"
I'd like to add static code analysis to the sample Kotlin app in order to learn this stuff.

References:
- https://github.com/arturbosch/detekt
- https://github.com/shyiko/ktlint
- https://github.com/jlleitschuh/ktlint-gradle
- https://github.com/jeremymailen/kotlinter-gradle
- https://github.com/vanniktech/gradle-code-quality-tools-plugin
- https://blog.thefuntasty.com/static-code-analysis-for-ko

[2018-01-09 21:20] pwittchen commented on #251
Partially done in #252 (added detekt)

[2018-01-10 11:54] pwittchen commented on #242
apex/static doesn't work with single README.md file, but [docsify](https://docsify.js.org) does and it can be considered for this project

initial structure of `gh-pages`:
- index.html (with redirect to RxJava2.x dir)
- RxJava1.x dir with generated docs
- RxJava2.x dir with generated docs
- RxJava1.x/javadocs dir with generated javaDocs
- RxJava2.x/javadocs dir with generated javaDocs

[2018-01-10 21:18] pwittchen commented on #242
Docs created with docsify at:
- http://pwittchen.github.io/ReactiveNetwork/docs/RxJava1.x/
- http://pwittchen.github.io/ReactiveNetwork/docs/RxJava2.x/

Maybe they'll need a few adjustments in the future and instruction for generating them, but for now, it's fine.

[2018-01-10 21:18] #242 closed, assigned to nobody

[2018-01-15 15:45] luccasmaso opened #253 "[Question] Does observeInternetConnectivity creates a Hot or Cold Observable?"
I'm calling `ReactiveNetwork.observeInternetConnectivity()` all over my code and I would like to know if each time I create this observable it will open new socket connection or polling walled garden host depending on the Strategy.

Reference: https://medium.com/@benlesh/hot-vs-cold-observables-f8094ed53339#5692

Thanks

[2018-01-15 16:07] pwittchen commented on #253
Since version 0.11.0 `WalledGardenInternetObservingStrategy` is the default strategy for observing internet connection. Before 0.11.0 it was opening a Socket. Of course, you can customize it.

Reference: https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/CHANGELOG.md#v-0110

Hint: If you are using this call in many places, I'd suggest to hide it behind an interface for the easy customizat

[2018-01-15 16:45] luccasmaso commented on #253
Thank for the response. But if I use the socket strategy will every `observeInternetConnectivity` create a new socket connection?

[2018-01-15 18:52] pwittchen commented on #253
In `SocketInternetObservingStrategy` it should create new socket connection, because new instance of `Socket` object is created there. After each check, socket connection is closed if there's no exception. You can browse the source code, if you want to know more details.

[2018-01-15 19:20] #253 closed, assigned to nobody

[2018-02-01 08:50] SunJenry opened #254 "when i open Strict Mode in Android Oreo, it keeps show error like:Untagged socket detected; use TrafficStats.setThreadSocketTag() to track all network usage. How can i solve this problem?"
![image](https://user-images.githubusercontent.com/14819974/35669367-d251c89e-076f-11e8-87d5-6f53e667b876.png)

[2018-02-01 10:38] pwittchen commented on #254
Hi,

Thanks for reporting that. It can be fixed in the similar way as here: https://github.com/square/okhttp/pull/842.

Other references:
- https://developer.android.com/training/efficient-downloads/efficient-network-access.html?hl=es
- https://stackoverflow.com/questions/36696447/how-to-get-trafficstats-from-a-specific-thread

I'll take a look on that.

[2018-02-02 04:18] SunJenry commented on #254
Thanks a lot, your comment really helps me.Fix this problem by adding the code in the picture.
![image](https://user-images.githubusercontent.com/14819974/35716192-2117dcb4-0812-11e8-9f6b-47b84e768ce2.png)

[2018-02-02 04:18] #254 closed, assigned to nobody

[2018-02-02 12:09] pwittchen opened #255 "Fix Internet monitoring issues in Strict Mode on Android Oreo"
Details can be found in #254.

It should be done in all classes implementing `InternetObservingStrategy`.

Consider applying [decorator pattern](https://www.tutorialspoint.com/design_pattern/decorator_pattern.htm) or template method pattern.

[2018-02-02 17:36] gomeskingsley opened #256 "Unable to dispose"

[2018-02-02 18:05] #256 closed, assigned to nobody

[2018-02-10 10:47] VisheshVadhera opened #257 "Error receiving broadcast Intent: PreLollipopNetworkObservingStrategy"
**Stacktrace:**

[code]

**OS:** 4.4.2

**Manufacturer:** Asus

**Phone model:** ZenFone 5 (A501CG)

**Library version:** 0.12.0, RxJava 1

[2018-02-10 10:56] pwittchen commented on #257
Hi,

Thanks for reporting that issue. I suppose it's the same problem as here: https://github.com/pwittchen/ReactiveWiFi/issues/28. I'll bump version of RxJava1.x and it should fix that problem.

Regards,
Piotr

[2018-02-10 11:01] pwittchen opened #258 "Release 0.12.3 (RxJava1.x)"
**Initial release notes**:
- bumped RxJava: 1.3.3 -> 1.3.5
- updated Gradle Build Tools: 3.0.0 -> 3.0.1
- added script for publishing JavaDoc on gh-pages
- added script for publishing documentation on gh-pages

**Things to do**:

- [x] update JavaDoc on `gh-pages`
- [x] update documentation on `gh-pages`
- [x] bump library version
- [x] upload archives to Maven Central
- [x] close and release arti

[2018-02-10 11:02] pwittchen commented on #234
I didn't get any response for a long time, so I guess this issue is longer valid.

[2018-02-10 11:02] #234 closed, assigned to nobody

[2018-02-10 11:03] pwittchen commented on #248
I didn't get any new response for a long time, so I guess this problem was clarified.

[2018-02-10 11:03] #248 closed, assigned to nobody

[2018-02-10 11:19] VisheshVadhera commented on #257
Hey Piotr,

Thanks for the quick reply. Should I open a PR for this?

[2018-02-10 11:20] pwittchen commented on #257
You can, if you'd like to.

[2018-02-10 11:22] VisheshVadhera commented on #257
Perfect, I'll open it.

[2018-02-10 19:00] pwittchen commented on #257
PR merged. Update should be available in the next release. You can monitor release progress in #258.
In case of further problems, we can re-open this issue or create a new one.

[2018-02-10 19:00] #257 closed, assigned to nobody

[2018-02-11 08:47] pwittchen commented on #192
Done by adding the following bash scripts:
- `update_docs.sh`
- `update_javadocs.sh`

[2018-02-11 08:47] #192 closed, assigned to nobody

[2018-02-11 19:14] #258 closed, assigned to pwittchen

[2018-02-20 12:11] pwittchen opened #260 "Simplify codecov.yml configuration file"
It doesn't work in the way I really wanted to right now, so we can simplify that.
We can use the same approach as RxJava project: https://github.com/ReactiveX/RxJava/blob/2.x/codecov.yml

[2018-02-20 13:33] TasTugberk opened #261 "Can ReactiveNetwork run on background ?"
Hi, first of all thanks for such a good library. I'd like to use this library in the background, because I need to transfer local variables to server whenever connection arrives.
Thanks in advance.

[2018-02-20 15:10] pwittchen commented on #261
Hi,

Sure. You can run it the background. If by "background" you mean inside Android Service, then of course it can be done. It doesn't matter when you call it (Activity or Service). If you would like to pass network monitoring to another thread via Scheduler, you can also do it with RxJava.

Regards,
Piotr

[2018-02-21 06:39] TasTugberk commented on #261
I got it, thank you.

[2018-02-21 06:39] #261 closed, assigned to nobody

[2018-03-05 08:32] wjljack opened #262 "Observable.create alternative in tree-shaking"
I need tree-shaking like
`import { zip } from 'rxjs/observable/zip';`
to replace Observable.zip
but I can't find Observable.create ,when I use
[code]
it's import all prototypes in Observable and can't tree-shaking...

[2018-03-05 08:35] wjljack commented on #262
I need a function to customize an Observable.

[2018-03-05 08:43] pwittchen commented on #262
Hello.

I don't really know why are you providing sample code snippets in JavaScript while this project is a Java library :-).

Regards,
Piotr

[2018-03-05 19:23] pwittchen commented on #262
I guess it's a mistake, so I'm closing this issue. If you have any questions regarding this project, you can create a new issue.

[2018-03-05 19:23] #262 closed, assigned to nobody

[2018-03-13 20:22] pwittchen opened #263 "Refactor unit tests and add TestSubscriber"
There are places in the unit tests, where assertions may fail, but whole unit test not. Apply `TestSubscriber` instead of custom assertion inside `Consumer` if possible, to make tests more proper and stable. See examples here: https://github.com/pwittchen/ReactiveBus/blob/master/library/src/test/java/com/github/pwittchen/reactivebus/library/ReactiveBusTest.java

[2018-03-15 15:47] hollmannlu commented on #170
Same here, v0.12.3
Pixel with 8.1 and Nexus 5x with 8.1

I am starting the app with turned on wifi:
`Connectivity{state=CONNECTED, detailedState=CONNECTED, type=9, subType=0, available=true, failover=false, roaming=false, typeName='Ethernet', subTypeName='', reason='null', extraInfo='08:00:27:85:55:66'}`

 then I turn off wifi and instead of stating a mobile-connection it states:
`Connectivity{sta

[2018-03-16 18:29] javierpe commented on #176
If I don't  want to know about any error and only execute ```.subscribe()```?

[2018-03-16 18:37] pwittchen commented on #176
@javierpe You can do it, but while checking Internet connectivity many exceptions may occur. If you won't handle them, they will crash your app. You don't have to do anything in `onError` method implementation, but logging information about error and showing appropriate message to the user if necessary is a good practice.

[2018-03-21 18:31] #263 closed, assigned to nobody

[2018-03-25 10:21] isakgithub commented on #218
Help wifi connection global

[2018-03-25 10:47] pwittchen commented on #218
@isakgithub I don't understand your message.

[2018-03-26 06:40] lovetomatoo opened #265 "Is it a bug?"
I want get the network change when my app is in background, so I add listener in `onCreate()` method, remove the listener in `onDestroy()` method. Then, mobile to wifi. I can't get a call back.

[2018-03-26 07:03] pwittchen commented on #265
Hi,

It's not a bug. If you want to have network monitoring in the background, you should put subscription into the Android `Service` - not an `Activity`. It should work and have tested it some time ago. You shouldn't get any callback from the `Activity` when application is in the background.

Regards,
Piotr

[2018-03-26 09:10] lovetomatoo commented on #265
@pwittchen Hi,
thank u for your answer. but I don't want to use Android Service. I tested again, I can get a call back, but it was slow, about 5 second. I don't want use Service that although  my app in background, it will alive always.

[2018-03-26 09:37] pwittchen commented on #265
Honestly, I'm not sure if there's any way to write a code for Android which runs while app is in background other than using a `Service`. Code within the `Activity` is executed while `Activity` is active and within its lifecycle. It's related to Android system design - not this library.

[2018-03-26 09:56] lovetomatoo commented on #265
I know that no way can keep app alive when it's in background. I only test when it alive in background, There is no timely give call back  when network from mobile to wifi. My way of test it is: First,call api "ReactiveNetwork.observeNetworkConnectivity" in onCreat not in onResume(I don't want to call this api evertime in onResume); Second,go to Setting page to change network form mobile to wifi.

[2018-03-26 10:02] pwittchen commented on #265
If you don't want to call a web service every time, think about caching your response and call it when the data becomes stale (according to your strategy). This delay may depend on your system or a specific device. There's no 5 seconds delay coded in the library. We are getting new information as soon as we receive callback from the `BroadcastReceiver`. This library simply wraps default Android me

[2018-03-26 10:13] lovetomatoo commented on #265
Thank you very much.

[2018-03-26 10:14] #265 closed, assigned to nobody

[2018-03-29 08:47] pwittchen opened #266 "Verify and update external dependencies"
For sure RxJava needs to be updated both on RxJava1.x and RxJava2.x branch. Other dependencies also should be verified.

[2018-03-29 08:50] pwittchen commented on #228
This issue seems to be related to unreliable Internet connection and connections timeout - not the library itself, so it can be closed.

[2018-03-29 08:50] #228 closed, assigned to nobody

[2018-04-05 13:20] AtaerCaner opened #267 "WalledGardenInternetObservingStrategy error"
Hello I get two different error in _WalledGardenInternetObservingStrategy_ that caused to crash.

**First:**

[code]
**Second:**

[code]
**-----------**

Do you know the reason and did you solve these in last version? Thank you.

**Version:**  reactivenetwork-rx2:0.12.1

[2018-04-05 18:50] pwittchen commented on #267
Hi,

Thanks for reporting this issue.

**First problem**:

You haven't specified error handler during observing the Internet and something went wrong (e.g. connection timeout, no Internet, no WiFi connection, wrong address, etc.). You should handle it as follows:

[code]

You can do it with any kind of RxJava Observable type. I should update documentation a little bit.

**Second problem**:

StackT

[2018-04-06 10:00] AtaerCaner commented on #267
I understand Piotr. Thank you for the quick response

[2018-04-07 10:32] pwittchen commented on #266
Solved in #268 and #269.

[2018-04-07 10:44] #266 closed, assigned to nobody

[2018-04-07 10:47] pwittchen commented on #267
Ok, when it's clarified, we can close this issue.

[2018-04-07 10:47] #267 closed, assigned to nobody

[2018-04-07 11:29] pwittchen opened #270 "Release 0.12.4"
**Initial release notes**:
- updated project dependencies - PR #268, PR #269, commit 02449af2f38ac463e1aa8824beee46ea823fd83b

**Things to do**:
- [x] update JavaDoc on `gh-pages`
- [x] update documentation on `gh-pages`
- [x] bump library version
- [x] upload archives to Maven Central
- [x] close and release artifact on Maven Central
- [x] update `CHANGELOG.md` after Maven Sync
- [x] bump library

[2018-04-07 18:36] pwittchen opened #271 "Refactor ReactiveNetwork class - introduce Builder pattern instead of methods with multiple parameters for observing Internet"
Having many `observeInternetConnectivity(...)` and `checkInternetConnectivity(...)` methods with multiple parameters makes code less readable and harder to maintain. During the library evolution, it grew to a tiny tech debt, which can be paid/fixed.

I'd like to replace existing solution with something like that:

[code]

Of course, all parameters will be optional and the same pattern should be ap

[2018-04-07 19:07] pwittchen commented on #255
I've decided, this issue is not so relevant and may occur in a development setups - not production apps, so we're not developing it now.

[2018-04-07 19:07] #255 closed, assigned to nobody

[2018-04-13 07:08] Slavcheg2107 opened #272 "Could not Head to Jitpack/ReactiveNetwork"
[code]

[2018-04-25 09:16] kuzmenok opened #273 "android.os.NetworkOnMainThreadException on Pre-Lollipop devices"
PreLollipopNetworkObservingStrategy emits Connectivity in the main thread. No matter what flow I indicated.
So that code will crash with NetworkOnMainThreadException:

[code]

Anyway, the lib is awesome :) Thanks!

[2018-04-25 12:24] pwittchen commented on #273
Hi,

Thanks for reporting this issue. Are you sure?
When you call something like that:

[code]

Connectivity should be monitored in the background thread and result should be received in the main thread. Nevertheless, `observeConnectivity` methods do not rely on any network operations. They just wrap `BroadcastReaceivers` or Network Callbacks from Android API. Possibility of `NetworkOnMainThreadEx

[2018-04-25 12:45] kuzmenok commented on #273
Yeah, I caught NetworkOnMainThreadException on call `ReactiveNetwork.checkInternetConnectivity()`.
As I know, `BroadcastReceiver`'s method `onReceive` is called on the main thread, so the chain continues executing on the main thread. I just expected that chain will work on io-thread.

I think it would be great to call `emitter.onNext(Connectivity.create(context))` in the thread in which the method

[2018-04-25 13:11] pwittchen commented on #273
`ReactiveNetwork.checkInternetConnectivity()` will be executed in the main thread as long as you won't tell it to be executed on another thread via `subscribeOn(...)` method.

[2018-04-25 13:13] pwittchen commented on #272
Can you provide more details? I don't really know what you mean.

I see "JitPack" in the title. I haven't tried to use this library via JitPack. It's hosted in Maven Central repository.

[2018-04-25 13:33] kuzmenok commented on #273
Ok. Seems there is misunderstanding :) I meant...
Let’s look at that example:
[code]
A block of code in the` flatMapSingle` runs on MainThread on Api < 21. And on RxThread on API 21+
In my opinion, there must be a consistency between API versions
P.S. It's not critical. We call `checkInternetConnectivity` in the background now) So the issue can be closed, I think

[2018-04-30 07:34] herberthartkor commented on #170
Hi!
Any updates on this? I've got the same issues and can verify the last comment.

[2018-05-01 05:55] Kisty commented on #170
@herberthartkor please see the above comment https://github.com/pwittchen/ReactiveNetwork/issues/170#issuecomment-352266454

[2018-05-14 17:55] consp1racy commented on #273
Broadcast receiver is run on the main thread but emissions must happen on the correct thread. One way is to use serialized subjects.

[2018-05-15 11:39] pwittchen opened #274 "Use CompositeDisposable in sample apps"
Use [CompositeDisposable](http://reactivex.io/RxJava/javadoc/io/reactivex/disposables/CompositeDisposable.html) in sample apps.

[2018-05-21 12:59] aldocano commented on #230
Im sorry for reopening this issue but i have a question that is similar to it. Please check the code below and i struggle with it because of the incorrect value it returns. Because i do have internet connection and the library return false multiple times.

[code]

[2018-05-21 13:39] pwittchen commented on #230
Hi @aldocano,

In order to help you, I need more details. In standard scenario and setup, this code will work correctly. There must be something specific with your network, device or app.

[2018-05-21 14:22] aldocano commented on #230
I happens in all devices, while i watch a online video in spans the dialog of no internet connection, i dont know why, because the device has continuous internet connection.

[2018-05-21 14:34] chihung93 commented on #230
@aldocano Al
I think it pings to an IP address continuously so it will be blocked for a short time.

[2018-05-21 14:50] aldocano commented on #230
Which one is the better way to continuously check the internet connection?

[2018-05-21 14:52] pwittchen commented on #230
If it's not necessary, it's better to check connectivity **only once**.
Read more here: https://github.com/pwittchen/ReactiveNetwork#checking-internet-connectivity-once
You can observe connectivity continuously if you really need this.

[2018-05-22 07:46] aldocano commented on #230
Sorry for late response, i need to continuously check it, maybe pinging server returns some timeouts and therefore it displays the not connected dialog.?

[2018-05-22 08:07] pwittchen commented on #230
Then you should use method with `observe` prefix. It's possible that server returns timeouts. It's also possible that you are using a proxy or network, which controls traffic and blocks many similar requests to avoid request flood, DoS, etc. You can try to set larger ping interval in milliseconds, which may fix this issue. It's possible with the library API. Default ping interval is 2000 ms (= 2 s

[2018-05-22 08:27] aldocano commented on #230
The server is google firebase server url. Strange that this occurs in strange conditions.
Can you show an example with the observe prefix and also the larger ping interval.

[2018-05-22 08:40] pwittchen commented on #230
Sure.

You can use the following observable:

[code]

For example:

[code]

You can find more methods here: https://github.com/pwittchen/ReactiveNetwork#observing-internet-connectivity

I know, this API became unconveninent when number of parameters and different variantions grew, but I have plan to fix this.

[2018-05-22 08:51] aldocano commented on #230
Thank you for the help i will try and let you know if there is any difference. Thanks.

[2018-05-23 09:47] Pietervdv commented on #272
Hi @pwittchen.
I am not sure what the user who posted this issue ran into but what I had was a similar issue as his where it was not syncing gradle or building app complaining about JitPack.
But the issue only came up after adding maven { url 'https://maven.fabric.io/public' } for crashlytics.
I then added mavenCentral() to my repo list at the top and the error seems to have been sorted.
Really no

[2018-05-23 10:06] pwittchen commented on #272
Hi @Pietervdv. Exactly. Library is deployed to Maven Central repository like most of the java libraries. I'm not using JitPack here. It's hard to develop JVM or Android projects without adding `mavenCentral()` to `build.gradle` file. I think, we can close it.

[2018-05-23 10:06] #272 closed, assigned to nobody

[2018-06-01 09:27] Harmeetkaur01 commented on #176
@pwittchen  I m facing the same issue when I try to connected to 5G network otherwise it is working fine

[2018-06-01 09:41] pwittchen commented on #176
@Harmeetkaur01 for some reason, your device is crashing while trying to connect to 5G network. This issue depends on a particular device - not the library. In order to handle this error gracefully, implement error handler in the way @toe-pyae-sone-oo suggested in the comment above.

[2018-06-04 10:25] djohannot opened #275 "Mock ReactiveNetwork"
Hi guys,
I have (maybe) a stupid question, but i take the risk to ask for it.

I want to use your project in our application, but I am afraid I will not be able to mock your library as all the methods are static from the ReactiveNetwork class.

Do you have a solution for it? How can mock the response from the methods of that class without using a specific library like PowerMock?

Thanks for your h

[2018-06-04 11:06] pwittchen commented on #275
Hi,

I also had doubts if I should made these methods static, but I followed approach from the original RxJava library, where they do the same. Please note, it's library - not a framework, so you're not forced to use it in any particular way. My suggestion is to hide library behind appropriate interface, which can be mocked in your project. E.g.

[code]

[code]

Now, you can use interface in your

[2018-06-09 14:33] vedantroy opened #276 "checkInternetConnectivity Falsely Claiming Phone Is Not Connected to Internet When Switching from Wifi to Mobile Data Only"
Preface - I'm very new to RxJava, so this may be my mistake.

I have the following code that is taken directly from the readme, albeit I added in some logging statements.

[code]

I've noticed something odd. If I'm connected to both wifi and cellular data and then I disconnect from the wifi, but I am still on cellular data, I will get the following output immediately after I disconnect from the wi

[2018-06-09 22:02] pwittchen commented on #276
Hi,

Thanks for reporting this issue. I need to verify that. It looks like issue similar to #170.

Regards,
Piotr

[2018-06-11 02:58] vedantroy commented on #276
@pwittchen Is there any potential work around for this issue until it gets fixed?

I've thought of two work arounds:

1]

Considering logcat gives the proper output after I refresh my app, I think the issue might go away if I call  checkInternetConnectivity twice (with a small delay in between each time) after the phone connects to a network instead of calling it just once. But, I'm not sure how t

[2018-06-11 05:55] pwittchen commented on #276
I need to investigate it, to be sure what kind of solution can be applied here or if it can be solved inside the library.

`observeInternetConnectivity` should solve this. Nevertheless, it could increase battery usage and data consumption. You can customize delay and set it to a higher value, to reduce battery drain.

[2018-06-11 07:05] pwittchen commented on #276
I used the same sample from `README.md`.

[code]

Here are results of my investigation:

assumption: both WiFi and mobile network have an Internet access

**scenario 1**

1. Connect to WiFi
2. Connect to the mobile network
3. Disconnect from WiFi
4. Status: connected

**scenario 2**

1. Connect to WiFi
2. Connect to the mobile network
3. Disconnect from mobile network
4. Status: connected

**scena

[2018-06-11 07:24] pwittchen commented on #276
Ok,

I've done a few more investigations. It seems that following approach should solve this problem:

[code]

so basically I simplified this:

[code]

to that:

[code]

I've verified it with all 4 scenarios and it looks that it works fine now.

@vedantroy, please check if it solves your problem.

Nevertheless, I need to update docs in `README.md` to avoid such problems in the future.

**edit**: d

[2018-06-11 07:37] pwittchen opened #277 "Bump project dependencies"
They may be a bit outdated now.

[2018-06-11 08:00] #277 closed, assigned to nobody

[2018-06-24 11:05] pwittchen commented on #274
For some unknown reason, sample app, which `CompositeDisposable` is not behaving correctly and disposables are not properly resumed when the `Activity` goes from the background to the foreground.

[2018-06-24 11:05] #274 closed, assigned to nobody

[2018-06-24 16:18] pwittchen opened #280 "Release 1.0.0"
**Initial release notes**:
- fixed docs in https://github.com/pwittchen/ReactiveNetwork/commit/76ab2b23210207d83250da5d8fd0cd6e275e3f08 after reporting problem in #276 (returning false-positive connectivity results in one edge-case)
- updated project dependencies - PR #269, commit 02449af2f38ac463e1aa8824beee46ea823fd83b
- refactored `ReactiveNetwork` class with Builder pattern - PR #279
- removed

[2018-06-24 16:49] pwittchen commented on #271
Done.

[2018-06-24 16:49] #271 closed, assigned to nobody

[2018-06-24 17:19] pwittchen commented on #276
I've got no response, so I assume problem no longer occurs.

Documentation is updated and with new code snippet, the application works properly and no false-positive results are returned.

All the details are provided in my posts above.

[2018-06-24 17:19] #276 closed, assigned to nobody

[2018-06-24 17:20] pwittchen commented on #275
I've got no further response in 20 days, so I assume my reply is sufficient and an issue can be closed.

[2018-06-24 17:20] #275 closed, assigned to nobody

[2018-06-24 18:43] #270 closed, assigned to pwittchen

[2018-06-24 18:47] #280 closed, assigned to pwittchen

[2018-06-26 04:16] vedantroy commented on #276
@pwittchen Sorry for not responding for a while! I've been busy. Unfortunately, the bug still remains.

I can open my app while connected to both mobile and wifi. Then, after disconnecting from wifi, the status will remain disconnected, although I should have a mobile connection.

[2018-06-26 07:54] pwittchen commented on #276
@vedantroy Have you tried **updated code snippet** I've posted here https://github.com/pwittchen/ReactiveNetwork/issues/276#issuecomment-396147241? With this update I cannot reproduce this bug. In the old snippet bug occurred as you wrote.

[2018-06-26 22:37] pwittchen opened #281 "Refactor Connectivity class to better builder pattern (improve code consistency)"
Use the same approach for the builder in `Connectivity` class like in the `InternetObservingSettings` class to keep library code consistent.

[2018-06-26 22:39] pwittchen commented on #208
Question is pretty old. There's no further discussion, so we can close it.

[2018-06-26 22:39] #208 closed, assigned to nobody

[2018-06-26 22:41] pwittchen commented on #230
There's no further discussion in more than one month, so I'm closing it.

[2018-06-26 22:41] #230 closed, assigned to nobody

[2018-07-11 00:45] EzeroVivanco opened #282 "Network signal levels"
Hi, this library is really good.

I just have a question that I'm not able to solve. Is there a way to get the network (mobile data) signal level, similar to what can be done on ReactiveWifi library?

[2018-07-11 09:36] pwittchen commented on #282
Hi,

I think it should be possible, but this library doesn't have such functionality. It's good idea for a separate tiny library. If you would like to monitor signal level (strength) of the mobile network, please take a look at the [`TelephonyManager`](https://developer.android.com/reference/android/telephony/TelephonyManager) from the Android API.

Regards,
Piotr

[2018-07-11 15:30] luizgrp commented on #273
I'm facing exactly the same issue described by @kuzmenok when using `observeNetworkConnectivity`:

I asked a question in [Stackoverflow](https://stackoverflow.com/questions/51288698/emit-values-on-the-thread-that-chain-is-subscribed-to), generalising the problem as I see it's not specific to this library but the fact that BroadcastReceiver.onReceive is called on the main thread.

@consp1racy could

[2018-07-11 17:28] EzeroVivanco commented on #282
Oh, thanks for the suggestion.
I'll take a look on it.

Regards.

[2018-07-13 12:57] rajda commented on #273
Using observeOn instead of subscribeOn helped me in this case.

[code]

[2018-07-13 14:05] gus-sky commented on #273
yeah there are ways around it, I believe you could also fix this way:

[code]

but it would be nice to have consistency between across different API versions.

btw thanks for this amazing lib 👍

[2018-07-18 19:50] pwittchen opened #284 "Release 2.0.0"
**Initial release notes**:
- bumped project dependencies -> RxJava: https://github.com/pwittchen/ReactiveNetwork/commit/1d1a301a72d0128548ccf4b9b2cef24c07d38118, others: https://github.com/pwittchen/ReactiveNetwork/commit/597dc03c1c18fb73849c7b0bc4a52d46524bd02b
- refactored `Connectivity` class to better builder pattern to improve code consistency (breaking API of the `Connectivity` class) - PR #

[2018-07-18 20:34] #281 closed, assigned to nobody

[2018-07-18 20:40] pwittchen opened #285 "Improve unit tests coverage"
Test coverage decreased recently and we need to improve it.

Link to the report: https://codecov.io/gh/pwittchen/ReactiveNetwork/branch/RxJava2.x

[2018-07-19 02:25] intari opened #286 "RN tries to check via IPv6 on some devices and fails"
I use ReactiveNetwork in this way:

[code]
It has to be https to prevent issues with captive portals like one from wi-fi.ru

Some devices like Asus ZenFone Max Pro (M1) ZB602KL (Android 8.1) keep getting

[code]

in logcat.
Local WiFi doesn't provide IPv6. Cellular operator also doesn't provide it but RN tries to connect via IPv6 and fails.

[2018-07-19 06:18] pwittchen commented on #286
Hi,

It's strange. Does it happen on this device only? If yes, then I suppose it may be its hardware specific issue. You can also try another available strategy for observing Internet connection: `SocketInternetObservingStrategy` instead of `WalledGardenInternetObservingStrategy` (default) and check if anything changes. You can set it via `InternetObservingSettings` builder.

Regards,
Piotr

[2018-07-19 07:07] intari commented on #286
hi,
Yes, this device only so far.
SocketInternetConnection helps.

[2018-07-19 08:21] pwittchen commented on #286
Great that this solution helps!

czw., 19 lip 2018, 09:07 użytkownik Dmitriy Kazimirov <
notifications@github.com> napisał:

[2018-07-19 21:36] pwittchen commented on #286
Ok. I see the problem is solved, so we can close this issue.

[2018-07-19 21:36] #286 closed, assigned to nobody

[2018-07-20 13:20] #285 closed, assigned to nobody

[2018-07-20 17:32] #284 closed, assigned to pwittchen

[2018-07-21 18:57] zdunaisky-chwy opened #288 "Accessing "state" from Connectivity is private (kotlin)"
Accessing Connectivity state like this throws an error: `Cannot access state: it is private in "Connectivity"`

[code]
^^ this will not compile but no error is shown in Android Studio.

However, accessing state as you have in the kotlin example shows the following error (but compiles fine):

![screen shot 2018-07-21 at 2 50 45 pm](https://user-images.githubusercontent.com/5703278/43039160-95016ad8

[2018-07-21 20:15] pwittchen commented on #288
Thanks for reporting this issue. It should work fine. I'll verify this.

sob., 21 lip 2018, 20:57 użytkownik Zachary Dunaisky <
notifications@github.com> napisał:

[2018-07-22 00:04] pwittchen commented on #288
Class variable `state` is private, but method `state()` is public, so it should be accessible from any place. Maybe Kotilin is confused when I have the same method name as a variable name. I'll check it again.

[2018-07-22 00:12] pwittchen commented on #288
In the sample Kotlin app, I've imported library from the Maven Central Repository instead of a local module and tried to access `state()` method. I couldn't see any errors.

![gnome-shell-screenshot-ke2tmz](https://user-images.githubusercontent.com/695319/43041023-b29435b2-8d54-11e8-93e6-edc533e029c7.png)

Please, ensure you're using the latest version of the library. Previously, this method was c

[2018-07-30 19:21] zdunaisky-chwy commented on #288
SO STRANGE.

Tried again today after some cache invalidations, restarts, cleans, etc. Seems to be working fine now.

Thank you for looking into this and the for the awesome lib!

[2018-07-30 19:21] #288 closed, assigned to nobody

[2018-07-30 19:23] pwittchen commented on #288
Great to hear you resolved the problem!

Cheers,
Piotr

pon., 30 lip 2018, 21:21 użytkownik Zachary Dunaisky <
notifications@github.com> napisał:

[2018-07-31 10:48] pwittchen commented on #282
I think, it's clear now and there's no further discussion, so I'm closing it.

[2018-07-31 10:48] #282 closed, assigned to nobody

[2018-07-31 10:53] pwittchen commented on #170
This issue was resolved in #276.

References:
- comment: https://github.com/pwittchen/ReactiveNetwork/issues/276#issuecomment-396147241
- commit in the documentation: https://github.com/pwittchen/ReactiveNetwork/commit/76ab2b23210207d83250da5d8fd0cd6e275e3f08

In case of any further problems, you re-open this issue or create a new one.

[2018-07-31 10:53] #170 closed, assigned to nobody

[2018-07-31 10:56] pwittchen commented on #27
As we discussed it in #282, this issue should be resolved within a separate project with different responsibilities. I have plans to create another library to address this issue, but I need to find a time for that. This issue can be closed for now.

[2018-07-31 10:56] #27 closed

[2018-07-31 10:58] pwittchen commented on #215
There's no new response since one year and it's related to the specific device, so I'm closing it.

[2018-07-31 10:58] #215 closed, assigned to nobody

[2018-07-31 10:59] #273 closed, assigned to nobody

[2018-07-31 11:01] pwittchen commented on #227
Right now, we're abandoning this. We can come back to this idea in the future.
Up to now, we have automated JavaDoc generation and website generation (based on `README.md`).

[2018-07-31 11:01] #227 closed, assigned to nobody

[2018-07-31 11:04] pwittchen opened #289 "Bump project dependencies"
Especially RxJava2, which was recently released.

[2018-08-01 17:43] #289 closed, assigned to nobody

[2018-08-03 12:29] intari opened #290 "RN crashes app (SocketObservingStrategy doesn't check for errors)"
I got following crash log in my app (I use SocketInternetObservingStrategy right now)

[code]

[2018-08-03 12:37] pwittchen commented on #290
First of all, you haven't handled an error.

It can be done as follows:

[code]

as in any RxJava observable.

The library doesn't handle these errors. It just throws them. You can handle them in any way you want.

Second, please make sure that your network has Internet access and you're able to access host `clients3.google.com/generate_204`.

Moreover, your network could be temporarily slower and

[2018-08-03 12:39] pwittchen opened #291 "Add information about handling errors in the docs"

[2018-08-03 12:41] intari commented on #290
Sorry.
I didn't thought I have to handle errors here (I thought that - DNS(or other) connectivity error = no connectivity and should be reported as 'no connectivity').
I will now handle it myself as such.

[2018-08-03 12:45] pwittchen commented on #290
In several cases, you will get an information about no connectivity (e.g. `IOException` or when host address will be resolved, but you won't be able to establish the connection). In the special cases like `java.net.UnknownHostException`, errors will be thrown and you can notify the user about lack of connectivity anyway. In the most cases, it's good to handle RxJava errors in any way.

[2018-08-05 07:33] pwittchen commented on #202
Fixed by https://github.com/pwittchen/ReactiveNetwork/pull/292.

[2018-08-05 07:33] #202 closed, assigned to nobody

[2018-08-05 07:43] pwittchen opened #293 "Release 2.1.0"
**Release notes**:
- bumped project dependencies - PR #292, Commit: https://github.com/pwittchen/ReactiveNetwork/commit/7e4cd4b7e39931d6cceeb0b674ccb506d38f91e4
  - RxJava: 2.1.16 -> 2.2.0
  - Mockito Core: 2.19.1 -> 2.21.0
  - NullAway: 0.4.7 -> 0.5.1
  - Robolectric: 3.1.2 -> 4.0-alpha-3

**Things To Do**:
- [x] update JavaDoc on `gh-pages` (not needed in this release)
- [x] update documentation

[2018-08-05 07:54] pwittchen commented on #290
This issue was clarified, so we can close it now.

[2018-08-05 07:54] #290 closed, assigned to nobody

[2018-08-05 14:52] #293 closed, assigned to pwittchen

[2018-08-06 18:37] #291 closed, assigned to nobody

[2018-08-16 19:33] pwittchen commented on #251
Ktlint with gradle plugin was added in a7b0a9dc1669ed50aaf047e740ff77db3acf1096.
It's enough for now.

[2018-08-16 19:33] #251 closed, assigned to pwittchen

[2018-08-16 19:34] pwittchen commented on #239
Abandoning this idea for now. Maybe we'll reopen it later.

[2018-08-16 19:34] #239 closed, assigned to nobody

[2018-08-18 01:53] smallwood69 opened #294 "Can't Download"
org.gradle.internal.resource.transport.http.HttpErrorStatusCodeException: Could not HEAD 'https://jitpack.io/com/github/pwittchen/reactivenetwork-rx2/2.1.0/reactivenetwork-rx2-2.1.0.pom'. Received status code 401 from server: Unauthorized

[2018-08-18 08:50] pwittchen commented on #294
Hi,

I'm not publishing this library via JitPack, but via Maven Central. Please, ensure you're able to download artfiacts from Maven Central Repository. You should have something like that in your gradle config:

[code]

[2018-08-27 22:38] pwittchen commented on #294
There's no further reply, so I suppose you resolved it.

[2018-08-27 22:38] #294 closed, assigned to nobody

[2018-08-28 19:53] #260 closed, assigned to nobody

[2018-09-03 15:28] ap-johns opened #295 "ConnectivityManager error messages when clearing subscriptions"
We're using reactivenetwork-rx2:2.1.0

When switching activities we're seeing some ConnectivityManager related error messages. They don't seem to be causing any actual issues, but would be nice if they were cleared up.

Error messages seem to vary depending on device

eg

[code]

OR

[code]

Code sample

[code]

[2018-09-03 15:36] pwittchen commented on #295
Hi,

Thanks for reporting this issue.
In the library, I explicitly unregister callback while calling `dispose()` method. You can take a look at this line: https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/network/observing/strategy/LollipopNetworkObservingStrategy.java#L61.

Is there any particular reason because of w

[2018-09-03 15:55] ap-johns commented on #295
We found issues using disposables.dispose() in onPause() - it means you can then not add more subscriptions via disposables.add in eg onResume(). So our pattern is always to use disposables.clear() in onPause()

Thanks for your quick response by the way.

All working great apart from this one issue.

[2018-09-03 15:59] pwittchen commented on #295
Ok, I'll check what I can do with use case with `clear()` method.

[2018-09-03 17:57] pwittchen commented on #295
Another idea could be moving your code to the place independent from the Activity Lifecycle. E.g. to instance of the Application or dedicated Android Service. You can monitor network in one place and pass events to the Activity when needed. You can use many techniques for passing events between independent components (e.g. via event bus).

[2018-09-05 02:14] mansya opened #296 "New logo/icon proposal"
Good day sir. I am a graphic designer and i am interested in designing a logo for your good project. I will be doing it as a gift for free. I just need your permission first before I begin my design. Hoping for your positive feedback. Thanks

[2018-09-05 09:53] pwittchen commented on #296
Hi,

Thanks for your message and proposal. You can prepare a logo for the project if you would like to. If it will be simple and neat, I can accept it as a project logo, but I cannot promise that.

Regards,
Piotr

[2018-09-12 06:55] pwittchen opened #297 "Add gradle-nexus-staging-plugin"
Add gradle-nexus-staging-plugin to close and release artifacts without GUI.
link: https://github.com/Codearte/gradle-nexus-staging-plugin/

[2018-09-12 06:55] pwittchen opened #298 "Bump dependencies"

[2018-09-15 16:38] mansya commented on #296
hi sir. sorry about a long time. I have designed the logo for this project. Are you interested in using it? if yes. which one do you choose?
![reactive network](https://user-images.githubusercontent.com/33461607/45588517-2aafa600-b940-11e8-9afd-fab33435d43d.png)

[2018-09-16 09:02] pwittchen commented on #296
Hi,

I appreciate your effort and work, but if I add a logo to my project, I would go with something simpler, less "rounded" and less "shiny", so for now, project can be without logo.

Thanks again and all the best!

Regards,
Piotr

[2018-09-16 09:02] #296 closed, assigned to nobody

[2018-09-18 15:59] danielbeleza opened #299 "Problem when receiving internet connectivity in Android P (API 28)"
Hi guys! Great job with this lib!

I just wanted to report a small issue that I'm having while receiving internet connectivity.

I'm using the following:

            return ReactiveNetwork.observeInternetConnectivity(InternetObservingSettings
                    .initialInterval(DEFAULT_INITIAL_PING_INTERVAL_IN_MS)
                    .interval(DEFAULT_PING_INTERVAL_IN_MS)
                    .ho

[2018-09-18 16:07] pwittchen commented on #299
Hi @danielbeleza,

Thanks for reporting this issue, I'll verify it on Android P.
Can you provide any resource regarding network status access on Android P?
It may be helpful during resolving this issue.

Regards,
Piotr

[2018-09-19 08:49] danielbeleza commented on #299
Thanks for the quick response!

There isn't any error or exception being throwed. The thing is it simply returns false, and our app reacts according to that response. In our case we show a no connection screen.

If I use the NetworkInfo class to get access to connectivity, it returns true, and everything works fine.

[2018-09-19 10:01] pwittchen commented on #299
I haven't investigated it yet, but I have two suggestions for now:

1. Ensure you have appropriate permissions in your AndroidManifest.xml file:

[code]

2. Try to change strategy for observing Internet connection. Default strategy is `WalledGardenInternetObservingStrategy` and maybe this implementation has some issues related to Android P. There's also another strategy called `SocketInternetObser

[2018-09-19 10:27] danielbeleza commented on #299
I had already implemented the first suggestion, but not the second. Even so, it didn't work.

We really want to validate more than just the network connectivity, but for now, we will use it as a workaround. I look forward for any updated on this.

Thank you for your help!
Best regards,
Daniel Beleza

[2018-09-21 06:16] herald25 commented on #299
up for this I can't receive return value in Android P.

[2018-09-21 07:53] pwittchen commented on #299
@herald25 What do you mean by "I can't receive return value"? This observable should return a value. Either `true` or `false`. Depending on timeout, remote server and its latency, you can receive value sooner or later.

[2018-09-21 21:31] pwittchen opened #300 "Add information about clearTextTraffic to the documentation"
It's related to #299
Reference: https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted

[2018-09-21 21:36] pwittchen commented on #299
Okay,

I know, what's going on.
In the debug I get the following error:

[code]

It's related to the security issues. Starting with Android 9.0 (API level 28), cleartext support is disabled by default.

The quickfix will be setting `usesCleartextTraffic` to `true` in the `application` tag in `AndroidManifest.xml`

[code]

You can check this commit: https://github.com/pwittchen/ReactiveNetwork/comm

[2018-09-21 21:36] #299 closed, assigned to nobody

[2018-09-21 21:43] pwittchen opened #301 "shouldAdjustHostWhileCheckingConnectivity() unit test is flaky"
`WalledGardenInternetObservingStrategyTest#shouldAdjustHostWhileCheckingConnectivity` unit test is flaky. On my local machine it passes, but on CI sometimes it passes and sometimes not.

[2018-09-22 16:18] #300 closed, assigned to pwittchen

[2018-09-23 10:59] lectricas opened #302 "Unable to provide different host because of 204 code"
Hi.
There is no way you can check true connection with SocketInternetObservingStrategy.
Try to made a wrong proxy for your wifi connection - wifi is connected by no internet is available.
Still `checkInternetConnectivity returns true`
So, in this case I have to use WalledGardenInternetObservingStrategy with httpurlconnection which checks
http://clients3.google.com/generate_204 this page for 204 co

[2018-09-23 11:07] pwittchen commented on #302
Hi,

Thanks for reporting that. `WalledGardenInternetObservingStrategy` is kind of specific use case. I think, one way to solve your problem will be creating additional setting, where you can set desired HTTP response like 200 (or anything else) instead of 204. That should be easy fix.

Regards,
Piotr

[2018-09-23 16:44] pwittchen opened #305 "Update unit test coverage target"
Right now, all PRs are failing. We can decrease coverage target to ~85%. It can be increased later.

[2018-09-23 16:48] #298 closed, assigned to pwittchen

[2018-09-23 16:51] pwittchen commented on #305
Done in https://github.com/pwittchen/ReactiveNetwork/commit/162ed6803ee69a29e4d4e5a6a9a1c0344a111324

[2018-09-23 16:51] #305 closed, assigned to nobody

[2018-09-23 20:59] pwittchen commented on #302
I've added `httpResponse(int)` method in `InternetObservingSettings` in PR #303. Documentation was updated too. This update breaks the API. It will be available in the next release.

[2018-09-23 20:59] #302 closed, assigned to pwittchen

[2018-09-23 21:14] pwittchen opened #306 "Release 3.0.0"
**Release notes**:

- updated project dependencies
- updated target SDK
- simplified codecov.io configuration
- documented usage of `usesClearTextTraffic` setting and added it to the sample apps
- added possibility to configure HTTP response code via `httpResponse(int)` method in `InternetObservingSettings` class (API-breaking changes - a few method signatures were changed) - it works for `WalledG

[2018-09-24 14:13] #297 closed, assigned to pwittchen

[2018-09-24 18:39] #306 closed, assigned to pwittchen

[2018-10-02 16:44] IvanDimitrovCode opened #307 "Mobile data connection is not active"
So basically i have this code:
[code]

When i toggle the WiFi the observer is always called. But for some reason when i toggle the Mobile Data it is not. Further more i found this scenario:
1. Have WiFi and MobileData ON
2. Turn off Mobile Data -> No event occurred
3. Turn off WiFi -> WiFi Disconnected occurs (as type NONE for some reason) + the Mobile Data event comes after it).
This is not repro

[2018-10-02 19:38] pwittchen commented on #307
Thanks for reporting this issue. I'll take a look on that.
What Android version are you using?

[2018-10-02 20:48] IvanDimitrovCode commented on #307
Huawei -> 8, Pixel ->9. I managed to find a scenario which is always reproducible hope it helps.
1. WiFi and Mobile ON
2. Turn Mobile OFF -> Nothing happens
3. Turn Mobile ON-> Nothing happens
4. Turn WiFi OFF -> State.DISCONNECTED happens
5. Turn WiFi ON-> State.CONNECTED happens
6. Turn Mobile OFF->  State.CONNECTED happens
Hope this helps.
Also if this might help this method works for connectiv

[2018-10-02 20:57] pwittchen commented on #307
Thanks for providing these steps. What I can see now, you're **not notified** that you're disconnected from the network when you are connected to at least one network (WiFi or Mobile). The question is if returning `State.DISCONNECTED` while you're actually **connected** is the valid information. I think, behaviour which can be observed now is correct. To ensure this fact, we can try to reproduce t

[2018-10-02 21:00] IvanDimitrovCode commented on #307
There is also the "Turn Mobile OFF-> State.CONNECTED happens" which is really incorrect.

[2018-10-02 21:03] pwittchen commented on #307
Ok, I'll try to reproduce that.

[2018-10-13 21:40] lwasyl opened #308 "Wrong behavior with multiple subscriptions"
Right now the following test for `MarshmallowNetworkObservingStrategy` will fail:

[code]

This is because the library modifies global state (subscription to broadcast receiver) when creating and disposing single stream. This makes it impossible to have multiple network connection subscriptions in the app, even if it makes sense (e.g. one subscription in the service, one in activity), because as s

[2018-10-14 09:05] pwittchen commented on #308
Hi,

Thanks for reporting that issue. You're right and it may work this way. In case of multiple Activities it shouldn't be an issue because we always have one or zero "active" Activity. For multiple streams within a single Activity behaviour should be correct. This may be an issue in the case of Activity and Service as you mentioned. In such case, I'd create a single subscription for whole applic

[2018-10-14 12:00] lwasyl commented on #308
Only if you call `ReactiveNetwork.observe...` again for each activity. Sharing single observable created using that method will always potentially have this problem. I read the code again and I was wrong as to the problem -- it's not that the global state is mutated (it's not).  It's that single `Strategy` instance effectively only allows single subscription.

This already happens for each "subscr

[2018-10-14 16:53] pwittchen commented on #308
Yeah, for a single instance of an object it may be a problem. Quick fix may be usage of multiple instances of the `ReactiveNetwork` class for several Activities and Services. I'll take a look on that, but I cannot promise that I'll resolve that quickly due to limited amount of time. I'm open for any suggestions for improvements and Pull Requests.

[2018-10-20 12:22] MrRossi82 opened #309 "connection always return false(not connected) SDK28"
I test library this work all android versions but sdk 28 not working always return false not connected
this my code

  @Override protected void onResume() {
        super.onResume();

        internetDisposable = ReactiveNetwork.observeInternetConnectivity()
                .subscribeOn(Schedulers.io())
                .observeOn(AndroidSchedulers.mainThread())
                .subscribe(isConnect

[2018-10-20 15:22] pwittchen commented on #309
Hi,

Thanks for reporting this issue. It's probably related to ClearText traffic
configuration, which needs to be done in AndroidManifest.xml since API 28.
Check documentation here:
https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/README.md#cleartext-traffic

sob., 20 paź 2018, 14:22 użytkownik Ahmad AlRahahleh <
notifications@github.com> napisał:

[2018-10-25 16:29] Kisty opened #310 "Better internet detection?"
Just a thought, but could the internet connection check be a bit more intelligent and use the network check  and then only check the internet if at least one is connected? Not sure if this would cause more problems than it solves but worth a thought.

[2018-10-25 16:33] pwittchen commented on #310
You can do that now. It's described in documentation here: https://github.com/pwittchen/ReactiveNetwork#chaining-network-and-internet-connectivity-streams

Sometimes, `switchMapSingle` may be a better choice than `flatMapSingle` to discard first stream.

[2018-10-25 16:37] Kisty commented on #310
Thanks for getting back to me so quick! That makes sense, though what if there's lots of connection events in a small space of time, e.g. `DISCONNECTED -> CONNECTING -> CONNECTED` then you'd fire off many internet checks. Couldn't you just filter `CONNECTED` and `DISCONNECTED` states? Also, putting such an API in the library might be a good idea? Although it may be subjective on when to react to n

[2018-10-25 19:29] pwittchen commented on #310
You can do that too right now. You can use RxJava operators like `debounce(...)`, `sample(...)` or something like that. Have a look at docs: https://github.com/ReactiveX/RxJava/wiki/Filtering-Observables.

[2018-11-01 18:45] jclova commented on #309
I notice similar behaviour on Android 9.0.
I am actually using 0.1X.X (RxJava 1.x).
Up to version 0.10.0, it works on Android 9.0.
However, 0.11.0~0.12.4 it does not work on Android 9.0.

Adding 'android:usesCleartextTraffic="true"' at the AndroidManifest.xml does not help.

[2018-11-01 21:57] pwittchen commented on #309
Hi @jclova. Currently RxJava 1.x version is no longer developed as well as original RxJava 1.x project. Nevertheless, you can try to apply different internet observing strategy. See this part of the documentation: https://github.com/pwittchen/ReactiveNetwork#internet-observing-strategies. It may be also an issue with the host you are pinging. You can also try to switch to RxJava2.x version as it m

[2018-11-14 10:04] lfei1789 opened #311 "connectivity.extraInfo() returns null on android P"
i use  WifiManager.getConnectionInfo() is ok

[2018-11-14 10:09] pwittchen commented on #311
Hi @lfei1789,

Can you explain your issue? Method `connectivity.extraInfo()` does not have to return anything. You can get many information about the connection from the `Connectivity` object. Is something important missing there?

Regards,
Piotr

[2018-11-14 10:17] lfei1789 commented on #311
first, thank you for your reply
android 8.1 and lower, NetworkInfo.getExtraInfo() you can get wifi ssid,but android P  NetworkInfo.getExtraInfo() is null
thanks again

[2018-11-14 10:33] pwittchen commented on #311
Unfortunately, we don't have any influence on the value returned by `NetworkInfo.getExtraInfo()`.
Now, we cannot get `WifiInfo` from the `Connectivity` object because we can have many types of connection (not only Wifi). I think we can add a method, which returns `WifiInfo` object basing on active network to `Connectivity` object because it may be useful. In case of other connection types, it can

[2018-11-14 10:36] pwittchen opened #312 "add wifiInfo() method to Connectivity object"
issue raised within #311

[2018-11-23 11:28] aperfilyev opened #313 "Unserialized access to connectivitySubject in MarshmallowNetworkObservingStrategy"
Basically, ```android.net.ConnectivityManager.NetworkCallback``` is invoked on ```android.net.ConnectivityThread``` by default and ```android.content.BroadcastReceiver#onReceive``` from idle mode is invoked on the main thread.

From RxJava doc:

[2018-11-23 11:32] pwittchen commented on #313
Hi,

Thanks for reporting that. I'll have a look at it.

Regards,
Piotr

[2018-12-01 11:12] #313 closed, assigned to nobody

[2018-12-01 11:35] pwittchen commented on #311
You can get info about WiFi connection as follows:

[code]

and it requires `ACCESS_WIFI_STATE` permissions in `AndroidManifest.xml` file. I've decided not to add this to the library to avoid adding additional permissions, which may not be required by all apps using this library. If you want to have reactive API specific for WiFi connections, then you can have a look at [ReactiveWifi](https://gith

[2018-12-01 11:35] #311 closed, assigned to nobody

[2018-12-01 11:35] #312 closed, assigned to nobody

[2018-12-01 11:40] pwittchen opened #315 "Release 3.0.1"
**Release notes**:

- Fixed unserialized access to subject on Marshmallow - https://github.com/pwittchen/ReactiveNetwork/commit/91b676e726071b2d77b1e26a35dbcafa0fac7b32 by @aperfilyev

**Things to do**:

- [x] prepare release notes
- [x] update JavaDoc on `gh-pages` (not needed in this release)
- [x] update documentation on `gh-pages` (not needed in this release)
- [x] bump library version
- [x] u

[2018-12-01 13:38] #315 closed, assigned to pwittchen

[2018-12-04 09:31] lfei1789 commented on #311
I have solved the problem, as you said  ,  but thank you very much

[2018-12-04 09:56] pwittchen commented on #311
Ok, thanks for the reply @lfei1789 !

[2018-12-14 09:01] RagnarR commented on #228
@sevar83 use this in your `<application>` tag: `android:usesCleartextTraffic="true"`

[2018-12-27 22:18] pwittchen opened #316 "Release 3.0.2"
**Release notes**:
bumped project dependencies: d486f80459c2d52f8012af0c707528ebc972b4a2

**Things to do**:
- [x] prepare release notes
- [x] update JavaDoc on `gh-pages` (not needed in this release)
- [x] update documentation on `gh-pages` (not needed in this release)
- [x] bump library version
- [x] upload archives to Maven Central
- [x] close and release artifact on Maven Central
- [x] update `

[2019-01-03 21:03] #316 closed, assigned to pwittchen

[2019-01-09 10:49] arvalon opened #317 "InternetObservingSettings custom host NIC shutdown"
InternetObservingSettings with a custom host and port does not respond to the shutdown of the custom host network interface.
[code]
If disable WiFi on phone or the WiFi router between the server and the phone, the lost connection event is thrown. And if turn off the network card on the server, the loss of communication event is not thrown.

[2019-01-09 13:07] pwittchen commented on #317
Have you checked the situation after interval in milliseconds defined in `PINGTIMEOUT` field? Observing mechanism uses polling for checking Internet connectivity every given amount of time. It should detect the situation that the device doesn't have an Internet connection. Are you sure, your device to which the phone is connected (e.g. router with WiFi) doesn't have the access to the Internet?

[2019-01-09 13:25] arvalon commented on #317
PINGTIMEOUT 2 seconds.
I need to monitor the status of the server in the internal network of the enterprise. As I understood from the description it is possible to specify custom settings of ip and port of the host of an internal network.
Monitoring the fall of access to the server works when the router is disconnected and the network is disconnected on the phone. But shutdown and inclusion of the

[2019-01-09 13:34] pwittchen commented on #317
It's strange.... I'll have a look on that. I cannot to reproduce this situation in an enterprise environment, but I can check it on my simple home router. Maybe there are more variables determining such situation.

[2019-01-10 08:20] Lingviston opened #318 "Deprecated NetworkInfo methods are used."
Since API 28 all NetworkInfo properties are deprecated https://developer.android.com/reference/android/net/NetworkInfo and it is intended not to use them but use `NetworkCallback` instead.

ReactiveNetwork already uses `NetworkCallback` on Marshmellow and higher https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/networ

[2019-01-10 09:31] pwittchen commented on #318
Hi,

Thanks for reporting this. I didn't know about deprecated properties of `NetworkInfo` class. I'll try to update the library and get rid of deprecated code as soon as I can.

Regards,
Piotr

[2019-01-11 12:13] neteinstein commented on #115
This is still not working properly.

Simple test:
1. Install app on emulator using this library
2. adb shell dumpsys deviceidle enable
3. adb shell dumpsys battery unplug
4. adb shell dumpsys deviceidle force-idle

**CODE:**

[code]

**LOG RESULT:**
system_process D/ConnectivityService: Returning BLOCKED NetworkInfo to uid=10085
**com.my.app D/Application: ConnectivityHandler [T# main]  | Connecti

[2019-01-11 13:42] pwittchen commented on #115
Thanks for reporting this. I'll have a look on that. I'm also open for PRs related with this issue.

[2019-01-11 13:46] pwittchen commented on #309
RxJava1.x is no longer maintained and I don't see further issues with RxJava2.x branch, so I'm closing this one.

[2019-01-11 13:46] #309 closed, assigned to nobody

[2019-01-23 07:03] abir-hasan commented on #318
I'm having similar problem after updating my test device to Android Pie (API-level-28). Cause when the device was in Oreo i was getting all the necessary data(specially the SSID from extraInfo field, after getting connected to a WIFI source) from the **observeNetworkConnectivity** methods response. Now its returning extraInfo and reason null.

[2019-01-23 08:52] abir-hasan opened #319 "checkInternetConnectivity() and observeInternetConnectivity() always return FALSE in Android 9"
Description: **checkInternetConnectivity()** and **observeInternetConnectivity()** always return FALSE in **Android 9**. While it was giving right information when my device was in Android 8.1.

I called the **checkInternetConnectivity** and **observeInternetConnectivity** from the from the **onCreate** method of my test-activity. They were returning false. Then I wrote this piece of code to see i

[2019-01-23 09:03] abir-hasan commented on #319
Another thing which i found was when i called **observeInternetConnectivity** i get this in the log:

    java.io.IOException: Cleartext HTTP traffic to clients3.google.com not permitted

**This is occurring probably because:** Starting with Android 9.0 (API level 28), cleartext support is disabled by default.

Stackoverflow [Link](https://stackoverflow.com/questions/45940861/android-8-cleartext-h

[2019-01-23 10:04] pwittchen commented on #319
You need to customize clearText traffic in your app. It's described in the library documentation here: https://github.com/pwittchen/ReactiveNetwork#cleartext-traffic.

[2019-01-27 12:32] pwittchen commented on #319
@abir-hasan have fixed it by enabling clearText traffic?

[2019-01-28 11:15] abir-hasan commented on #319
Sorry for the late response. I used option#2 to resolve the issue. Thanks.

[2019-01-28 11:16] #319 closed, assigned to nobody

[2019-02-08 22:34] pwittchen opened #320 "Add equals verifier"
reference: https://github.com/jqno/equalsverifier

[2019-02-08 22:35] pwittchen opened #321 "Add mutation testing with pitest"
References:
- https://github.com/hcoles/pitest
- https://github.com/szpak/gradle-pitest-plugin

[2019-02-08 22:37] pwittchen opened #322 "Add nopen"
reference: https://github.com/JakeWharton/nopen

[2019-02-12 19:41] MikolajKakol commented on #299
hi, @pwittchen sorry for bothering but wouldn't it better/enough just to switch to

in https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/internet/observing/strategy/WalledGardenInternetObservingStrategy.java
or add ability to switch to https?

[2019-02-12 20:19] pwittchen commented on #299
Hi @MikolajKakol,

Thanks for your message. I think issue discussed in this topic is just related to Android P and clearTextTraffic. Generating 204 code with Google service may be not enough in that case since Android P.

[2019-02-13 06:39] MikolajKakol commented on #299
Ok, I thought that on Android P would be enough to replace any clear text communication with secure one. I'm getting on emulator:

Why wouldn't changing to https in `WalledGardenInternetObservingStrategy` fix this issue?

[2019-02-13 06:45] pwittchen commented on #299
Hm, you may be right. according to the [documentation](https://developer.android.com/training/articles/security-config#CleartextTrafficPermitted), replacing `http` with `https` in https://github.com/pwittchen/ReactiveNetwork/blob/40b725013b8412289f56fec2601c4cab3f0fc76f/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/internet/observing/strategy/WalledGardenInternetObservingS

[2019-02-13 06:47] pwittchen opened #323 "Update protocol to https for DEFAULT_HOST in WalledGardenInternetObservingStrategy"
See issue mentioned here: https://github.com/pwittchen/ReactiveNetwork/issues/299#issuecomment-462904722

Line in the code: https://github.com/pwittchen/ReactiveNetwork/blob/40b725013b8412289f56fec2601c4cab3f0fc76f/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/internet/observing/strategy/WalledGardenInternetObservingStrategy.java#L41

It needs to be verified and tested bef

[2019-02-22 19:54] dmbee commented on #228
I am having the same issue on API 25, intermittent
[code]

[2019-02-28 10:57] Zulqurnain opened #324 "Check Server is online or not [NOT WORKING]"
**Server Online or Not**
it is always returning false in connectivity no matter what.

**To Reproduce**
Here is concise function i wrote to check if server is online or not. which is not working
[code]

**Smartphone (please complete the following information):**
 - Device: OPPO
 - OS: 5.1
 - Library Version: 3.0.2

[2019-02-28 16:30] pwittchen commented on #324
Thanks for reporting this. I'll check it. Are you sure, your server is
working and your device is connected to the network with Internet
connection? You can also check another strategy (Walled Garden)

czw., 28 lut 2019, 11:57 użytkownik Zulqurnain Haider <
notifications@github.com> napisał:

[2019-03-03 08:10] Zulqurnain commented on #324
@pwittchen yeah I've checked Walled strategy its giving same results

[2019-03-10 06:36] Zulqurnain commented on #324
Any news on this , i was going to integrate this in my app ?

[2019-03-10 10:57] pwittchen commented on #324
I couldn't reproduce your issue. Maybe it's an issue in your app? You can verify that by running sample projects from this repo. If they works for you, then it must be an issue with your app. Moreover, I don't know what `cpp.add(...)` stands for in your context. Maybe this is a source of the problems?

[2019-03-11 09:09] Zulqurnain commented on #324
Ok, I updated the code and removed that cpp.add() , because it was just a CompositeDisposable of rxjava , can you try on some test server except `google` ? because for my server it always give response in logcat for `[getaddrinfo]: hostname=myservername.com; servname=(null); netid=0; mark=0` like this

[2019-03-11 09:40] pwittchen commented on #324
Then something may be wrong with your server. Moreover, in `InternetObservingSettings` you can set  `httpResponse(200)` (status: OK) if this is response status of your server. Default response in the settings is `HttpURLConnection.HTTP_NO_CONTENT` (204), which is the case in pinging `http://clients3.google.com/generate_204` in `WalledGardenInternetObservingStrategy`.

[2019-03-12 08:34] moeindev opened #325 "SSL Support with custom host"
Hi, thank you for this amazing library.

I was wondering if this library supports custom SSL connection to observe internet connectivity!

when I want to check the connection with the base URL, https://bluhbluh.bluh
it gives me the handshake error...

for calling my web APIs, Im using retrofit and custom SSL configuration
 `inline fun <reified T> createWebService(): T {
    val customTrust = Custo

[2019-03-12 12:10] pwittchen commented on #325
It's not explicitly supported now and I haven't tested it for such cases. Nevertheless, I'm open for improvements.

[2019-03-15 11:27] pwittchen commented on #324
@Zulqurnain Did setting HTTP status helped in your case?

[2019-03-17 17:16] tsironis13 opened #326 "Include library in pure java module"
Hi,

how can i include the library in a pure java module?
I have tried the following:
**'implementation 'com.github.pwittchen:reactivenetwork-rx2:3.0.2''**
but it is not working.

Thanks.

[2019-03-17 18:06] pwittchen commented on #326
Hi,

This library cannot be included in a pure java module. It's an Android library, not a Java library and it relies on the classes from the Android API.

Regards,
Piotr

[2019-03-18 11:54] Zulqurnain commented on #324
I just got an update from my backend team, they have disabled pinging on the server, is it somehow related to the issues?

[2019-03-18 12:00] pwittchen commented on #324
Yes. This feature of the library pings the server.

[2019-03-18 12:40] #326 closed, assigned to nobody

[2019-03-18 12:40] Zulqurnain commented on #324
I have found a solution for now, below code works with my server
[code]
but the library doesn't work, rest is up to you @pwittchen, hope you can debug the issue or add the functionality for server online detect for the server who have pinging disabled.

but my issue is not resolved by this library !!

[2019-03-18 12:40] #324 closed, assigned to nobody

[2019-03-18 13:24] foodied opened #327 "No timeout for dns host name lookup"
**Describe the bug**
I set the timeout as usual but in a scenario when the network is connected but the internet is not available to complete a DNS lookup, there are no callbacks for a quite amount of time. How do we handle this?

I am using `ReactiveNetwork.checkInternetConnectivity()`.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a wifi source which doesn't have a working con

[2019-03-18 14:02] pwittchen commented on #327
Thanks for reporting that. I'm not really sure how to handle this particular use case. Probably I'll need more time for analysing that.

[2019-03-18 14:22] foodied commented on #327
I am not sure just guessing. It's just what others are saying.

Inside `isConnected()`,

1. First we check the address `InetAddress.getByName()` from hostname.
2. Use the above in a thread and terminate that thread after the desired timeout (by user). If the timeout has been reached, send an error callback else to proceed.
3. Supply that `InetAddress` to the `URL` class instead of the original hos

[2019-03-21 08:57] Polyterative commented on #327
Obviously  @pwittchen leave a default of like 5 secs