[2019-04-04 14:47] pwittchen opened #328 "Improve release process"
Add the following improvements to the release process:
- optionally, remove steps related to `RxJava1.x` from the `RELEASING.md` file (they're no longer needed)
- create `release.sh` script, which will do the following things:
   - update docs (see `update_docs.sh` script and https://stackoverflow.com/a/12363366/1150795)
   - update javadocs (see `update_javadocs.sh`)
   - upload artifact to the m

[2019-04-09 11:10] filipwiech commented on #318
Hello, any update on this?

[2019-04-09 11:12] filipwiech commented on #323
Hi, is there any update on this?

[2019-04-09 11:30] pwittchen commented on #318
Hi,

I didn't have time to work on this. I'll try to fix it as soon as I can.

Regards.

[2019-04-09 11:30] pwittchen commented on #323
Hi,

I didn't have time to work on this. I'll try to fix it as soon as I can.

Regards.

[2019-04-17 17:27] burhankhanzada opened #329 "observing internet alwasys returning false"
When I observe to internet connectivity is always get false also when using single.

    private var mDisposableNetwork: Disposable? = null
    private var mDisposableInternet: Disposable? = null

    override fun onResume() {
        super.onResume()
        // subscribe to ReactiveNetwork Network & Internet observers
        subscribeNetworkInternetConnectivity()
    }

    override fun onPause(

[2019-04-17 18:26] pwittchen commented on #329
There's too much code in this snippet. I suppose your application's logic may be wrong. Moreover, you are saving state in the variable, which is not good idea and may be the source of problems. Try to check sample apps from this repository. Are they returning wrong results for you?

[2019-04-20 22:22] burhankhanzada commented on #329
well after @pwittchen recommend to check sample apps so it was working fine so then I did some debugging in my own app and found in that it was an error that is `E/ReactiveNetwork: Could not establish connection with WalledGardenStrategy
    java.io.IOException: Cleartext HTTP traffic to clients3.google.com not permitted` because android 9 pie and later they disabled the cleartext support so to so

[2019-04-20 22:23] #329 closed, assigned to nobody

[2019-04-21 11:23] pwittchen commented on #329
Hi,

Thanks for the message. It's already in Readme.

--
Piotr Wittchen,
http://wittchen.io

niedz., 21 kwi 2019, 00:23 użytkownik Burhan Khanzada <
notifications@github.com> napisał:

[2019-04-21 12:16] burhankhanzada commented on #329
oh sorry i didn't see that

[2019-05-02 03:24] PhanVanLinh opened #330 "State CONNECTED sometimes is not returned when wifi is turned off while having mobile internet connection (Android 9)"
**Describe the bug**
I use below code for tract network connection in application. It working well on my Android 8 device but it some time not working well on my Android 9 when I try to switch between wifi and mobile internet (4G)
[code]

**To Reproduce**
- I open app without wifi and mobile connection  (below log line 1 display)
- I turn on wifi (below log line 2 display)
- I turn on mobile (no l

[2019-05-02 15:08] pwittchen commented on #330
Thanks for reporting this. I'll have a look on that.

--
Piotr Wittchen,
http://wittchen.io

czw., 2 maj 2019, 04:24 użytkownik Phan Van Linh <notifications@github.com>
napisał:

[2019-05-11 09:33] ychescale9 opened #331 "Migrate to AndroidX"
Currently this is the last dependency in our project that requires us to turn on Jetifier. It would be great if we can migrate its support-lib dependencies to AndroidX. Happy to send a PR. 😃

[2019-05-11 09:47] pwittchen commented on #331
Hi!

Sure. I have to check, which packages needs to be migrated and if they influence the library code in any way or its just a package re-naming. If you'd like to send a PR, go ahead :).

Regards,
Piotr

[2019-05-11 20:10] #331 closed, assigned to nobody

[2019-05-11 20:11] pwittchen opened #333 "Release 3.0.3"
**Release notes**:
- migrated: `com.android.support:support-annotations:28.0.0` -> `androidx.annotation:annotation:1.0.2` - PR #332
- migrated `com.android.support:appcompat-v7:28.0.0` -> `androidx.appcompat:appcompat:1.0.2` - PR #332
- updated Kotlin to `1.3.31` - PR #332
- updated RxJava to `2.2.8` - PR #332
- updated RxAndroid `2.1.1` - PR #332
- added `release.sh` script to make release proces

[2019-05-12 18:34] pwittchen commented on #328
Done in cea88f33a226401fb1dde751382926a31df3b276. I'll test this script during the next release.

[2019-05-12 18:34] #328 closed, assigned to pwittchen

[2019-05-13 13:50] pwittchen opened #334 "Improve release process via Gradle Task"
Remove recently created `release.sh` bash script and replace it with appropriate gradle task.

Note: generating docs and javadocs can be excluded from the release task because documentation needs to be updated after maven sync.

References:
- https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:adding_dependencies_to_tasks

[2019-05-13 18:09] pwittchen commented on #334
Due to problems with dependencies between tasks across modules, I'm closing this for now as "won't fix".

[2019-05-13 18:09] #334 closed, assigned to pwittchen

[2019-05-13 22:40] #333 closed, assigned to pwittchen

[2019-05-21 11:47] mseroczynski commented on #330
Any updates?

[2019-05-21 12:19] pwittchen commented on #330
Not yet. It's hard for me to guess what causes the problem when it occurs
"sometimes" only. I think, it may be related to the fact that mobile and
network connection are enabled at the same time. Once WiFi is turned off
and mobile is turned on, phone remains connected. That's why state could
not be returned. I'm not sure if that's really a bug or correct behavior.

--
Piotr Wittchen,
http://wittch

[2019-05-23 13:22] AleksPlekhov commented on #330
+1   I have  the same issue on Pixel XL Android Pie. ExtraInfo  is NULL. Below android 9 it works properly.  Using wifi manager i was able to get required data on android 9, but not using "observeNetworkConnectivity"  https://developer.android.com/guide/topics/connectivity/wifi-scan#kotlin

[2019-05-23 14:47] mseroczynski commented on #330
In my app I enforce using OkHttp's cache in requests (by rebulding them with CacheControl.FORCE_CACHE when ReactiveNetwork is saying that there is no connection). I've received numerous bug reports from users saying that they in fact have an internet connection (which is working in other apps) but not in mine. This bug in ReactiveNetwork is an important issue now - it kills connectivity and causes

[2019-05-23 15:14] pwittchen commented on #330
I'll have a closer look on that. I'm not sure what may be the source of
this problem. It may be the usage of distinct operator from RxJava inside
library or default Android system behavior or something else. I cannot
check it now because I don't have an access to the computer and I'm writing
from my phone. I'll check it later this week. I see that this issue for
sure is related to the fact that on

[2019-05-23 15:19] mseroczynski commented on #330
Always when ReactiveNetwork's last state is NOT_CONNECTED and you have Mobile on & Wi-Fi on turning Wi-fi off fixes the state. Maybe some kind of periodical check would be a reasonable hotfix.

By the way, below is the method I am using:
[code]

[2019-05-24 08:27] pwittchen commented on #330
That's helpful information. Thanks.

--
Piotr Wittchen,
http://wittchen.io

czw., 23 maj 2019, 17:19 użytkownik Michał Seroczyński <
notifications@github.com> napisał:

[2019-05-24 10:19] XProfessorJ commented on #176
I got this problem as well, and i think the fatal reason causes this problem is that Consumer only have accept, it seems like it have no catch error when some problem throws out. But Observer have onError() as we all know.
So just like write a try catch for the Consumer as it forget to catch for itself  when doing the internet transaction.
Here is my solution, hoping will do help to you.
`.subscri

[2019-05-24 10:22] XProfessorJ commented on #176
I got this problem as well, and i think the fatal reason causes this problem is that Consumer only have accept, it seems like it have no catch error when some problem throws out. But Observer have onError() as we all know.
So just like write a try catch for the Consumer as it forget to catch for itself when doing the internet transaction.
Here is my solution, hoping will do help to you.
.subscribe

[2019-05-24 10:25] XProfessorJ commented on #176
I got this problem as well, and i think the fatal reason causes this problem is that Consumer only have accept, it seems like it have no catch error when some problem throws out. But Observer have onError() as we all know.
So just like write a try catch for the Consumer as it forget to catch for itself when doing the internet transaction.
Here is my solution, hoping will do help to you.

`.subscri

[2019-06-03 22:40] pwittchen commented on #330
Hi guys,

Sorry for the late replies. This is my side project and I have limited time and energy to work on that.
I have initial bug-fix for this issue on the [issue-330](https://github.com/pwittchen/ReactiveNetwork/tree/issue-330) branch. See these commits:
- https://github.com/pwittchen/ReactiveNetwork/commit/43a3daba7a553fff910f345ff9730a6eb70e1819
- https://github.com/pwittchen/ReactiveNetwork

[2019-06-04 15:56] pwittchen commented on #330
Ok, it seems that issue from my previous comment was fixed in https://github.com/pwittchen/ReactiveNetwork/commit/33929437a6bc41d4992c90ec5f064e80d2976029 by adding `isNotIdle` check before propagating last connectivity status. Moreover, I'm propagating current and last connectivity status (in that order) in the case, when type changed and previous status was connected (e.g. connected via MOBILE b

[2019-06-04 16:04] pwittchen commented on #330
#307 bug report is probably related to the same issue as this one.

[2019-06-10 18:23] thevoiceless commented on #323
FYI, this seems to work as expected (note that we must also set the port):
[code]

[2019-07-22 12:59] AhmedMourad0 opened #357 "Doesn't notify when connection is restored after restarting the router"
**Describe the bug**
When i restart the router, i get notified that connection is lost but i never get notified when it's restored.

**To Reproduce**
Steps to reproduce the behavior:

The code:

[code]

1. run the app (using WIFI, haven't tested it with data)
2. restart the router (the app never gets notified when connection is restored)

**Smartphone (please complete the following information):**

[2019-07-22 13:10] pwittchen commented on #357
Thanks for reporting that. I'll have a look at this issue.

--
Piotr Wittchen,
http://wittchen.io

pon., 22 lip 2019, 14:59 użytkownik Ahmed Mourad <notifications@github.com>
napisał:

[2019-07-22 13:58] AhmedMourad0 commented on #357
That'd be great, thank you!

[2019-08-06 19:30] pwittchen opened #360 "Release 3.0.4"
**Release notes**:
- fixed bug #330 - State CONNECTED sometimes is not returned when wifi is turned off while having mobile internet connection (Android 9)
- fixed bug #307 - Mobile data connection is not active
- switched default protocol from `http` to `https` in `WalledGardenInternetObservingStrategy` - solves #323
- added nopen for static code analysis - solves #322
- bumped project dependenci

[2019-08-06 19:42] #330 closed, assigned to pwittchen

[2019-08-06 19:43] pwittchen commented on #330
This bug is fixed by PR #359.
Bug-fix will be available in the upcoming release.
Sorry that you had to wait for so long for it.

[2019-08-06 19:43] pwittchen commented on #307
This bug is fixed by PR #359.
Bug-fix will be available in the upcoming release.
Sorry that you had to wait for so long for it.

[2019-08-06 19:43] #307 closed, assigned to nobody

[2019-08-06 20:04] pwittchen commented on #323
For some reason, I get strange mockito errors in unit tests when I change default protocol from http, to https. I have to look at it.

[2019-08-06 20:24] pwittchen commented on #323
Ok, I probably figured this out. I had to replace `ErrorHandler` mocks with stubs in a few unit tests.

[2019-08-06 20:41] pwittchen commented on #301
In PR #361 `@Ignore` annotation was removed from this test and a few updates were performed in the test class. Let's see how it'll behave now.

[2019-08-06 20:50] pwittchen commented on #323
Fixed in PR #361.

[2019-08-07 15:03] #360 closed, assigned to pwittchen

[2019-08-07 22:38] #322 closed, assigned to nobody

[2019-08-07 22:39] #301 closed, assigned to nobody

[2019-08-08 22:36] pwittchen commented on #318
I had a look at this. I see that adjusting this library to the new API without breaking backward-compatibility and tests is not trivial. I think, this issue has the highest priority in this project now, so I'll focus on it first.

[2019-08-10 13:48] jido2015 commented on #228
Why is this happening even if i don't have strong network? Is there a way we can catch or just stop this error from crashing app?

[2019-08-10 13:56] pwittchen commented on #228
@jido2015 You can handle it with `onError` method in subscribtion like any RxJava observable.

[2019-08-10 14:22] jido2015 commented on #228
Thank you! I mailed you already

[2019-08-15 04:39] georgejas commented on #323
@pwittchen
Thanks for this library!

I just upgraded to 3.0.4 to try and get rid of the error: ReactiveNetwork: Could not establish connection with WalledGardenStrategy
    java.io.IOException: Cleartext HTTP traffic to clients3.google.com not permitted

I see your 3.0.4 change, but it is still not working with compileSdkVersion = 28

I think the issue is with createHttpUrlConnection - I changed H

[2019-08-15 08:08] pwittchen commented on #323
Sure, I'll have a look at it. Please note, you can always make Pull Request
if you want to have updates faster ;-).

--
Piotr Wittchen,
http://wittchen.io

czw., 15 sie 2019, 06:39 użytkownik Jessica George Smith <
notifications@github.com> napisał:

[2019-08-19 22:49] pwittchen commented on #323
@georgejas this update will be available in the next release. `HttpsURLConnection` instance will be created in the case of using `https` protocol.

[2019-08-19 22:49] #323 closed, assigned to nobody

[2019-08-20 19:08] pwittchen opened #364 "Release 3.0.6"
**Release notes**:
- added new method for creating `HttpsUrlConnection` (`HttpsURLConnection createHttpsUrlConnection(final String host, final int port,
      final int timeoutInMs)`) in `WalledGardenInternetObservingStrategy`, appropriate method is chosen automatically basing on the protocol (`http` or `https`) - solves #323
- note: version 3.0.5 was skipped due to sonatype issues

**Things to do

[2019-08-20 19:52] pwittchen opened #365 "Migrate library to RxJava3.x"
We can see RxJava3.x RC here: https://github.com/ReactiveX/RxJava/releases/tag/v3.0.0-RC2
ReactiveNetwork should be migrated to RxJava3.x on a separate git branch with the same approach as previous major upgrade of RxJava.

[2019-08-25 04:04] ychescale9 opened #368 "Kotlin Flow?"
Hi @pwittchen, now that [Kotlin Coroutines Flow](https://github.com/Kotlin/kotlinx.coroutines/releases/tag/1.3.0) is stable, I'm wondering if there's any interest / plans to migrate the project to kotlin and expose `Flow` in the APIs (or just your thoughts in general).

I'm aware that this is a **RxJava** project and you're also planning to support **RxJava 3** so this might be out of scope for **

[2019-08-25 10:32] pwittchen commented on #368
Hi @ychescale9 and thanks for your extensive feedback!

I used this name to indicate that library is using ReactiveExtensions and ReactiveStreams. There are other libraries with Reactive name prefix, which uses RxJava. I heard about similar projects called RxNetwork, etc. As long as I as own package name `com.github.pwittchen` I can release artifacts to Maven Central with any name under this packa

[2019-08-25 10:37] #364 closed, assigned to pwittchen

[2019-08-25 10:40] ychescale9 commented on #368
Thanks @pwittchen that all makes sense. In that case I'd like to take a shot at porting ReactiveNetwork to Flow in a new repo. Will ping you for feedback / insight if you're cool with this 😄

[2019-08-25 10:40] pwittchen commented on #368
Sure :)

[2019-09-06 09:56] pwittchen opened #373 "add scott gradle plugin to avoid unit tests debugging"
link: https://github.com/dodie/scott

[2019-09-10 16:11] VahidGarousi opened #374 "Delay in getting response"
Why does it take so long?

import android.os.*
import android.widget.*
import androidx.appcompat.app.*
import com.github.pwittchen.reactivenetwork.library.rx2.*
import com.google.android.material.snackbar.*
import com.setarehaa.app.seshomareh.exception.*
import com.teifapp.app.feature.internet_check.*
import io.reactivex.android.schedulers.*
import io.reactivex.disposables.*
import io.reactivex.pl

[2019-09-10 16:20] arkivika commented on #318
Hi, any news on this one?

[2019-09-10 16:21] pwittchen commented on #374
What do you mean by "so long"? Time of the response depends on your network
and internet connection and its speed.

--
Piotr Wittchen,
http://wittchen.io

wt., 10 wrz 2019, 18:11 użytkownik Vahid Garousi <notifications@github.com>
napisał:

[2019-09-10 16:24] pwittchen commented on #318
This upgrade is not trivial and I need to find free time to do this as it's
my side project. Sorry for the inconvenience. If you'd like to receive updates faster, I'm open for Pull Requests.

--
Piotr Wittchen,
http://wittchen.io

wt., 10 wrz 2019, 18:20 użytkownik arkivika <notifications@github.com>
napisał:

[2019-09-10 16:31] VahidGarousi commented on #374
The scenario of my program is that if the Internet was disconnected the phone would display a message box to the user.
In this box I redirect the user's message to the Wi-Fi or Mobile Data Settings.
But the response time is very long and the user has the opportunity to use the app. I want the box to be displayed quickly.

[2019-09-10 16:36] VahidGarousi commented on #374
The scenario of my program is that if the Internet was disconnected the phone would display a message box to the user.
In this box I redirect the user's message to the Wi-Fi or Mobile Data Settings.
But the response time is very long and the user has the opportunity to use the app. I want the box to be displayed quickly.

[2019-09-10 16:37] pwittchen commented on #374
You can configure initial observing interval and observing interval via
InternetObservingSettings and decrease default values. It's described in
documentation in README.md

--
Piotr Wittchen,
http://wittchen.io

wt., 10 wrz 2019, 18:31 użytkownik Vahid Garousi <notifications@github.com>
napisał:

[2019-09-11 09:10] #374 closed, assigned to nobody

[2019-09-11 12:42] VahidGarousi opened #375 "A question about the state of the Internet"
Hi @pwittchen
Thank you for this practical library I had a question about the functionality of this library
I receive the following message in logcat :
Mobile : Galaxy J7 Prime
The phone keeps sending the following message in logcat:
(HTTPLog)-Static: isSBSettingEnabled false
 I/System.out: (HTTPLog)-Static: isSBSettingEnabled false
Could not establish connection with WalledGardenStrategy => Hands

[2019-09-11 12:51] pwittchen commented on #375
Hi,

Thanks for the question. This problem may be related to clearTextTraffic issue introduced in the one of the recent Android versions. Please, have a look at this section in documentation: https://github.com/pwittchen/ReactiveNetwork#cleartext-traffic.

Regards,
Piotr

[2019-09-11 13:10] VahidGarousi commented on #375
I did, but unfortunately the error still remains

[2019-09-11 14:15] pwittchen commented on #375
Do you have such attribute in `<application>` tag in `AndroidManifest.xml`?

[code]

This issue may be related to the Manifest configuration, Android OS or the specific device.

[2019-09-11 14:19] VahidGarousi commented on #375
I was finally able to fix it. I used an auxiliary variable.
If you would like to send you my Base Fragment Class?
If someone whose application was based on fragment uses this class

[2019-09-11 15:57] pwittchen commented on #375
Sure, you can put your solution in this issue, if you think someone else may have similar problem.

[2019-09-12 05:49] VahidGarousi commented on #375
**Base Fragment**
[code]
**Observer Fragment**

[code]

[2019-09-16 11:52] Kisty commented on #323
Would you be happy if I did a PR for the RxJava1 branch? Still on RxJava 1 here. If so, would it just require the link `http -> https` change 9ce9c898d23a32b06b6b2ae68f1ef74c2c7300a5 or do I need to include a0332827194d21c090d3a371f431ad33858eda4e as well?

[2019-09-16 11:54] pwittchen commented on #323
RxJava1.x branch is no longer maintained, but you can add PR if you need
that update and I can create a new release.

--
Piotr Wittchen,
http://wittchen.io

pon., 16 wrz 2019, 13:52 użytkownik Timothy Kist <notifications@github.com>
napisał:

[2019-09-16 12:01] Kisty commented on #323
Thanks, man. That's fair. Would be good to put a notice for that on the README.

It's working as expected by manually inputting the https host and port.
`ReactiveNetwork.observeInternetConnectivity(INTERNET_INITIAL_INTERVAL, INTERNET_ONGOING_INTERVAL, "https://clients3.google.com/generate_204", 443, 2000)`

Is this commit required or not? https://github.com/pwittchen/ReactiveNetwork/commit/a033282

[2019-09-16 16:10] pwittchen commented on #323
This is required for that change.

[2019-09-17 19:58] pwittchen opened #377 "Release 0.13.0"
**Release notes**
- replacing default protocol HTTP with HTTPS in WalledGardenInternetObservingStrategy - PR #376, issue #323

**Note**

`RxJava1.x` branch is deprecated and no longer maintained.
This release is done due to community request.

**To do list**
- [x] update docs
- [x] update javadocs
- [x] bump library version
- [x] upload artifact
- [x] close and release artifact
- [x] update change

[2019-09-18 07:21] #377 closed, assigned to pwittchen

[2019-09-19 08:54] Kisty commented on #377
Thanks again, dude!

[2019-09-23 19:53] linster opened #379 "Default InternetObservingSettings object uses http, causing Android 9 to fail on clear-text traffic"
**Describe the bug**
Default InternetObservingSettings object uses http, causing Android 9 to fail on clear-text traffic

**To Reproduce**
Steps to reproduce the behavior:
1. On Android 9, with wifi on, and connected to the internet, use ```ReactiveNetwork.observeInternetConnectivity()``` to get an `Observable<Boolean>`

**Expected behavior**
Should return an Observable of true.

**Actual Behaviou

[2019-09-23 19:57] pwittchen commented on #379
Thanks for reporting this. It should be quick fix.

[2019-09-27 05:15] #375 closed, assigned to nobody

[2019-10-07 09:58] michaeltweed commented on #379
Is this fixed by https://github.com/pwittchen/ReactiveNetwork/pull/376?

[2019-10-07 10:45] pwittchen commented on #379
No, because `http` protocol is defined instead of `https` in the `InternetObservingSettings` class.

[2019-10-10 10:09] mbobiosio commented on #176
This is exactly what I'd been trying to achieve. Worked flawlessly. Thanks

[2019-10-21 10:21] stari4ek opened #387 "Rare DeadSystemException when device (AndroidTV) goes to sleep"
**Describe the bug**
I'm seeing rare crashes in Crashlytics with callstack:
[code]

Most probably device is going to sleep or power off. And there is network notification dispatched while VM is dying.

**Expected behavior**
It would be nice to catch those errors and route with `onError`

**Device:**
- Android: 7.0
- Android Build: SVP4KDTV15_EU-user 7.0 NRD91N.S34 5.433 release-keys
- Manufacturer

[2019-10-21 10:40] pwittchen commented on #387
Hi @stari4ek,

Thanks for reporting this. According to the logs, it may be related to `ConnectivityManager.getActiveNetworkInfo()` method from Android API, which could throw `DeadSystemException`. I haven't seen that error before. Maybe catching this error while getting `activeNetworkInfo` will solve this problem. I'll have a look on that.

Regards,
Piotr

[2019-10-21 10:42] stari4ek commented on #387
* https://github.com/karczews/RxBroadcastReceiver/issues/13
And one more same of a kind:
[code]

[2019-10-21 10:44] pwittchen commented on #387
Error from the last log looks like it's caused by another library, but general problem is probably the same.

[2019-10-21 11:18] stari4ek commented on #387
ah. ouch.
you're right. Sorry for that

[2019-10-27 02:56] gcandrade10 commented on #318
Hi, any news on this one?

[2019-10-27 08:53] pwittchen commented on #318
Hi,

Not yet. If you'd like to have this update faster, then I'm open for PRs as always. :-)
In case of fixing this problem, I'll update this issue in the future.

Regards,
Piotr

[2019-11-13 04:42] zigic88 opened #391 "Get active connection speed"
Hi Sir, with ReactiveNetwork can we get internet connection speed from ReactiveNetwork.observeInternetConnectivity() ?

[2019-11-13 04:46] pwittchen commented on #391
Hi,

You don't need this library for this. You can check e.g. this solution:
https://stackoverflow.com/questions/19154992/getting-data-speed-of-wifi-mobile-network-programmatically#19155177

--
Piotr Wittchen,
http://wittchen.io

śr., 13 lis 2019, 05:42 użytkownik Reja <notifications@github.com> napisał:

[2019-11-13 04:56] zigic88 commented on #391
Thank you Sir for your reply,

But I have a case like this:
application will  observing internet connectivity continuously
If (connection not available)
then application will notifiy to user about no connection.
else if (  ( connection available but connection speed is slow) )
then application will notifiy to user about slow connection

What do you think about that case? Can we use this reactivene

[2019-11-13 08:53] pwittchen commented on #391
Then you'll need to perform combination of the library and the code snippet
with connection speed wrapped as RxJava observable. These two observables
will need to be combined with flatmap or switchmap operator. It requires
additional coding. I cannot give you exact solution now because I am
writing from the phone. Maybe I'll add possibility to read connection speed
via this library on the future.

[2019-11-13 15:22] zigic88 commented on #391
Hi Sir,
Thank you for your explanation.
Can you give me some example later about two observables combined with flatmap or switchmap?
Really thank you for you help.

[2019-11-14 07:26] pwittchen commented on #391
I can try to provide such example later when I find some time, but I cannot
promise you the exact date.

--
Piotr Wittchen,
http://wittchen.io

śr., 13 lis 2019, 16:22 użytkownik Reja <notifications@github.com> napisał:

[2019-11-14 12:12] zigic88 commented on #391
Okay Sir, I'll wait for it.
Thank you for your help.

[2019-11-29 11:02] kokrokro commented on #379
Excuse me, is this issue solved? Cause I'm using the last version, but it throws the same exception.

[2019-11-29 11:05] pwittchen commented on #379
No. I was busy doing other stuff, so I haven't done it yet. I'll probably fix it later. I'm also open for PRs if you want to have it fixed sooner.

[2020-02-10 08:36] mahdi302 commented on #379
Hi, M.r pwittchen.
have you fixed this problem..?
cause I'm using this library in my app and it's not working on android 9 version

[2020-02-14 09:07] Polyterative commented on #318
Any alternative library/util to use until this is updated? My gradle is not allowing me to compile because of this deprecated use

[2020-03-04 06:35] soshial commented on #379
I consider this quite a big problem. Will this be fixed?

[2020-03-06 06:06] adaonder opened #412 "Fatal Exception: MarshmallowNetworkObservingStrategy.java line 80"
**BUG**

1. MarshmallowNetworkObservingStrategy.java line 80
2. com.github.pwittchen.reactivenetwork.library.rx2.network.observing.strategy.MarshmallowNetworkObservingStrategy.observeNetworkConnectivity

**LOG**

[code]

**Smartphone (please complete the following information):**
 - Device: Galaxy J4, HUAWEI P smart, HUAWEI P smart 2019, Galaxy A70
 - OS: Android 9
 - Library Version: 3.0.6

[2020-03-06 06:39] pwittchen commented on #412
Thanks for reporting that.
When did you get this error? What are the steps to reproduce it?
It looks like connectivity manager inside Android SDK received too many requests. I haven't encountered that error before.

[2020-03-06 06:58] adaonder commented on #412
I updated the error report. It happens at a random time. There is no such problem on my device.
There is such a problem and I sent it for you to see. There is no serious problem right now. I noticed it through Firebase Crashlytics.

[2020-03-06 07:20] pwittchen commented on #412
Ok, I'll have a look at this.

[2020-03-09 15:59] pwittchen opened #413 "Investigate codecov.io test coverage report upload"
In order to make build work after gradle update, I needed to switch to another jacoco android gradle plugin (old plugin didn't work with the new gradle version). It probably generates reports in another directory than original plugin and probably coverage reports are not uploaded. It need to be investigated.

Possible fix idea:

create new gradle task, which execute jacoco test report first and th

[2020-03-09 16:38] #379 closed, assigned to nobody

[2020-03-09 16:39] pwittchen commented on #379
fixed, it will be available in the next release (probably this week)

[2020-03-09 16:47] pwittchen commented on #413
Reports from the recent builds after update were uploaded, so it was probably temporary error.

[2020-03-09 16:47] #413 closed, assigned to pwittchen

[2020-03-10 14:06] holoc285 opened #415 "checking internet connectivity is not working on android Q"

[2020-03-10 14:16] pwittchen commented on #415
Thank you for reporting this issue. What **exactly** doesn't work? Any details?

[2020-03-10 16:37] Polyterative commented on #87
I still have this happening when calling from a service. android 9.

EDIT: happens in activity, not service

[2020-03-10 16:46] pwittchen commented on #87
Do you get the same error?

[2020-03-11 08:40] Polyterative commented on #87
Yup
[code]
I've registered my stream like this

[code]

In every Activity I have I extend `MyActivityStarter` and listen for `networkStatusStream` events

[2020-03-11 08:41] Polyterative commented on #87
Using v3.0.6 of the lib

[2020-03-11 11:01] pwittchen commented on #87
I'm not sure if it's not related with the `share()` method. In previous cases people didn't use it. Do you dispose these observables? If they're not disposed, it may cause errors like this.

[2020-03-12 13:45] pwittchen opened #416 "release 3.0.7"
**release notes**:
- updated project dependencies
- fixed bug #379 (changed default host protocol to https in `InternetObservingSettings)

**things to do:**
- [x] update javadocs
- [x] update docs
- [x] bump version
- [x] release library
- [x] update changelog
- [x] create github release

[2020-03-12 22:27] #416 closed, assigned to pwittchen

[2020-03-23 05:15] adaonder commented on #412
New Log;

[2020-03-23 05:21] adaonder opened #419 "Error: IntentReceiverLeaked: Activity"
Android 8.1.
Device: Hytera PNC550

**Log**

[2020-03-23 09:50] pwittchen commented on #419
Thanks for reporting this issue. Can you provide any steps to reproduce? When this problem occur?
It seems to be the same issue as in #412

[2020-03-25 13:45] kothsada commented on #415
it is checking internet status always false

[2020-03-27 05:37] lucas34 opened #421 "RxJava 3 support"

[2020-03-27 08:26] pwittchen commented on #421
Thanks for reporting that. I have plans to support RxJava in #365 on the separate branch with the separate artifact.

[2020-03-27 10:36] lucas34 commented on #421
Cool. I didn't see the other ticket. We can close this one as duplicate. Will follow the updates on the other one.
Anything I can do to help ?

[2020-03-27 10:36] #421 closed, assigned to nobody

[2020-03-30 02:31] eslam2010011 commented on #415
+1

[2020-03-30 06:17] pwittchen commented on #415
Do you have any stacktrace? Does it relate to network checking or just internet checking? Are you sure that your internet connectivity is reliable? What methods from the API are you using? Any code snippets?

[2020-03-30 20:48] andrey-bolduzev opened #422 "Wrong port in connectivity check calls in 3.0.7"
**Describe the bug**
After upgrading to 3.0.7 `ReactiveNetwork.observeInternetConnectivity` stops working with:
[code]

**To Reproduce**
Call `ReactiveNetwork.observeInternetConnectivity`.

**Expected behavior**
`true` is emitted on detected network connectivity.

**Smartphone (please complete the following information):**
 - Device: Pixel 2 (emulator)
 - OS: Android 10
 - Library Version: 3.0.7

[2020-03-30 21:08] pwittchen commented on #422
Thanks for reporting this problem. It should be fixed soon.

[2020-04-01 15:40] pwittchen commented on #415
It may be related to #422

[2020-04-01 20:08] pwittchen commented on #422
I tested it for port 443 and it didn't work in my case. I decided to change protocol from https into http in PR #425 because it works properly with default host. We can investigate this issue in the future in case of changing protocol back to https. I think not secure connection is not a big deal here because it's used just for "ping" - not for transmitting sensitive data.

[2020-04-01 20:13] pwittchen commented on #415
I changed default port from https to http in default host for internet checking in PR #425. Https stopped working for default host for some reason and changing port didn't help. It should fix this issue.

[2020-04-01 20:28] #422 closed, assigned to nobody

[2020-04-01 20:35] pwittchen commented on #415
It should be fixed now. Bug-fix will be available in the next release.

[2020-04-01 20:35] #415 closed, assigned to nobody

[2020-04-01 20:39] pwittchen opened #426 "Release 3.0.8"
**release notes**:
- updated project dependencies
- update gradle version
- fixed bug #422 and #415 (changed port for default host for checking internet connectivity from https to http)

**things to do:**
- [x] update javadocs
- [x] update docs
- [x] bump version
- [x] release library
- [x] update changelog
- [x] create github release

[2020-04-02 09:04] #426 closed, assigned to pwittchen

[2020-04-03 15:55] eslam2010011 opened #427 "leaked IntentReceiver"
use android 9

2020-04-03 17:15:28.355 27914-27914/com.opyapp E/ActivityThread: Activity com.opyapp.ui.Activity.Home.MainActivity has leaked IntentReceiver com.github.pwittchen.reactivenetwork.library.rx2.network.observing.strategy.MarshmallowNetworkObservingStrategy$4@79be023 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked:

[2020-04-03 17:38] pwittchen commented on #427
Thanks for reporting this. It's duplicate of #419.

[2020-04-03 17:38] #427 closed, assigned to nobody

[2020-04-03 17:52] eslam2010011 commented on #427
Thank you for this great library but how do you fix this

[2020-04-03 23:02] pwittchen commented on #427
Please follow this problem in #419 issue. Right now, I don't know how to fix this issue. If you can provide steps to reproduce this problem, it will be helpful to diagnose the issue. Moreover, please make sure that you disposed your observables appropriately (e.g. in onPause() method) because this problem may be caused by this.

[2020-04-07 13:56] 0xGuybrush opened #428 ""NetworkCallback was already unregistered" if re-using Observable"
**Describe the bug**

Subscribing to a single "internet connectivity check" from two different disposables causing an `IllegalArgumentException` when disposing obserable chains on pause.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Observable for Internet connectivity, e.g.

[code]

2. Subscribe to the observable from two different disposables:

[code]

3. Configure CompositeDis

[2020-04-07 14:15] pwittchen commented on #428
Hi,

Thanks for reporting issue. I suppose this problem may be related to the fact that there is more than one Disposable per from the ReactiveNetwork single Activity and the same objects could reused. Due to this fact, when NetworkCallback is unregistered once, then another one cannot be unregistered because of the same object. I'm not sure about that, but that's my guess.

Regards,
Piotr

[2020-04-07 15:12] 0xGuybrush commented on #428
Hi Piotr,

thanks for your reply & getting back so quickly.

I have multiple pieces of functionality that depend on network state in some of my activities, so thought the cleanest way was to reuse, but I'll see if I can refactor it though to use a single disposable instead.

Best
Dave

[2020-04-09 10:50] 0xGuybrush commented on #428
Just to note, if anyone else comes across this, that I now think the correct way of reusing this in RxJava is to turn it into a `ConnectableObservable` to allow multiple observables to chain to it and will only dispose when the final downstream Observable disconnects.

I've used `.share()` here to handle this and seems to be working fine to turn it into a "hot" observable. Closing ticket, as it's

[2020-04-09 10:50] #428 closed, assigned to nobody

[2020-04-09 17:08] pwittchen commented on #428
Great! I'm glad you solved this issue. :)

[2020-04-10 09:11] pwittchen opened #429 "Migrate CI from Travis to GitHub Actions"
We should migrate build, check, tests and test coverage.

[2020-04-17 23:10] bhuangy commented on #318
Looks like this is still an issue. Any updates on this?

[2020-04-17 23:17] pwittchen commented on #318
Like I said, I'll try to do it in the meantime, but if you want to have the update faster, you can create a new PR. Project is open-source.

[2020-04-19 15:39] holoc285 commented on #415
Thanks in advance. @pwittchen

[2020-04-19 17:43] pwittchen commented on #415
@holoc285 bug fix is already released in version 3.0.8 for RxJava 2. This bug should not occur in this version. If you still have it, then please report it.

[2020-04-19 18:49] eslam2010011 opened #431 "connection speed"
this library be from Facebook, can it be combined with your library to measure internet speed? Thank you

https://github.com/facebookarchive/network-connection-class

[2020-04-19 19:07] pwittchen commented on #431
It can be combined with any library. It's developer choice how to perform an integration. In the case of the linked library, everything depends on what you want to achieve.

[2020-04-19 19:31] eslam2010011 commented on #431
Can you add it now, thank you

[2020-04-19 19:56] pwittchen commented on #431
I don't want to add too many dependencies to this library. If you want to combine network-connection-class and ReactiveNetwork, then it should be done in your application. Moreover, I don't know what do you want to achieve, so even if I'd like to add new functionality to my library, I don't know your expectations.

[2020-04-20 00:39] eslam2010011 commented on #431
This helps a lot in making decisions, such as whether the internet is weak, it switches to offline mode, and when the internet is strong, it switches to online mode, not just knowledge, there is internet or not

[2020-04-22 22:56] pwittchen commented on #431
I know, but this library has single responsibility. I don't want to put too many things in it. You can combine these two projects in your app by yourself if you need to.

[2020-04-23 11:15] 0xGuybrush commented on #412
I was able to reproduce this —

1. I had a `BaseActivity` class that multiple activities extended from.
2. In its `onResume` I was creating an instance of `ReactiveNetwork.observeNetworkConnectivity()`
3. In some activities this was being subscribed to & in those cases the Subscription was disposed in `onPause()`.
4. In other activities thoguh it wasn't being used, so there was no unsubscription.

[2020-04-24 11:54] pwittchen commented on #412
Hi @another-dave. Thanks for your comment. I didn't know about this limitation. If applying this slight change will prevent these errors or will reduce them, I think it's worth introducing it into the code-base.

[2020-05-02 14:19] phansier commented on #368
@ychescale9 did you manage to do porting? Or maybe did you find any existing analogues based on Kotlin Flow?

[2020-05-02 14:25] ychescale9 commented on #368
I haven’t found the time to do it yet but hoping to get to it soon. I’ll probably do a prototype [here](https://github.com/ReactiveCircus/streamlined) and then move it to a proper library later.

[2020-05-11 20:40] phansier commented on #368
@ychescale9 @pwittchen I've made a port by myself: https://github.com/AndreySBer/FlowReactiveNetwork
Please use it. Any help or issues are welcome.

[2020-05-11 20:47] pwittchen commented on #368
Great! Thanks for the update.

[2020-05-28 10:01] pwittchen opened #435 "fix error prone config for the RxJava2.x branch after bumping its version"
Without this build is failing.

Log: https://travis-ci.org/github/pwittchen/ReactiveNetwork/builds/692084469

[2020-05-28 20:28] pwittchen commented on #435
I reverted this change. I couldn't bring null away back to work after this upgrade.

[2020-05-28 20:28] #435 closed, assigned to nobody

[2020-06-03 18:49] pwittchen commented on #365
Done in PR #441.

[2020-06-03 18:49] #365 closed, assigned to pwittchen

[2020-06-03 18:51] pwittchen opened #442 "Release 4.0.0-rx3"
Release notes:
- **migrated library to RxJava3.x** on RxJava3.x branch and released it as `reactivenetwork-rx3` artifact
- the `onError` method in `NetworkObservingStrategy` now requires a `Throwable` instead of an `Exception`.
- updated project dependencies
- update gradle version

Things to do:

TBD.

[2020-06-18 08:10] juliankotrba commented on #115
We are also experiencing the same problem. There is also a related issue on the google bug tracker (see [here](https://issuetracker.google.com/issues/37137911)).
@neteinstein have you meanwhile found a workaround? I am thinking about doing an extra ping check if the status DISCONNECTED/BLOCKED is returned.

Maybe this problem can be fixed by solving #318

[2020-06-18 10:04] neteinstein commented on #115
@juliankotrba Not really.
After a few attempts I stopped using this.

[2020-06-18 10:08] juliankotrba commented on #115
@neteinstein thanks for your answer. Have you made a custom implementation or did you switch to an alternative library?

[2020-06-18 10:21] neteinstein commented on #115
@juliankotrba Custom implementation.

If you're looking for an alternative: [Merlin](https://github.com/novoda/merlin) lib from novoda seems to work with Doze.

[2020-06-18 14:36] isabsent opened #443 "[Question] What is a reason to use http instead of https protocol in your library internal requests?"
If I don't use `android:usesCleartextTraffic="true"` in manifest and don't specify `network_security_config.xml` with permitted hosts, I get

    java.io.IOException: Cleartext HTTP traffic to clients3.google.com not permitted
It is OK, but what is a reason to use `http://` in your library internal requests, which are the reason of above exception? Why don't you use `https://`?

[2020-06-18 19:27] pwittchen commented on #443
I had some problems with pinging Google server over https protocol. Here you can see commit, which changed that with appropriate git commit message and links to the referenced issues: https://github.com/pwittchen/ReactiveNetwork/commit/d8556be2f0e981c441a5a1d1e6f050e1d27445ba

I don't know if Google changed something in their infrastructure, but I know I was experiencing problems with https as wel

[2020-06-19 02:25] #443 closed, assigned to nobody

[2020-07-05 01:22] AhmedMourad0 commented on #87
v3.0.8 and still getting the same error, even if I wrap the observable in a LiveData it still produces the same error.

I'm not using `share` either:

[code]

[2020-07-05 09:36] pwittchen commented on #87
@AhmedMourad0 Have you tried to test this without `retry()`? I think using `retry()` in this case is not the best idea, because `observeNetworkConnectivity(context)` method wraps `BroadcastReceiver` which is controlled by the Android system - not the app. Due to this fact, we cannot _force_ retry this call. It will be invoked by the system and we don't know when. This method just spawns the `Broad

[2020-07-06 17:26] AhmedMourad0 commented on #87
Thank you for the quick reply!

I've been trying with it a little, I removed the `retry` and the LiveData entirely, still getting the same error.

It seems to happen when I press the home button and come back to the app, even though I do subscribe in `onStart` and dispose in `onStop`.

The testing device is a Huawei Y7 Prime 2018 and the Android version is Oreo 8.0.0

This's the entire stacktrace:

[2020-07-06 17:49] pwittchen commented on #87
I think, you should subscribe in `onResume()` and dispose Disposable in `onPause()` instead of `onStart()` and `onStop()`.

[2020-07-06 18:28] AhmedMourad0 commented on #87
That does indeed seem to be the problem, although, unfortunately, not `LiveData` friendly, moving to `onResume` and `onPause` solves this issue.

Thank you!

[2020-07-06 18:29] pwittchen commented on #87
Great! So we can close this issue now.

[2020-07-06 18:29] #87 closed

[2020-07-13 14:26] lion4ik commented on #368
Oh, guys I have also done the same port https://github.com/lion4ik/NetworkFlow

[2020-07-13 14:42] ychescale9 commented on #368
@lion4ik thanks!

Since there are a couple of alternatives now (and there’ll be more to come) I think we can close the issue now😀

[2020-07-29 22:01] ergindogan commented on #442
Hey! I have been using the library and loving it. We recently updated our rx stack to 3.x. Is there anything here I can help to move this along? Thank you!

[2020-07-29 22:27] pwittchen commented on #442
Hi,

Thank you for the message. It's my side project and I have limited amount of time for such stuff these days due to daily work and other things. I'll try to release it soon.

Regards,
Piotr

[2020-09-23 15:06] jriley commented on #295
When you use the `ReactiveNetwork.observeNetworkConnectivity(context)` if you ever call dispose of that observable it sends an onCancel signal to the origin. The origin unregisters the `idleReceiver : BroadcastReceiver` from the context provided. If you call have more than one subscribers to that origin the second dispose tries to send a cancel signal as well. The reference tries to unregister the

[2020-10-18 09:47] devsparkles commented on #442
Thanks Piotr.

[2020-12-11 10:19] TienHai opened #456 "How know which connection type is better ?"
Hi,

First, thanks for your job, it  what a need !

If we have WIFI and Mobile, how we know which best?
Can we have an Observable on this state ?

Thanks

[2020-12-11 10:38] pwittchen commented on #456
Hi,

Library cannot give you information, which type of connection is the best. You can extract some details regarding NetworkState and figure out the connection quality basing on that information. I'm not sure if it's possible, but you can try to test it.

Regards,
Piotr

[2020-12-21 17:30] softartdev commented on #442
I had to build the library from the RxJava3.x branch and include the aar-file manually. It works completely.
For use in production, it remains to wait for the release of the library.

[2020-12-24 14:22] ivannarino commented on #442
It's been almost 6 months that the repo hasn't been maintained, let us know if we can help to get this release rolling!

[2020-12-24 20:53] pwittchen commented on #442
Sorry guys. I've been busy at daily work and doing other stuff. I have some
free time in the nearest days, so I'll try to push some updates.

--
Piotr Wittchen,
http://wittchen.io

czw., 24 gru 2020, 15:22 użytkownik Ivan Nariño Del Castillo <
notifications@github.com> napisał:

[2021-01-24 06:50] Dark7SiD opened #457 "NetworkInfo.State Deprecated"
**Describe the bug**
The class NetworkInfo was deprecated in API level 29, the library needs some fixing.

[2021-01-24 11:34] pwittchen commented on #457
Thanks for reporting this. It's going to be fixed soon.

Relates to #455

[2021-02-25 15:08] rickytribbia commented on #442
👋🏻  Any news about this release? Thank you for your great work!

[2021-03-16 08:42] arsalanfakhar opened #458 "Rx Java 3 support"
Waiting for Rx Java 3 support

[2021-03-16 08:44] arsalanfakhar commented on #442
Any updates

[2021-03-22 15:37] denys-meloshyn commented on #412
@pwittchen do you have any updates about this issue?

[2021-04-02 16:32] adarsh-kh4u commented on #412
I'm facing same issue

[2021-04-11 09:30] Ankit0080 opened #459 "BroadCast Receiver stopped working"
After using this library my broadcast receiver which was working fine before inside the same activity stopped working

[2021-04-11 10:46] pwittchen commented on #459
Hi @Ankit0080,

Under the hood library uses broadcast receivers for detecting application idle state or network change depending on the Android version installed on the device. If your activity is using one of these receivers, they may interfere with this library. You should decide if you want to use this library or custom receivers to monitor device state. Another solution, may be creating custom

[2021-04-11 10:54] Ankit0080 commented on #459
@pwittchen I am using broadcast receivers for some other task not for Connectivity and that broadcast event stopped firing after using library SO is there any way around.?

[2021-04-11 11:06] pwittchen commented on #459
It's strange. I have never heard of such issues before. My only guess is the fact that broadcast receivers inside the library cannot work with your custom broadcast receivers, but I'm not sure about that.

Possible workarounds (I'm not sure if they will work, it's just my guess):
- avoid using [observing network connectivity](https://github.com/pwittchen/ReactiveNetwork#observing-network-connectiv

[2021-04-11 11:08] Ankit0080 commented on #459
@pwittchen  ok thanks for your support i will follow these steps you mentioned to sort out the issue

[2021-04-11 11:35] Ankit0080 commented on #459
@pwittchen I tried your suggestion they aren't working and then i removed the code from same activity where i am using broadcast receiver and guess what broadcast receiver started working so i guess there is conflict between this library and Custom Broadcast receiver.

[2021-04-15 02:43] softartdev commented on #442
Published [RxJava3.x branch version](https://github.com/softartdev/ReactiveNetwork) from [my Maven Central account](https://repo1.maven.org/maven2/io/github/softartdev/reactivenetwork-rx3/4.0.0/). If anyone needs it:
[code]

[2021-04-21 08:12] seladev opened #460 "Google pixel wifi change event is received in 30 sec delay"
**Describe the bug**
I am using this code for listening to wifi changes -
ReactiveNetwork.observeNetworkConnectivity(context)
                .subscribeOn(Schedulers.io())
                .filter(ConnectivityPredicate.hasType(NetworkCapabilities.TRANSPORT_WIFI))
                .observeOn(AndroidSchedulers.mainThread())
                .subscribe({
                    logWarning("###### change net

[2021-04-21 08:15] pwittchen commented on #460
Thanks for reporting this.

If you observe different behavior on two different devices with the same code where the only difference is delay, then this is clearly hardware issue and library cannot do anything about this. It can be also Android OS issue, but still it's not related to the library.

Regards,
Piotr

[2021-04-21 08:43] seladev commented on #460
Thanks for your quick answer

When i am listening to wifi changes with BroadcastReceiver i can see that the wifi connection event immediately.
This is the BroadcastReceiver:
` receiver = new NetworkChangeReceiver();
        IntentFilter intentFilter = new IntentFilter();
        intentFilter.addAction(ConnectivityManager.CONNECTIVITY_ACTION);
        intentFilter.addAction(BluetoothAdapter.ACTION_

[2021-04-21 08:52] pwittchen commented on #460
In this receiver you are not using `NetworkCapabilities.TRANSPORT_WIFI`. I haven't tested library with this option. When you will use `filter(ConnectivityPredicate.hasType(ConnectivityManager.TYPE_WIFI))` in the library, then you will get immediate result as well.

[2021-04-21 09:03] seladev commented on #460
I tried this code `filter(ConnectivityPredicate.hasType(ConnectivityManager.TYPE_WIFI))`
It is the same behaviour  - 30 sec delay

[2021-04-21 09:16] seladev commented on #460
I also tried it with no filter - and It is the same behaviour - 30 sec delay

[2021-07-20 10:34] AleksanderMielczarek commented on #442
Any updates on that?

[2021-08-04 06:03] jonesn123 opened #461 "java.lang.IllegalArgumentException: Too many NetworkRequests filed in Android Nougat(7.1.1)."
**Describe the bug**
Occur crash when I call the function checkInternetConnectivity().
This is one time issue.

**To Reproduce**
Steps to reproduce the behavior:
1. call below function
fun checkInternetConnectivity(context: Context): Observable<Boolean> =
        ReactiveNetwork.observeNetworkConnectivity(context)
            .flatMapSingle { connectivity ->
                @Suppress("DEPRECATION"

[2021-08-04 08:46] pwittchen commented on #461
Hi,

Thanks for reporting this issue. It seems to be related to the specific version of the Android OS. It looks like Android is blocking situation, when there is too many network requests. I also don't know how many is "too many" Catching this exception won't solve the problem. I think, in this case you should use observe network only or limit somehow these network checks. Also ensure if you are

[2021-08-05 00:19] jonesn123 commented on #461
Hi @pwittchen

Thank you so much your message.
I'm going to fix my function using firstOrError() as you mention.

[code]

If this issue occur again. I'll let you know.

Thanks.

[2021-08-06 04:36] jonesn123 commented on #461
Hi @pwittchen

I fixed above, so this crash count was decreased.
But, still was occurred same crash in Nougat os.

[code]

So, If possible to handle that properly within the library to next version, please let me know.
Thanks.

[2021-08-06 09:07] pwittchen commented on #461
Thanks for the update.

I will try to look into this problem, but at this moment I'm not really sure if it's related to the library code or the Android OS.
From your log I see, crash is at this line:

https://github.com/pwittchen/ReactiveNetwork/blob/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/network/observing/strategy/MarshmallowNetworkObservingStrategy.java#

[2021-08-19 10:13] ExpensiveBelly commented on #461
For those running into this issue and have minimum SDK 24, the fix is to simply do this, which is what we ended up doing, no need for this library:

[code]

This will listen for connectivity changes when the app is in foreground.

At this point all you need to do if you want to listen for connectivity changes you just subscribe to `isConnectedObservable`. You can have as many subscribers as you wa

[2021-08-19 16:19] rpadma commented on #461
@pwittchen - I'm running into a similar issue - adding the logs from the library if that helps.
 Version - `0.13.0`

[code]

[2021-12-01 08:25] agarajaev opened #462 "MarshmallowNetworkObservingStrategy.java line 80"
The bug is reproduce only on 11 android when call ReactiveNetwork.observeNetworkConnectivity(context)

https://android-review.googlesource.com/c/platform/frameworks/base/+/1758029/

In ExoPlayer it is fixed like this
https://github.com/google/ExoPlayer/commit/2e21208f639c7eb5baf5e7a3ae1180b13be3b733

android.net.ConnectivityManager.registerNetworkCallback (ConnectivityManager.java:4564)
com.github

[2021-12-01 09:18] pwittchen commented on #462
Thanks for reporting this. I'll have a look on that.

[2022-02-07 14:52] Fando commented on #462
Hi there,

Thanks for a wonderful library. Just following up on this issue. It's [a known bug in Android 11](https://issuetracker.google.com/issues/175055271), which was fixed in Android 12. However, the only workaround for it in Android 11 requires catching the exception when calling `ConnectivityManager.registerNetworkCallback`, in `MarshmallowNetworkObservingStrategy.observeNetworkConnectivity`

[2022-02-10 17:47] HappyDr0id commented on #462
Hi 👋 +1 about the comment just above, I also encounter this crash on Android 11 devices. I'm catching the exception but if the library could handle it in a nicer way, that would be great 🙂

[2022-04-20 13:57] guillaumeAgisHeetch commented on #462
Hello,
any update ?

Thanks

[2022-05-25 13:49] Blafasel3 commented on #461
Running into the same issue an Android wit the following SDK versions:
        minSdkVersion 23
        targetSdkVersion 28

Sadly no way to figure out in which scenario this happens.

[2022-07-04 10:22] ivancarras commented on #442
Thanks so much, you rock! @softartdev

[2022-07-21 13:23] asknask opened #463 "isConnectedToInternet always false"
**Describe the bug**
The value is always false, even if internet is connected. The observer also doesn't get triggered if I change network state by turning off wifi and data.

**To Reproduce**
[code]

**Expected behavior**
isConnectedToInternet should return true. Observer should be triggered if internet is not connected.

**Smartphone (please complete the following information):**
 - Device: Pixe

[2022-07-21 14:39] #463 closed, assigned to nobody

[2022-08-10 07:29] mirwisek opened #464 "Internet connectivity issue: Could not establish connection with WalledGardenStrategy"
**Internet connected state is misleading**
I added the library to my projects and I'm only observing internet connectivity. It is always returning false even when my wifi is working fine. To confirm that, I observed network state and it is returning `CONNECTED` while internet connectivity is showing false.

**To Reproduce**
Steps to reproduce the behavior:
1. I just tested the Kotlin sample nothin

[2022-08-10 09:20] pwittchen commented on #464
Thanks for reporting this issue. It looks like clear text traffic configuration is missing. Please, have a look at this paragraph: https://github.com/pwittchen/ReactiveNetwork#cleartext-traffic .
Moreover, if you want to use `WalledGardenInternetObservingStrategy`, please update HTTP response code via `InternetObservingSettings`. E.g set it to `200` because default is `204`. You can also try to se

[2022-10-25 19:10] yifeifiona opened #465 "ReactiveNetwork(RN) usage of IPv6 and DNS results prioritization"
Hi,
I would like to understand RN usage on IPv4 and IPv6 since I can't find in any documentation regarding this.
More specifically, I would like to know:
- Does RN officially support IPv6?
- Does RN prioritize the use of IPv4 over IPv6?
- Is it possible to configure IPv4 over IPv6?

The goal is to prioritize the use of IPv4 since it provides a more stable experience.

Any information will be appre

[2022-10-26 09:04] pwittchen commented on #465
Hi @yifeifiona,

RN library does not have any low-level code regarding prioritization of IPv6 over IPv4 or the other way around. Inside the library, in the `internet.observing` package, for verifying Internet connectivity, I'm using `java.net.Socket`, `java.net.HttpURLConnection` or `javax.net.ssl.HttpsURLConnection` depending on the chosen strategy. Java/Android handles other things related to th

[2022-10-31 07:37] Egi10 opened #466 "Will there be a version for Kotlin Flow ?"
I now have a project using Kotlin Flow, so I wanted to ask if this will be migrated to Kotlin Flow in the future?

Or according to this issue: #368

Thanks

[2022-10-31 11:03] pwittchen commented on #466
Hi @Egi10,

This library heavily relies on RxJava, so Kotlin Flow version would require rewriting it from the scratch. I think it makes more sense to create another project like that, but based on Kotlin Flow instead of rewriting this library because there are still projects out there which rely on RxJava and not everyone migrates to Kotlin Flow. You can search for similar projects based on Kotlin

[2022-10-31 13:55] Egi10 commented on #466
thank you very much

[2022-10-31 13:55] #466 closed, assigned to nobody